.delete-account{
    p{
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        color: black;
        line-height: 1.3;
        @include lg{
            font-size: 22px;
        }
    }
    .delete-button{
        width: 80%;
        max-width: 300px;
        margin: 0 auto;
        margin-top: 2rem;
        border: 1px solid black;
        text-align: center;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        button{
            font-size: 20px;
            font-weight: bold;
            font-family: $main_font;
            line-height: 2;
            cursor: pointer;
            
        }
        &:hover{
            background-color: $orangey-red;
            border-color: $orangey-red;
            button{
                color: white;
            }
        }
        @include lg{
            height: 60px;
        }

    }
}
.modal{
    .modal-inner{
        background: white;
        top: 50%;
        left: 50%;
        position: absolute;
        width: 100%;
        transform: translate(-50%, -50%);
        padding: 50px 10px;
        height: 220px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        max-width: 700px;
        .close{
            position: absolute;
            right: 20px;
            top: 20px;
            svg{
                width: 20px;
                cursor: pointer;
                height: auto;
                @include lg{
                    width: 24px;
                }
            }
        }
        .modal-content{
            p{
                color: $steel;
                font-size: 22px;
                margin-bottom: 2rem;
            }
            .buttons{
                display: flex;
                width: 280px;
                margin: auto;
                justify-content: space-between;
                flex-direction: row-reverse;
                font-size: 18px;
                .yes{
                    width: 100px;
                    button{
                        width: 100%;
                        height: 36px;
                        border: 1px solid black;
                        cursor: pointer;
                        font-size: 18px;
                        &:hover{
                            background-color: $orangey-red;
                            border-color: $orangey-red;
                            color: white;
                        }
                    }
                }
                .no{
                    width: 100px;
                    button{
                        width: 100%;
                        border-bottom: 2px solid black;
                        font-size: 18px;
                        height: 36px;
                        cursor: pointer;
                    }
                }
            }
        }
        &::before{
            content: "";
            width: 74%;
            left: 50%;
            bottom: -10px;
            height: 10px;
            background-color: black;
            transform: translateX(-50%);
            position: absolute;
        }
    }
}