.post-block{
    display: flex;
    .post-image{
        width: 30%;
        max-width: 150px;
        figure{
            position: relative;
            height: 0;
            padding-bottom: 100%;
            picture{
                img{
                    width: 100%;
                    position: absolute;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 2px;
                    cursor: pointer;
                    left: 0;
                }
            }
            @include lg{
                padding-bottom: 60%;
            }
        }
        @include lg{
            width: 38%;
            max-width: 200px;
        }
    }
    .post-content{
        flex: 1;
        padding-left: 4%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .details{
            h2{
                font-size: 18px;
                font-weight: bold;
                direction: rtl;
                line-height: 1.2;
                a{
                    color: black;
                    text-decoration: none;
                }
            }
            p{
                display: none;
                direction: rtl;
                line-height: 1.1;
                font-size: 16px;
                font-weight: normal;
                margin-top: 10px;
                a{
                    text-decoration: none;
                    color: $steel;

                }
                @include lg{
                    display: block;
                }
            }
        }
        
        .post-extra{
            display: flex;
            text-align: right;
            justify-content: flex-end;
            .date{
                font-size: 14px;
                font-weight: bold;
                color: black;
            }
            .contentType{
                font-size: 14px;
                color: $steel;
                font-weight: bold;
                margin-right: 10px;
            }
        }
    }
}