.profile-image{
    width: 100px;
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    picture{
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    .profile-image-placeholder{
        display: flex;
        justify-content: center;
        align-items: center;
        svg{
            width: 50px;
        }
    }
    .profile-image-edit{
        position: absolute;
        z-index: 2;
        background-color: rgba($bluey-grey, 0.82);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 50%;
        .inner{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            span{
                width: 60%;
                height: 1px;
                margin: 10px 0;
                background-color: white;
            }
            svg{
                width: 15px;
                height: auto;
                cursor: pointer;
            }
            .add-icon{
                width: 20px;
            }
            &.placeholder{
                .add-icon{
                    width: 25px;
                }
            }
        }
    }
    input{
        display: none;
    }
    @include lg{
        width: 140px;
        height: 140px;
    }
}


.modal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    user-select: none;
    background-color: white;
    z-index: -1;
    &.active{
        visibility: visible;
        opacity: 1;
        z-index: 10000;
        user-select: auto;
    }
    & .container{
        //position: unset !important;
        div{
            box-shadow: 0 0 0 9999em #ffffffb0;
        }
        img {
            height: 100vw;
            width: auto;
            object-fit: cover;
            max-width: unset !important;
            max-height: 500px !important;
            left: 50%;
        }
        .tall {
            width: 100vw;
            height: auto;
            max-width: 500px !important;
            max-height: unset !important;
            left: 0;
        }
        @include lg{
            background-color: white;
        }
    }
    .buttons{
        background: white;
        position: absolute;
        top: 0%;
        z-index: 3;
        display: flex;
        justify-content: space-between;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        flex-direction: row-reverse;
        padding: 6% 6%;
        align-items: center;
        .close-button{
            display: flex;
            svg{
                cursor: pointer;
                @include lg{
                    width: 30px;
                    height: auto;
                }
            }
        }
        .save-button{
            button{
                border: 1px solid black;
                border-radius: 0;
                outline: none;
                padding: 7px 37px;
                line-height: 1;
                font-size: 18px;
                cursor: pointer;
                &:hover{
                    background-color: black;
                    color: white;
                }
            }
        }
        @include lg{
            padding: 30px 30px;
        }
    }
    .zoom{
        position: absolute;
        box-shadow: none;
        bottom: 10%;
        left: 0;
        width: 100%;
        display: flex;
        width: 84%;
        left: 50%;
        transform: translateX(-50%);
        max-width: 450px;
        justify-content: space-between;
        align-items: center;
        svg{
            cursor: pointer;
        }
        .slider{
            color: black;
            width: 66%;
            span{
                &:last-child{
                    height: 20px;
                    width: 20px;
                    margin-top: -10px;
                }
            }
        }
    }
    @include lg{
        width: 750px;
        height: 750px;
        background-color: white;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 0px 40px #00000012;
        &::after{
            content: "";
            background-color: rgba(175, 183, 196, 0.56);
            position: absolute;
            left: 50%;
            top: 50%;
            bottom: unset;
            right: unset;
            width: 100vw;
            transform: translate(-50vw, -50vh);
            height: 100vh;
            z-index: -1;
        }
    }
}