.account-info{
    .info{
        margin-bottom: 3rem;
        position: relative;
        padding-top: 1rem;
        .info-inner{
            padding-top: 24px;
            .info-element{
                width: 100%;
                display: flex;
                flex-direction: column;
                // margin: 18px 0;
                margin-bottom: 32px;
                transition: all 0.1s ease-in-out;
                label{
                    font-size: 16px;
                    color: black;
                    font-weight: normal;
                    text-align: right;
                    margin-bottom: 5px;
                    //padding: 0 10px;
                    line-height: 1;
                }
                .field{
                    background-color: $pale-grey-three;
                    height: 20px;
                    border-radius: 0;
                    padding-right: 0;
                    transition: padding-right 0.2s ease-in-out, height 0.2s ease-in-out, background-color 0.3s ease-in-out;
                    margin-top: 3px;
                    input{
                        background: none;
                        border: none;
                        outline: none;
                        width: 100%;
                        height: 100%;
                        //padding: 0 10px;
                        font-weight: bold;
                        font-size: 20px;
                        color: black;
                        border-radius: 0;
                        direction: rtl;
                        text-align: right;
                        padding: 0;
                        padding-left: 15px;
                        &[type ="email"]{
                            direction: ltr;
                            font-family: $english_font;
                            font-weight: 600;
                            font-size: 16px;
                        }
                        &::placeholder{
                            color: $bluey-grey;
                            font-family: $main_font;
                            font-weight: normal;
                            font-size: 20px;
                        }
                    }
                    .progress{
                        display: flex;
                        width: 20px !important;
                        height: 20px !important;
                        svg{
                            width: 100%;
                            circle{
                                stroke: black !important;
                            }
                        }
                    }
                    svg{
                        width: 20px;
                        height: auto;
                    }
                    &.withIcon{
                        padding-left: 10px;
                        input{
                            padding-left: 20px;
                        }
                        .icon{
                            cursor: pointer;
                            svg{
                                cursor: pointer;
                                width: 20px;
                            }
                        }
                    }
                    &.error{
                        background-color: red;
                        background-color: rgba($orangey-red, 0.1);
                        border-color: rgba($orangey-red, 0.01);
                        input{
                            color: $orangey-red;
                            &::placeholder{
                                color: rgba($orangey-red, 0.6);
                            }
                        }
                    }
                    @include lg{
                        height: 60px;
                    }
                }
                .field-errors{
                    margin-top: 3px;
                    .error{
                        color: $orangey-red;
                        font-size: 14px;
                    }
                }
                .forget-password{
                    margin-top: 3px;
                }
                &.fake-password{
                    .field{
                        text-indent: -14px;
                        letter-spacing: 14px;
                        font-size: 11px;
                    }
                }
                @include md{
                    .field{
                        width: 47%;
                    }
                    &.half{
                        width: 47%;
                        .field{
                            width: 100%;
                        }
                    }
                }
            }
            form{
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            .form-buttons{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                button{
                    font-size: 18px;
                    line-height: 1;
                    font-weight: normal;
                    font-family: $main_font;
                    text-align: center;
                    cursor: pointer;
                }
                .save{
                    border: 1px solid black;
                    height: 26px;
                    width: 100px;
                }
                .cancel{
                    margin-top: 1.4rem;
                    position: relative;
                    padding-bottom: 2px;
                    &::before{
                        content: "";
                        position: absolute;
                        width: 115%;
                        height: 1px;
                        background-color: black;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                @include md{
                    margin-top: 2rem;
                    width: 100%;
                }
            }
            &.disabled{
                .info-element{
                    .field{
                        background-color: transparent;
                        input{
                            cursor: text;
                        }
                    }
                }
            }
        }
        &.active{
            .info-inner{
                .info-element{
                    margin-bottom: 20px;
                    .field{
                        padding-right: 10px;
                        padding-left: 15px;
                        height: 40px;
                        @include lg{
                            height: 60px;
                        }
                    }
                }
            }
        }
    }
    .edit-button{
        position: absolute;
        left: 0;
        top: 0;
    }
}