.profile-bookmarks{
    
    .heading{
        font-size: 30px;
        text-align: right;
        line-height: 1;
        margin-bottom: 3rem;
        font-weight: bold;
        span{
            border-bottom: 1px solid $bluey-grey;
            line-height: 1;
            display: block;
            width: fit-content;
            margin-left: auto;
            padding-bottom: 4px;
        }
        @include lg{
            font-size: 40px;
        }
    }
    .profile-bookmark{
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 20px;
        padding-bottom: 20px;
        position: relative;
        // background-color: red;
        article{
            padding-top: 0;
        }
        .profile-bookmark-icon{
            width: 15px;
            margin-left: 1rem;
            height: fit-content;
            cursor: pointer;
            svg{
                width: 15px;
                height: auto;
            }
        }
        article{
            flex: 1;
        }
        &::before{
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 1px;
            background-color: $pale-blue;
            @include lg{
                width: 90%;
                right: 0;
                left: unset;
                transform: none;
            }
        }
        &:last-child{
            &::before{
                content: none;
            }
        }
    }
    @include lg{
        max-width: 750px;
        margin-left: auto;
    }
}