.comment{
    direction: ltr;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
    text-align: right;
    //border-bottom: 1px solid $pale-blue;
    //margin-bottom: 1rem;
    padding: 23px 5vw;
    max-width: 600px;
    margin: 0 -5vw;
    position: relative;
    .thread-details{
        display: flex;
        flex-direction: row-reverse;
        flex: 1;
        .icon{
            padding-left: 10px;
            svg{
                width: 15px;
            }
        }
        .thread-details-inner{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            min-height: 80px;
            .thread-title{
                font-size: 18px;
                font-weight: bold;
                color: black;
                line-height: 1.2;
                width: 95%;
                word-break: break-word;
                @include lg{
                    font-size: 22px;
                    width: 100%;
                }
            }
            .thread-extra{
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                margin-top: 1rem;
                .date{
                    font-size: 16px;
                    font-weight: bold;
                    color: black;
                    line-height: 1;
                }
                .section{
                    color: $steel;
                    font-size: 14px;
                    font-weight: bold;
                    margin-right: 10px;
                    line-height: 1;
                    @include lg{
                        font-size: 16px;
                    }
                }
            }
            @include lg{
                min-height: 50px;
            }
        }
        @include lg{
            max-width: 75%;
            padding-left: 20px;
        }
        
    }
    &:last-child{
        border-bottom: none;
    }
    &:hover{
        background-color: $pale-grey-three;
    }
    &::before{
        content: "";
        position: absolute;
        width: 90%;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        background-color: $pale-blue;
        @include lg{
            width: 100%;
        }
    }
    @include lg{
        max-width: 700px;
        margin: 0;
        margin-left: auto;
        padding: 23px 10px;
    }
    
}

.last-reply{
    width: 40%;
    text-align: right;
    padding: 10px 0;
    padding-right: 10px;
    border-right: 1px solid $pale-blue;
    height: fit-content;
    overflow: hidden;
    .title{
        width: 100%;
        color: $steel;
        font-size: 14px;
        margin-bottom: 7px;
        line-height: 1;
    }
    .user{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        .image{
            display: flex;
            img{
                width: 30px;
                height: 30px;
                object-fit: cover;
                border-radius: 50%;
            }
        }
        .user-details{
            flex: 1;
            line-height: 1;
            padding-right: 5px;
            
            .username{
                font-size: 14px;
                font-weight: bold;
                white-space: nowrap;
            }
            .reply-date{
                color: $steel;
                font-size: 14px;
            }
        }
    }
    &.overflow{
       // background-color: blue;
        
        .user{
            position: relative;
            .user-details{
                .username{
                    // position: relative;
                    &::before{
                        content: "..";
                        position: absolute;
                        color: black;
                        left: 0;
                        top: 12%;
                        //transform: translateY(-50%);
                        z-index: 2;
                        font-family: $main_font;
                        letter-spacing: -1px;
                    }
                    &::after{
                        content: "";
                        width: 10px;
                        position: absolute;
                        height: 15px;
                        background-color: white;
                        left: 0;
                        z-index: 1;
                    }
                }
            }
        }
    }
    @include lg{
        width: 25%;
    }
}