.profile-newsletters{
    .title{
        font-size: 22px;
        font-weight: bold;
        text-align: right;
        width: fit-content;
        color: black;
        border-bottom: 1px solid $bluey-grey;
        line-height: 1;
        padding-bottom: 3px;
    }
    .edit-button{
        position: absolute;
        display: flex;
        flex-direction: row-reverse;
        left: 20px;
        top: 30px;
    }
    .newsletters{
        padding-top: 40px;
        direction: ltr;
    }
}