.profile-empty{
    text-align: center;
    .icon{
        svg{
            fill: $pale-blue;
        }
    }
    .label{
        margin-top: 1rem;
        span{
            font-size: 30px;
            display: block;
            font-weight: bold;
            line-height: 1;
            position: relative;
            width: fit-content;
            margin: 0 auto;
            &::before{
                content: "";
                position: absolute;
                left: 50%;
                bottom: 5px;
                transform: translateX(-50%);
                height: 6px;
                width: 101%;
                background-color: $pale-blue;
                z-index: -1;
            }
        }
    }
    .button{
        margin: auto;
        margin-top: 2rem;
    }
    &.community{
        .icon{
            svg{
                width: 150px;
                height: auto;
            }
        }
    }
    &.newsletters{
        .icon{
            svg{
                width: 200px;
                height: auto;
            }
        }
    }
    &.bookmarks{
        .icon{
            svg{
                width: 100px;
                height: auto;
            }
        }
    }
    @include lg{
        display: flex;
        align-items: center;
        .label{
            margin-top: 0;
            position: relative;
            margin-right: 2rem;
            span{
                display: inline;
                &::before{
                    content: none;
                }
            }
            &::before{
                content: "";
                position: absolute;
                left: 50%;
                bottom: 5px;
                transform: translateX(-50%);
                height: 6px;
                width: 101%;
                background-color: $pale-blue;
                z-index: -1;
            }
        }
        .button{
            margin-top: 1rem;
        }
    }
}