.tabs-navigation{
    direction: rtl;
    overflow: hidden;
    align-items: center;
    display: flex;
    transition: all 0.6s ease-in-out;
    position: relative;
    display: block;
    overflow-x: scroll;
    scroll-behavior: smooth;
    .tabs-navigation-inner{
        display: flex;
        transform: translateX(0);
        flex-direction: row;
        //padding-right: 10px;
        width: fit-content;
        align-items: center;
        transition: all 0.6s ease-in-out;
        overflow-x: hidden;
        // direction: rtl;
        .tab-item{
            padding: 0 20px;
            // direction: rtl;
            white-space: pre;
            padding: 6px 12px;
            box-sizing: border-box;
            min-height: unset;
            text-align: center;
            flex-shrink: 0;
            font-weight: bold;
            color: $steel;
            font-size: 18px;
            display: flex;
            line-height: 1;
            cursor: pointer;
            span{
                padding-bottom: 3px;
            }
            &.active{
                color: black;
                font-weight: bold;
                span{
                    border-bottom: 1px solid black;
                    
                }
            }
            &:first-child{
                padding-right: 0;
                @include lg{
                    padding-right: 18px;
                }
            }
            &:last-child{
                @include md{
                    padding-left: 0;
                }
            }
            @include lg{
                font-size: 22px;
                text-align: right;
                padding: 0px 18px;
                padding-bottom: 40px;
                font-weight: bold;
            }
        }
        @include md{
            width: 100%;
            justify-content: space-between;
        }
        @include lg{
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding-right: 0;
            width: 100%;
        }
        
    }
    @include hide-scrollbar;
}