.custom404{
    margin-top: 10%;
    margin-bottom: 20%;
    .error-image{
        text-align: center;
        img{
            height: 400px;
            width: auto;
        }
    }
    .error-content{
        margin-top: 2rem;
        .error-svg{
            svg{
                width: 186px;
                display: block;
                margin: auto;
            }
        }
        .error-text{
            text-align: center;
            font-weight: bold;
            font-size: 22px;
            width: 80%;
            margin: 0 auto;
            line-height: 1.4;
            direction: rtl;
            padding-bottom: 2rem;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                width: 60%;
                height: 1px;
                background-color: $bluey-grey;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
            }
        }
        .error-search{
            width: 60%;
            margin: 0 auto;
            margin-top: 2rem;
        }
    }
    @include lg{
        display: flex;
        flex-direction: row;
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        margin-bottom: 4rem;
        padding: 0 30px;
        .error-image{
            width: 50%;
            img{
                width: 100%;
                height: auto;
            }
        }
        .error-content{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .error-svg{
                svg{
                    width: 342px;
                    margin-left: auto;
                    margin-right: 0;
                }
            }
            .error-text{
                text-align: right;
                font-size: 30px;
                width: 100%;
                margin-right: 0;
                margin-left: auto;
                margin-top: 2rem;
                &::before{
                    right: 0;
                    left: unset;
                    transform: unset;
                    width: 200px;
                }
            }
            .error-search{
                margin-left: auto;
                margin-right: 0;
            }
        }
    }
}