.dictionary{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse; 
    //height: calc(80vh - 65px) !important;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--dictionaryHeight, 1vh) * 100);
    direction: ltr;
    overflow: hidden;
    max-width: 1100px;
    margin: auto;
    padding-top: 196px;
    padding-top: 48%;
    padding-bottom: 4%;
    .dictionary-letter-section{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        max-width: 100px;
        min-width: 70px;
        width: 20%;
        .dictionary-letter{
            position: absolute;
            display: flex;
            left: 50%;
            justify-content: center;
            top: 0;
            transform: translateX(-50%);
            width: 90%;
            img, svg{
                height: auto;
                width: 100%;
                fill: $battleship-grey;
            }
            svg{
                height: 100%;
            }
        }
        .dictionary-letter-icon{
            display: flex;
            justify-content: center;
            svg{
                width: 47%;
                margin-right: 5%;
                height: 100%;
                fill: $battleship-grey;
            }
        }
        &::before{
            content: "";
            position: absolute;
            height: 100%;
            width: 1px;
            background-color: $battleship-grey;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
        }
        @include lg{
            width: 125px;
            display: none;
        }
    }
    .dictionary-content{
        //width: 75%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .dictionary-icon{
            display: flex;
            justify-content: center;
            flex: 1;
            padding-left: 19%;
            figure{
                width: 100%;
                text-align: center;
                img{
                    width: 150px;
                    height: auto;
                }
                @include lg{
                    text-align: left;
                }
            }
            
            &.tall{
                img{
                    height: 100%;
                    width: auto;
                    max-height: 200px;
                }
            }
            &.wide{
                img{
                    height: auto;
                    width: 150px;
                }
            }
            @include lg{
                justify-content: flex-start;
                padding-left: 0;
            }
        }
        .dictionary-content-body{
            text-align: right;
            padding-left: 19%;
            .dictionary-title{
                h1{
                    font-size: 47px;
                    color: $battleship-grey;
                    font-weight: normal;
                    font-size: min(4.5vh, 44px);
                    font-size: min(calc(var(--dictionaryHeight, 1vh) * 4.5), 44px);
                    font-weight: 900;
                }
            }
            .dictionary-divider{
                svg{
                    fill: $battleship-grey;
                    width: 20px;
                }
            }
            .dictionary-definition{
                color: $steel;
                font-size: min(2.4vh, 23px);
                font-size: min(calc(var(--dictionaryHeight, 1vh) * 2.4), 23px);
                direction: rtl;
                line-height: 1.4;
            }
            .dictionary-share{
                margin-top: 1rem;
                @include lg{
                    display: none;
                }
            }
            .dictionary-next{
                display: flex;
                justify-content: center;
                padding-top: 1rem;
                svg{
                    width: 30px;
                    height: auto;
                }
                @include lg{
                    display: none;
                }
            }
            @include lg{
                padding-left: 6%;
            }
        }
        @include lg{
            flex: 1;
        }
    }
    &.edge{
        height: 85vh; /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--dictionaryHeight, 1vh) * 100 - 65px);
    }
    @include lg{
        height: 100%;
        margin: 0 auto;
        padding-top: 0;
        padding-bottom: 0;
    }
  
}