.formLayout{
    min-height: calc(calc(var(--innerHeight, 1vh) * 100) - 122px - 60px);
    display: flex;
    align-items: center;
    .content{
        //height: calc(100% - 150px);
        //min-height: fit-content;
        overflow: scroll;
        position: unset;
        max-height: calc(100% - 150px);
        max-height: calc(calc(var(--innerHeight, 1vh) * 100) - 122px - 60px);
        width: 100%;
        padding: 0 4%;
        text-align: center;
        .inner{
            height: fit-content;
            max-width: 600px;
            margin: 0 auto;
            margin-top: 2rem;
        }
        @include hide-scrollbar;
        @include lg{
            flex: 1;
            max-height: unset;
            height: auto;
            display: flex;
            align-items: center;
            margin-top: 0;
            position: relative;
        }
    }
    .sideBox{
        position: fixed;
        width: 100%;
        bottom: 0;
        overflow: hidden;
        background: linear-gradient(to top, white 72%, #ffffff00 100%);
        z-index: 4;
        padding-top: 0;
        height: 170px;
        display: flex;
        align-items: flex-end;
        .inner{
            height: fit-content;
            height: 112px;
            width: 100%;
            .rotational{
                position: unset;
                .slogan{
                    position: relative;
                    width: 89%;
                    max-width: 400px;
                    margin: auto;
                    display: flex;
                    svg{
                        animation: 120s linear 0s infinite normal none running;
                        animation-name: rotateSlogan;
                        width: 100%;
                        height: 100%;
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 79%;
                        transform: translateX(calc(-50% - 15%)) translateY(-25px);
                        background: radial-gradient(circle at top, rgba(255, 255, 255, 0) 0%, white 60%);
                        height: 50px;
                        width: 30%;
                        z-index: 2;
                        width: 100%;
                        height: 100%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                    }
                }
                .logo{
                    position: absolute;
                    bottom: 10%;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 2;
                    svg{
                        width: 65px;
                    }
                }
                &::before{
                    content: "";    
                }
            }
        }
    }
    &:not(.modal){
        @include lg{
            display: flex;
            flex-direction: row-reverse;
            align-items: unset;
            min-height: unset;
            max-height: unset;
            height: 100vh;
            .content{
                overflow-y: scroll;
                height: 100%;
                align-items: baseline;
                .inner{
                    padding-top: 4%;
                }
            }
            .sideBox{
                position: relative;
                width: 30%;
                max-width: 600px;
                background: black;
                height: auto;
                max-height: unset;
                .inner{
                    max-height: unset;
                    height: 100%;
                    .rotational{
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .slogan{
                            position: relative;
                            width: 100%;
                            transform: translateX(-20%);
                            max-width: unset;
                            z-index: 3;
                            &::before{
                                content: "";
                                position: absolute;
                                top: 50%;
                                left: 79%;
                                transform: translateX(calc(-50% - 15%)) translateY(-25px);
                                background: radial-gradient(circle at right, transparent 0%, black 60%);
                                height: 50px;
                                width: 30%;
                                z-index: 2;
                                width: 120%;
                                height: 120%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                position: absolute;
                                //transform: rotate(-40deg);
                            }
                        }
                        .logo{
                            left: 20%;
                            top: 50%;
                            bottom: unset;
                            transform: translateY(-50%);
                            z-index: 3;
                            svg{
                                fill: white;
                                width: 80px;
                                path{
                                    fill: white;
                                }
                            }
                        }
                        &::before{
                            height: 100%;
                            width: 40%;
                            left: 0%;
                            right: unset;
                            background: linear-gradient(7deg, black, rgba(0, 0, 0, 0)); 
                            background: black;  
                            z-index: 2;
                            content: none;
                        }
                        &::after{
                            content: none;
                            background: linear-gradient(-7deg, black, rgba(0, 0, 0, 0));   
                        }
                    }
                }
            }
        }
        &.forget-password{
            .content{
                @include lg{
                    align-items: center;
                }
            }
        }
    }
    &.modal{
        align-items: unset;
        min-height: unset;
        .content{
            background-color: white;
            position: unset;
            padding-top: 20%;
            padding-bottom: 122px;
            overflow: unset;
            max-height: calc(calc(var(--innerHeight, 1vh) * 100) - 122px);
            max-height: unset;
            
            .inner{
                max-width: 400px;
                margin: 0 auto;
            }
            @include lg{
                background-color: unset;
                padding-top: 0%;
                padding-bottom: 0;
                // max-height: unset;
                height: calc(800px - 170px - 5rem);
            }
        }
        .sideBox{
            @include lg{
                position: relative;
            }
        }
        
        @include lg{
            padding-top: 5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            min-height: 800px;
        }
        &.signup{
            .content{
                @include lg{
                    height: calc(900px - 170px - 5rem);
                }
            }
            @include lg{
                min-height: 900px;
            }
        }
    }
}




@keyframes rotateSlogan {
    0% {
        //left: 50%;
        transform:  rotate(0deg);
    }
    100% {
        //left: 50%;
        transform: rotate(360deg);
    }
}