.page {
    &:not(.padding-only) {
        padding: 3rem 4%;
        @include lg {
            padding: 3rem 25px;

            max-width: 1280px;
            margin: auto;
        }
        @include xl {
            padding: 3rem 15px;
            padding-top: var(--header-height-desktop);
        }
    }
    &.padding-only {
        @include lg {
            padding-top: var(--header-height-desktop);
        }
    }

    &.small-width {
        @include lg {
            max-width: 1100px;
        }
    }
}
