.aaaj-section{
    background-color: black;
    margin-left: -$page-padding-left;
    margin-right: -$page-padding-right;
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0 100%);
    padding: 30% 4%;
    .header{
        text-align: right;
        margin-bottom: 2rem;
        .logo{
            width: fit-content;
            margin-left: auto;
            margin-right: 0;
            position: relative;
            svg{
                fill: white;
                width: 80px;
                height: auto;
                cursor: pointer;
                @include lg{
                    fill: black
                }

            }
            &::before{
                content: "";
                background-color: white;
                position: absolute;
                top: 0;
                left: -30px;
                width: 30px;
                height: 2px;

            }
        }
        .description{
            color: white;
            font-size: 16px;
            font-weight: normal;
            @include lg{
                display: none;
            }
        }
    }
    .content{
        @include lg{
            display: flex;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            .side{
                width: 9%;
                background-color: black;
            }
            .posts{
                flex: 1;
                display: flex;
            }
        }
    }
    @include lg{
        background-color: transparent;
        margin-left: unset;
        margin-right: unset;
        clip-path: unset;
        padding: 0;
        margin-left: -$page-padding-left-desktop;
        margin-right: -$page-padding-right-desktop;
    }
}