.search{
    display: flex;
    flex-direction: row-reverse;
    .icon{
        svg{
            width: 75px;
        }
    }
    form{
        flex: 1;
        margin-right: 10px;
        display: flex;
        align-items: center;
        input{
            height: 75px;
            width: 100%;
            outline: none;
            border: none;
            text-align: right;
            direction: rtl;
            font-family: $main_font, 'specialFont';
            font-size: 20px;
            font-weight: bold;
            &::placeholder{
                color: $bluey-grey;
                font-size: 20px;
                font-weight: normal;
            }
        }
    }
}