.search-bar {
    position: relative;
    width: 100%;
    display: flex;
    .icon {
        position: absolute;
        width: 25px;
        height: 25px;
        cursor: pointer;
        svg {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        .search {
            width: 24px !important;
            height: auto;
        }
        .close {
            width: 13px !important;
            height: auto;
            opacity: 0;
            pointer-events: none;
        }
    }
    .form {
        // position: absolute;
        right: 0;
        bottom: 0;
        // transform: translateX(100%);
        pointer-events: none;
        user-select: none;
        width: 0;
        form {
            input {
                border: none;
                margin: 0;
                text-align: right;
                direction: rtl;
                font-family: $main_font, $english_font;
                border-bottom: 1px solid black;
                width: 0;
                transition: all 0.2s ease-in-out;
                padding: 0;
                font-size: 15px;
                background-color: transparent;
            }
        }
    }
    &.open {
        width: 380px;
        .icon {
            .close {
                opacity: 1;
            }
            .search {
                opacity: 0;
            }
        }
        .form {
            pointer-events: all;
            user-select: all;
            form {
                input {
                    width: 350px;
                }
            }
        }
    }
}

@keyframes searchIconAnimation {
    0% {
        opacity: 1;
        right: 0;
    }
}
