.search-bar{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    margin-left: -4vw;
    margin-right: -2vw;
    align-items: center;
    // width: 100%;
    
    .icon{
        display: flex;
        svg{
            width: 80px;
            @include lg{
                width: 100px;
            }
        }
    }
    .search{
        flex: 1;
        margin-right: -34px;
        border: 1px solid $bluey-grey;
        border-radius: 2px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        form{
            flex: 1;
        }
        input{
            height: 46px;
            text-align: right;
            direction: rtl;
            width: 100%;
            border: none;
            outline: none;
            border-left: none;
            padding: 0 14px;
            font-family: $main_font, $english_font;
            background-color: white;
            border-radius: 2px;
            font-weight: bold;
            color: black;
            font-size: 17px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            &:focus{
                // border: 1px solid $bluey-grey;
                border: none;
                outline: none;
            }
            &::-webkit-input-placeholder {
                color: $bluey-grey;
                font-weight: normal;
                font-size: 17px;
            }
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: $bluey-grey;
                font-weight: normal;
                font-size: 17px;
            }
            &::placeholder{
                color: $bluey-grey;
                font-weight: normal;
                font-size: 17px;
            }
            @include lg{
                height: 55px;
            }
        }
        .sorter{
            width: 250px;
            height: 55px;
        }
        @include lg{
            margin-right: -44px;
        }
    }
    @include lg{
        margin: 0 auto;
    }
}