.box-template{
    position: relative;
    background-color: var(--pageBackground);
    .post-info{
        position: relative;
        height: var(--featured_image_height);
        top: 0;
        z-index: 11;
        .post-info-inner{
            // position: absolute;
            // right: 0;
            // top: 5vw;
            .post-type{
                position: absolute;
                right: 0;
                top: 40px;
                background-color: black;
                color: $pale-grey-three;
                font-size: 20px;
                line-height: 1;
                padding: 10px 25px;
                //width: fit-content;
                //margin-left: auto;
                padding-right: 20px;
                //white-space: pre;
            }
            .post-buttons{
                display: flex;
                position: absolute;
                top: 85px;
                right: 0;
                padding: 2px 0;
                padding-right: 20px;
                flex-direction: row-reverse;
                background-color: black;
                button{
                    // background-color: black;
                    //padding: 10px 10px;
                    // margin-left: 56%;
                    svg{
                        fill: white;
                        height: 20px;
                        width: auto;
                    }
                    &:first-of-type{
                        //padding-right: 2rem;
                    }
                    &:last-child{
                        margin-left: 0;
                    }
                }
            }
        }
        @include lg{
            position: absolute;
            width: 100vw;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .post-header{
        height: var(--featured_image_height);
        display: flex;
        flex-direction: column;
        position: sticky;
        width: 100vw;
        margin: 0 -5vw;
        top: var(--header-min-height);
        left: 0;
        z-index: 10;
        margin-top: -37.5vh;
        margin: 0;
        margin-top: 0;
        position: fixed;
        transform: none;
        .post-image{
            flex: 1;
            overflow: hidden;
            position: relative;
            figure{
                height: 100%;
                picture{
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        left: 0;
                        @include lg{
                            object-position: center;
                        }
                    }
                }
            } 
        }
        .post-title{
            background-color: var(--boxBackground);
            padding: 5% 4%;
            text-align: center;
            color: $battleship-grey;
            font-weight: bold;
            position: absolute;
            width: var(--post_body_width);
            height: auto;
            left: calc(var(--post_body_width) /2 + ((100vw - var(--post_body_width)) / 2 ));
            bottom: 0;
            transform: translate(-50%, var(--title-box-marin-error));
            max-width: var(--post_body_max_width);
            font-size: 20px;
            @include lg{
                padding: 30px 45px;
                width: 80vw;
            }
        }
        &.done{
            position: absolute;
            top: unset;
            transform: translateY(0px);
            bottom: calc(100vh - var(--featured_image_height) - var(--header-min-height));
            @include lg{
                position: relative;
                transform: none;
                bottom: 0;
            }
        }
        @include lg{
            padding-right: 0;
            position: relative;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .post-body{
        height: calc(100vh - 74vw - 61.75px + 10vh);
        transform: translateY(-10vh);
        background-color: var(--boxBackground);
        width: var(--post_body_width);
        margin: auto;
        border-radius: 5px 5px 0px 0px;
        position: relative;
        overflow: unset;
        transform: none;
        border-radius: 0;
        height: fit-content;
        min-height: calc(100vh - 74vw - var(--header-min-height));
        padding-top: var(--title-box-marin-error);
        max-width: var(--post_body_max_width);
        .post-body-inner{
            overflow: unset;
            position: relative;
            min-height: calc(100vh - 74vw - var(--header-min-height));
            @include lg{
                margin: 0 6%;
            }
        }
        @include lg{
            width: 80vw;
        }
    }
    &.fe9am{
        .post-title{
            .fe9am-logo{
                padding-top: 5px;
                img{
                    width: 80px;
                    display: block;
                    margin: auto;
                    height: auto;
                }
            }
            .fe9am-source{
                font-size: 15px;
                font-weight: normal;
                color: $battleship-grey;
            }
        }
        .post-body{
            padding: 0 10px;
            padding-bottom: 5rem;
            .post-body-inner{
                padding-top: 40px;
                .fe9am-content{
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    position: relative;
                    .fe9am-content-item{
                        width: 48%;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        .fe9am-heading{
                            color: $greyish-brown;
                        }
                        .fe9am-date{
                            font-size: 23px;
                            font-weight: bold;
                            direction: rtl;
                            color: black;
                        }
                        .fe9am-pronoun{
                            color: $brownish-grey;
                            direction: rtl;
                            margin-top: 0.6rem;
                        }
                        .fe9am-title{
                            position: relative;
                            padding-top: 1rem;
                            margin-top: 0.25rem;
                            padding-bottom: 1rem;
                            margin-bottom: 1rem;
                            min-height: 86px;
                            min-height: var(--titleHeight);
                            flex: 1;
                            .quote-icon{
                                position: absolute;
                                width: 15px;
                                right: 0;
                                top: 0;
                                svg{
                                    fill: $battleship-grey;
                                }
                            }
                        }
                        &.fe9am-after{
                            .fe9am-title{
                                .quote-icon{
                                    transform: scaleX(-1);
                                    left: 0;
                                }
                            }
                        }
                    }
                    .fe9am-excerpt{
                        overflow: visible;
                        position: relative;
                        width: 48%;
                        text-align: center;
                        height: fit-content;
                        .inner-excerpt{
                            font-size: 14px;
                            line-height: 1.6;
                            height: var(--excerptHeight);
                            transition: all 0.3s ease-in-out;
                            overflow: hidden;
                            direction: rtl;
                            .highlight{
                                font-weight: bold;
                                position: relative;
                                &::before{
                                     content: "";
                                     background-color: $bluey-grey;
                                     height: 30%;
                                     width: 100%;
                                     top: 50%;
                                     position: absolute;
                                     z-index: -1;
                                }
                            }
                        }
                        .expand{
                             position: absolute;
                             bottom: 0;
                             width: 100%;
                             height: 100%;
                             display: block;
                             left: 0;
                             .arrow{
                                 transform: translate(-50%, 110%);
                                 height: 17px;
                                 width: 100%;
                                 bottom: 0;
                                 position: absolute;
                                 cursor: pointer;
                                 &::before, &::after{
                                     content: "";
                                     position: absolute;
                                     bottom: 0px;
                                     width: 1px;
                                     height: 100%;
                                     transition: all 0.5s;
                                     background-color: $bluey-grey;
                                 }
                                 &::after{
                                     left: calc(50% + 7px);
                                     transform: rotate(45deg);
                                 }
                                 &::before{
                                     left: calc(50% + -5px);
                                     transform: rotate(-45deg);
                                 }
                             }
                             &::before{
                                 content: "";
                                 width: 100%;
                                 height: 100%;
                                 background: linear-gradient(to top, var(--boxBackground), rgba(255, 255, 255, 0));
                                 position: absolute;
                                 bottom: 0;
                                 transition: all 0.1s ease-in-out;
                                 transition-delay: 0.3s;
                                 left: 0;
                             }
                        }
                        .excerpt-heading{
                            font-size: 18px;
                            color: $battleship-grey;
                            margin-bottom: 0.5rem;
                        }
                        &.expanded{
                            .expand{
                                .arrow{
                                     transform: translate(-50%, 180%);
                                     &::before{
                                         transform: rotate(45deg);
                                     }
                                     &::after{
                                         transform: rotate(-45deg);
                                     }
                                }
                                &::before{
                                    opacity: 0;
                                }
                            }
                        }
                        &.fe9am-before{
                                &.expanded{
                                    .inner-excerpt{
                                        height: var(--beforeHeight);
                                    }
                                }
                            
                        }
                        &.fe9am-after{
                            &.expanded{
                                .inner-excerpt{
                                    height: var(--afterHeight);
                                }
                            }
                        }
                    }
                    
                    &::before{
                        content: "";
                        height: 100%;
                        width: 1px;
                        background-color: $battleship-grey;
                        position: absolute;
                        left: 50%;
                        top: 0;
                        transform: translateX(-50%);
                    }
                }
                .fe9am-comment{
                    text-align: center;
                    color: $brownish-grey;
                    width: 75%;
                    margin: auto;
                    margin-top: 4rem;
                    position: relative;
                    direction: rtl;
                    span{
                        display: block;
                        color: black;
                        font-size: 20px;
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
    &.files{
        .post-header{
            .post-title{
                transform: translate(-50%, 0);
            }
        }
        .post-body{
            padding-top: 0;
            .post-body-inner{
                justify-content: space-between;
                .file{
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    padding-bottom: var(--file-padding-bottom);
                    position: relative;
                    padding-top: var(--file-padding-top);
                    scroll-snap-align: start;
                    .file-info{
                        width: 18%;
                        .file-source{
                            color: var(--battleship-grey);
                            text-align: center;
                        }
                        .file-time{
                            margin-top: 4px;
                            text-align: center;
                            color: var(--greyish-brown);
                            .file-day{
                                font-size: 13px;
                            }
                            .file-date{
                                word-wrap: break-word;
                            }
                        }
    
                    }
                    .file-content{
                        width: 76%;
                        text-align: right;
                        .file-title{
                            line-height: 1.5;
                            //transition: all 0.3s ease-in-out;
                            color: var(--steel);
                            width: 97%;
                            margin-left: auto;
                            color: $greyish-brown;
                            &::before{
                                content: "";
                                background-color: #65727d;
                                width: 12px;
                                height: 12px;
                                position: absolute;
                                right: var(--timeline-right);
                                top: calc(var(--file-padding-top) + 2px);
                                border-radius: 50%;
                                transform: translateX(50%);
                            }
                        }
                        .file-comment{
                            background-color: var(--battleship-grey);
                            position: relative;
                            margin-top: 1rem;
                            padding:  10px;
                            overflow: hidden;
                            .dal{
                                top: -14px;
                                position: absolute;
                                width: 63px;
                                right: -16px;
                                opacity: 0.22;
                                z-index: 1;
                                svg{
                                    fill: var(--pale-grey-three);
                                }
                            }
                            .file-comment-inner{
                                color: white;
                                direction: rtl;
                                font-size: 13px;
                                z-index: 3;
                                line-height: 1.5;
                            }
                        }
                    }
                    &.active{
                        .file-content{
                            .file-title{
                                color: black;
                                //font-size: 20px;
                                font-weight: bold;
                            }
                        }
                    }
                }  
            }
        }
        .timeline{
            position: absolute;
            width: 100%;
            height: calc(100% - var(--timeline-pin-height));
            top: var(--file-padding-top);
            right: 0;
            .timeline-pin{
                position: absolute;
                width: var(--timeline-pin-width);
                height: var(--timeline-pin-height);
                right: var(--timeline-right);
                top: 0;
                overflow: visible;
                display: block;
                transform: translateX(50%) translateY(-2px);
                border-radius: 50%;
                background-color: rgba($battleship-grey, 1);
                span{
                    position: absolute;
                    
                    width: 100%;
                    height: 100%;
                    z-index: 30;
                    border-radius: 50%;
                }
                &.stable{
    
                    transform: translateX(50%) translateY(2px);
                    //animation: hide 0.5s 1;
                    //animation-fill-mode: forwards;
                    span{
                        animation: pulse 2s infinite;
                        animation-delay: 0.5s;
                    }
                }
            }
            &::before{
                content: "";
                height: calc(100% - var(--file-padding-bottom) - var(--timeline-margin-error));
                width: 1.5px;
                background-color: var(--battleship-grey);
                position: absolute;
                top: var(--timeline-margin-error);
                right: var(--timeline-right);
                transform: translateX(50%);
            }
            &::after{
                content: "";
                position: absolute;
                width: 18px;
                height: 1.5px;
                background-color: var(--battleship-grey);
                right: var(--timeline-right);
                transform: translate(50%, 100%);
                bottom: calc( var(--file-padding-bottom) );
            }
        }
    }
    &.heros{
        .post-body{
            .post-body-inner{
                padding: 0 3%;
                .hero-content-section{
                    text-align: center;
                    .hero-content{
                        color: $battleship-grey;
                        font-size: 18px;
                        z-index: 2;
                        position: relative;
                        line-height: 1.6;
                        @include lg{
                            font-size: 23px;
                            line-height: 1.7;
                        }
                    }
                    .hero-dots{
                        margin: 2rem 0;
                        z-index: 2;
                        position: relative;
                        .dot{
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background-color: black;
                            display: block;
                            margin: auto;
                            margin-bottom: 1.5rem;
                            &:last-child{
                                margin-bottom: 0;
                            }
                        }
                        @include lg{
                            display: none;
                        }
                    }
                    .hero-reason{
                        direction: rtl;
                        color: black;
                        z-index: 2;
                        position: relative;
                        padding-bottom: 2rem;
                        .title{
                            font-size: 26px;
                            font-weight: bold;
                            margin-bottom: 1rem;
                            @include lg{
                                margin-bottom: 0;
                                font-size: 23px;
                                margin-left: 0.5rem;
                            }
                        }
                        .reason-content{
                            font-size: 20px;
                            @include lg{
                                font-size: 23px;
                                color: $brown-grey;
                                line-height: 1;
                                br{
                                    display: none;
                                }
                            }
                        }
                        @include lg{
                            display: flex;
                            margin-top: 2rem;
                            align-items: center;
                        }
        
                    }
                    @include lg{
                        width: 75%;
                        text-align: right;
                        padding-right: 3rem;
                    }
                }
                .hero-image{
                    position: absolute;
                    top: 0;
                    width: auto;
                    height: 90%;
                    z-index: 1;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                    opacity: 0.74;
                    img{
                        height: 100%;
                    }
                    @include lg{
                        position: unset;
                        width: 25%;
                        transform: none;
                    }
                }
                @include lg{
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0 !important;
                }
            }
        }
    }
    &.mokaf7a{
        .post-body{
            .post-body-inner{
                padding-bottom: 4rem;
                .mokaf7a-section{
                    position: relative;
                    overflow: hidden;
                    padding: 5% 9%;
                    min-height: 260px;
                    .section-title{
                        text-align: right;
                        font-weight: bold;
                        color: black;
                        font-size: 23px;
                    }
                    .section-content{
                        text-align: center;
                        color: $battleship-grey;
                        font-size: 20px;
                        line-height: 1.7;
                        direction: rtl;
                        margin-top: 1rem;
                        position: relative;
                        z-index: 2;
                        line-height: 1.4;
                    }
                    .section-icon{
                        position: absolute;
                        top: 50%;
                        z-index: 1;
                        svg{
                            fill: var(--pageBackground);
                            width: 150px;
                        }
                    }
                    &:nth-child(2n+1){
                        .section-icon{
                            left: 0;
                            transform: translate(-25%,-20%);
                        }
                    }
                    &:nth-child(2n){
                        .section-icon{
                            right: 0;
                            left: unset;
                            transform: translate(9%, -36%);
                        }
                    }
                    &.crime{
                        min-height: 180px;
                        .section-icon{
                            svg{
                                width: 200px;
                            }
                        }
                    }
                    &.report{
                        .section-icon{
                            transform: translate(9%, -20%);
                            svg{
                                width: 166px;
                            }
                        }
                    }
                    &.severity{
                        .section-icon{
                            top: 50%;
                            transform: translate(-25%, -30%);
                        }
                    }
                    &.rehabilitation{
                        .section-icon{
                            top: 0;
                            transform: translate(30%, 0%);;
                            svg{
                                width: 190px;
                            }
                        }
                    }
                }
            }
        }
    }
}


@keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba($battleship-grey, 0.4);

    }
    70% {
        box-shadow: 0 0 0 10px rgba($battleship-grey, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba($battleship-grey, 0);
    }
}

// @keyframes hide {
//     0% {
//         width: 17px;
//         height: 17px;
//         background-color: rgba($battleship-grey, 1);
//     }
//     100% {
//         height: 15px;
//         width: 15px;
//         background-color: rgba($battleship-grey, 1);
//     }
// }


