.post-inner{
    max-width: 1100px;
    margin: auto;
}

.default-post{
    padding: 0 5%;
    padding-top: 3rem;
    @include md{
        max-width: calc(1100px + 7rem);
        margin: auto;
        //padding: 0 3.5rem ;
        padding-top: 3rem;
    }
    @include lg{
        padding: 0 3.5rem;
        padding-top: 3rem;
    }
}