.social-share{
    .desktop{
        display: none;
        position: fixed;
        right: 40px;
        top: 50%;
        transform: translateY(-50%) translateX(0%);
        transition: all 0.2s ease-in-out;
        z-index: var(--socialShare-index);
        ul{
            flex-direction: column;
            li{
                padding: 24px 0;
                position: relative;
                max-width: 84px;
                svg{
                    width: 27px;
                    height: auto;
                    fill: $bluey-grey;
                    cursor: pointer;
                }
                &:not(:last-child){
                    &::before{
                        content: "";
                        width: 45px;
                        height: 1px;
                        background-color: black;
                        position: absolute;
                        bottom: 5%;
                        right: 50%;
                        transform: translateX(50%) rotate(-30deg);
                    }
                }
                &:last-child{
                    svg{
                        transform: rotate(11deg);
                    }
                }
                &:hover{
                    svg{
                        fill: $steel;
                    }
                }
            }
        }
        @include lg{
            display: block;
        }
    }
    &.transition{
        background-color: red;
        .desktop{
            transform: translateY(-50%) translateX(100%);
            opacity: 0;
            visibility: hidden;
        }
    }
    &.active{
        .desktop{
            transform: translateY(-50%) translateX(0%);
            opacity: 1;
            visibility: visible;
        }
    }
    .mobile{
        .mobile-share{
            position: fixed;
            right: 0;
            bottom: 0;
            transform: translateY(-50%);
            width: 50px;
            height: 50px;
            background-color: black;
            z-index: var(--socialShare-index);
            box-shadow: -6px 0px 30px -4px #0000004a;
            border-radius: 3px 0px 0 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            a{
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
            }
            svg{
                fill: white;
                width: 24px;
                height: 24px;
            }
        }
        @include lg{
            display: none;
        }
    }
}
