.newsletter{
    display: flex;
    flex-direction: column-reverse;
    form{
        display: flex;
        flex-direction: column;
        .email{
            flex: unset;
            position: relative;
            label{
                opacity: 0;
                visibility: none;
                position: absolute;
                z-index: -1;
                pointer-events: none;
                user-select: none;
                touch-action: none;
            }
            input{
                color: white;
                text-align: center;
                font-family: $english_font;
                margin: 0;
                height: 50px;
                padding: 3% 10px;
                background-color: transparent;
                border-radius: 0;
                border: 2px solid white;
                width: 100%;
            }
            &::before{
                content: "";
                width: 1px;
                height: 16.5px;
                top: 50%;
                position: absolute;
                left: calc(50%);
                background-color: white;
                transform: translate(0,-50%);
                animation-name: cursor;
                animation-duration: 1s;
                animation-iteration-count: infinite;
                animation-timing-function: step-end;
            }
            &:focus-within{
                &::before{
                    content: unset;
                }
            }
            &.inactive{
                &::before{
                    content: none;
                }
            }
            @include md{
                flex: 1;
            }
        }
        button{
            width: 100%;
            background-color: white;
            color: $black-three;
            outline: none;
            border: 2px solid white;
            border-radius: 0;
            font-size: 20px;
            font-weight: bold;
            font-family: $main_font;
            height: 50px;
            cursor: pointer;
            margin-top: 10px;
            @include md{
                width: 31%;
                margin-top: 0;
            }
        }
        @include md{
            flex-direction: row-reverse;
        }
    }
    .newsletter-sentence{
        color: white;
        font-size: 15px;
        margin-bottom: 10px;
        @include md{
            color: $steel;
            margin-top: 5px;
            margin-bottom: 0px;
        }
    }
    @include md{
        flex-direction: column;
    }
}



@keyframes cursor{
    from, to{
        background-color: transparent;
    }

    50%{
        background-color: white;
    }
}