.newsletter{
    margin-bottom: 25px;
    .inner{
        display: flex;
        flex-direction: row-reverse;
        text-align: right;
        align-items: flex-start;
        .icon{
            display: flex;
            align-items: baseline;
            svg{
                width: 37px;
                height: auto;
                fill: $steel;
                opacity: 0.3;
            }
        }
        .details{
            margin-right: 10px;
            flex: 1;
            .title{
                font-size: 18px;
                font-weight: bold;
                color: black;
                margin-top: -6px;
            }
            .description{
                font-size: 16px;
                color: $steel;
                line-height: 1.3;
            }
        }
        &.active{
            cursor: pointer;
            .icon{
                svg{
                    opacity: 1;
                    fill: black;
                }
            }
        }
        
        &.coming-soon{
            position: relative;
            align-items: center;
            .icon{
                svg{
                    fill: $bluey-grey;
                }
            }
            .details{
                .title{
                    margin-top: 0;
                    color: $bluey-grey;
                }
            }
            .coming-soon-stamp{
                position: absolute;
                width: 108px;
                top: 50%;
                right: 11%;
                transform: translateY(-50%);
                @include lg{
                    right: 20px;
                }
            }
        }
    }
    &.newsletters-page{
        margin-bottom: 35px;
        .inner{
            .icon{
                svg{
                    width: 50px;
                }
            }
            .details{
                .title{
                    font-size: 22px;
                }
                .description{
                    font-size: 18px;
                }
            }
        }
        @include lg{}
    }
}