.newsletters-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .item{
        width: 100%;
        @include lg{
            width: 48%;
            border-bottom: 1px solid $battleship-grey;
            padding: 10px 0;
            padding-bottom: 19px;
            margin-bottom: 30px;
            &:nth-child(odd){
                padding-left: 6%;
            }
            &:nth-child(even){
                padding-right: 3%;
            }
            &:nth-last-child(2){
                border-bottom: none;
            }
            &:last-child{
                border-bottom: none;
            }
        }
    }
    @include lg{
        justify-content: space-between;
        max-width: 1000px;
        margin: auto;
        flex-direction: row-reverse;
    }
}


.drawer{
    height: 225px;
    top: unset !important;
    bottom: 0 !important;
    box-shadow: none !important;
    & > div{
        &:first-child{
            display: none;
        }
    }
    .inner{
        background-color: black;
        position: unset;
        height: 100%;
        color: white;
        box-shadow: 0px -5px 30px #a7a7a79e !important;
        padding: 0 7%;
    }
    @include lg{
        display: none;
    }
}