.counter{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    .title{
        width: fit-content;
        text-align: left;
        font-size: 22px;
        line-height: 1.4;
        font-weight: bold;
    }
    .count{
        padding-right: 20px;
        text-align: right;
        flex: 1;
        font-family: $main_font;
        font-size: 87px;
        position: relative;
        z-index: 2;
        .icon{
            position: absolute;
            width: 120px;
            top: 0;
            right: 10%;
            z-index: 1;
            svg{
                fill: $battleship-grey
            }
        }
    }
}