.newsletterBox{
    max-width: 900px;
    margin: auto;
    .body{
        padding: 22px 5%;
        position: relative;
        .details{
            display: flex;
            text-align: right;
            justify-content: flex-end;
            .content{
                padding-right: 15px;
                max-width: 83%;
                flex: 1;
                .title{
                    color: black;
                    font-size: 22px;
                    font-weight: bold;
                }
                .description{
                    color: $steel;
                    font-size: 15px;
                    margin-top: 1rem;
                    direction: rtl;
                }
                .email-field{
                    margin-top: 1rem;
                    input{
                        border: none;
                        border-bottom: 1px solid $bluey-grey;
                        width: 75%;
                        background-color: transparent;
                        border-radius: 0;
                        padding: 6px 0;
                        text-align: center;
                        &::placeholder{
                            color: $battleship-grey;
                            font-family: $main_font;
                            direction: rtl;
                            text-align: right;
                        }
                        &::-webkit-input-placeholder{
                            color: $battleship-grey;
                            font-family: $main_font;
                            direction: rtl;
                            text-align: right;
                        }
                        &:-ms-input-placeholder{
                            color: $battleship-grey;
                            font-family: $main_font;
                            direction: rtl;
                            text-align: right;
                        }
                        &:focus{
                            border-color: black;
                        }
                    }
                    &.error{
                        input{
                            border-color: $orangey-red;
                            color: $orangey-red;;
                            &::placeholder{
                                color: $orangey-red;
                            }
                            &::-webkit-input-placeholder{
                                color: $orangey-red;
                            }
                            &:-ms-input-placeholder{
                                color: $orangey-red;
                            }
                        }
                    }
                }
            }
            .checkbox{
                position: relative;
                .checkbox-icon{
                    svg{
                        fill: black;
                    }
                }
                .check{
                    position: absolute;
                    top: 0;
                    right: -13px;
                    opacity: 0;
                    visibility: hidden;
                    pointer-events: none;
                    svg{
                        fill: black;
                    }
                }
                &.checked{
                    .check{
                        opacity: 1;
                        visibility: visible;
                    }
                }
                &.error{
                    .checkbox-icon{
                        svg{
                            fill: #f43d3d;
                        }
                    }
                }
            }
            .icon{
                position: absolute;
                z-index: -1;
                left: 0;
                bottom: 9%;
                width: 32%;
                display: flex;
                max-width: 145px;
                svg{
                    fill: $pale-blue;
                    width: 100%;
                    height: auto;
                }
            }
        }
        .submit{
            margin-top: 1rem;
            text-align: center;
            button{
                width: 100%;
                max-width: 305px;
                text-align: center;
                font-family: "taha";
                background-color: white;
                color: black;
                border: 1px solid black;
                border-radius: 1px;
                font-size: 17px;
                padding: 6px 0;
                line-height: 1;
                transition: all 0.3s ease-in-out;
                cursor: pointer;
                &:hover{
                    background-color: black;
                    color: white;
                }
            }
        }
    }
    .bar{
        svg{
            width: 100%;
            height: auto;
        }
    }
}