.email-activation{
    .activation-text{
        text-align: center;
        color: $steel;
        font-size: 18px;
        line-height: 1.4;
        width: 80%;
        margin: auto;
        margin-top: -1.5rem;
        margin-bottom: 1rem;
    }
    .icon{
        svg{
            stroke: black;
            path{
                stroke: black;
            }
        }
    }
    .email{
        text-align: center;
        font-family: $english_font, $main_font;
        font-style: italic;
        font-size: 18px;
        font-weight: normal;
        margin-bottom: 2rem;
        span{
            width: fit-content;
            margin: auto;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                width: 103%;
                height: 6px;
                background-color: $pale-blue;
                z-index: -1;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    .email-button{
        a{
            text-decoration: none;
            color: black;
        }
        div{
            border: 1px solid black;
            text-align: center;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $main_font, $english_font;
            line-height: 1;
            .service{
                margin-top: 4px;
            }
            .text{
                font-size: 18px;
                margin-left: 5px;
                display: block;
            }
        }
    }

    .resend{
        font-family: $main_font;
        padding-top: 40px;
        margin-top: 20px;
        position: relative;
        .resend-text{
            p{
                color: $steel;
                font-size: 18px;
            }
            button{
                font-weight: bold;
                font-size: 18px;
                font-family: $main_font;
                position: relative;
                width: fit-content;
                line-height: 1;
                cursor: pointer;
                &:hover{
                    &::before{
                        background-color: $pale-grey-three;
                    }
                }
                &::before{
                    content: "";
                    left: 50%;
                    bottom: 0;
                    position: absolute;
                    transform: translateX(-50%);
                    width: 105%;
                    height: 8px;
                    background-color: $pale-blue;
                    z-index: -1;
                }
            }
        }
        .counter{
            p{
                font-weight: bold;
                font-size: 18px;
            }
            div{
                font-family: $main_font;
                font-size: 20px;
            }
        }
        .support{
            font-family: $main_font, $english_font;
            direction: rtl;
            .email-address{
                position: relative;
                line-height: 1;
                display: inline-block;
                a{
                    color: black;
                    text-decoration: none;
                    font-weight: 500;
                }
                &::before{
                    content: "";
                    width: 100%;
                    height: 8px;
                    left: 50%;
                    bottom: 0;
                    z-index: -1;
                    background-color: $pale-blue;
                    position: absolute;
                    transform: translateX(-50%);
                }
                &:hover{
                    &::before{
                        background-color: $pale-grey-three;
                    }
                }
            }
            
        }
        &::before{
            content: "";
            height: 30px;
            width: 1px;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: $pale-blue;
            position: absolute;
        }
    }
}