.registration-success{
    .avatar{
        text-align: center;
        svg{
            width: 70px;
        }
    }
    .icon{
        margin-top: -3rem;
        margin-bottom: -2rem;
        svg{
            width: 180px !important;
            display: block;
            margin: auto;
            path{
                stroke-width: 3px;
            }
        }
    }
    .text{
        text-align: center;
        color: $steel;
        line-height: 1.4;
        font-size: 18px;
        width: 70%;
        margin: auto;
    }
    a{
        text-decoration: none;
        color: black;
    }
    .button{
        margin-top: 2rem;
        height: 60px;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
    }
}
