.aaaj{
    padding: 0 20px;
    .intro{
        svg{
            width: 100px;
            p{
                font-size: 20px;
            }
        }
    }
    .editor{
        width: 100%;
        max-width: 1500px;
        margin: auto;
    }
    .three-posts{
        max-width: 1180px;
        width: 90%;
        margin: 0 auto;
    }
}