

.tabs-navigation{
    margin: 2rem 0;
    .tabs-navigation-inner{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        position: relative;
        width: fit-content;
        margin: 0 auto;
        .icon{
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translate(100%, -40%);
            svg{
                width: 65px;
            }
        }
        .tab-item{
            padding: 0 25px;
            position: relative;
            cursor: pointer;
            font-size: 17px;
            color: $greyish-brown;
            line-height: 1;
            span{
                position: relative;
                width: fit-content;
                &::after{
                    content: "";
                    position: absolute;
                    width: 0%;
                    height: 6px;
                    background-color: $pale-blue;
                    bottom:20%;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: -1;
                    transition: all 0.5s ease-in-out;
                }
            }
            &:not(:last-child)::before{
                content: "";
                position: absolute;
                left: 0%;
                height: 180%;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                background-color: $bluey-grey;
            }
            
            &.active{
                color: black;
                font-weight: bold;
                span{
                    &::after{
                        width: 132%;
                    }
                }
            }
        }
        @media (max-width: 365px) {
            .icon{
                display: none
            }
        }
    }
}

.alhudoodpedia-type{
    max-width: 1280px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(380px, 1fr) );
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    padding: 4rem 0;
    &.dictionary-type{
        padding-right: $dictionary-page-padding-right;
        padding-left: $dictionary-page-padding-left;
        grid-template-columns: repeat(auto-fill, minmax(calc(150px - 0px), 1fr));
        grid-column-gap: 20px;
        @include md{
            grid-template-columns: repeat( auto-fill, minmax(calc(33% - 70px), 1fr) );
            grid-column-gap: 70px;
            grid-row-gap: 14%;
        }
    }
    @include lg{
        grid-template-columns: repeat( auto-fill, minmax(350px, 1fr) );
    }
}


.slider{
    min-height: 100vh;
}

.letters-index{
    direction: ltr;
}


@import './alhudoodpedia/dictionary.scss'