.archive-page{
    padding: 3rem 5%;    
    .archive-editor-choices{
        margin: 0 -5vw;
        position: relative;
        background-color: $pale-grey;
        max-width: 1280px;
        padding-top: 30px;
        padding-bottom: 3%;
        overflow: hidden;
        .dal{
            position: absolute;
            top: 0;
            right: 0;
            z-index: 0;
            transform: translate(27%, -6%);
            svg{
                width: 108px;
                fill: white;
            }
            @include md{
                // top: 29%;
                // right: 0;
                // transform: translateX(33%);
                // text-align: right;
                // width: 17%;
                // svg{
                //     fill: $pale-grey;
                //     width: 100%;
                //     height: auto;
                // }
            }
        }
        .editor-choices-posts{
            z-index: 4;
            position: relative;
            margin-top: 25px;
        }
        .title{
            z-index: 4;
            position: relative;
            padding-right: 2rem
        }
        @include md{
            // padding-bottom: 20%;
            // margin: 0;
            // background-color: white;
            // margin: auto;
        }
        @include lg{
            margin: 0 auto;
            background-color: unset;
            padding-right: 0;
            padding-bottom: 8%;
            .editor-choices-posts{
                padding-right: 0;
            }
            .title{
                padding-right: 0;
            }
            .dal{
                display: none;
            }
        }
    }
    .archive-posts{
        max-width: 1100px;
        margin: auto;
        margin-top: 50px;
        min-height: 90vh;
        .archive-posts-header{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            margin-bottom: 4rem;
            .sorting-dropdown{
                width: 40%;
                max-width: 250px;
                @include lg{
                    min-width: 260px;
                }
                
            }
            .category-title{
                font-size: 17px;
                font-weight: 900;
                @include lg{
                    // display: none;
                }
            }
        }
        @include lg{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            .archive-posts-list{
                width: 75%;
                margin-left: auto;
            }
            .archive-posts-header{
                width: 25%;
                justify-content: flex-end;
            }
        }
    }
}