.more-button{
    width: fit-content;
    position: relative;
    cursor: pointer;
    .label{
        color: $bluey-grey;
        padding-left: 10px;
        font-size: 20px;
        font-weight: bold;
    }
    .icon{
        position: absolute;
        left: -12px;
        bottom: -12px;
        display: flex;
        align-items: center;
        span{
            position: absolute;
            width: 2px;
            height: 4px;
            top: 50%;
            transform: translateY(-50%);
            background-color: white;
            right: 0;
            z-index: 2;
            transition: all 0.2s cubic-bezier(.17,.67,.83,.67);
        }
        svg{
            width: 55px;
            height: auto;
            position: relative;
        }
        
    }
    &.small{
        .label{
            font-size: 14px;
            font-weight: normal;
        }
        .icon{
            left: 0px;
            bottom: -4px;
            svg{
                width: 30px;
            }
        }
    }
    &.white{
        .label{
            color: white;
        }
        .icon{
            span{
                background-color: black;
            }
        }
        svg{
            fill: white;
        }
    }
    &:hover{
        .icon{
            span{
                width: 15px;
            }
        }
    }
}