.edit-button{
    padding: 0;
    line-height: 1;
    font-family: $main_font;
    color: $black-two;
    font-size: 18px;
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
    span{
        border-bottom: 1px solid black;
        padding-bottom: 2px;
    }
    .icon{
        display: flex;
        align-items: flex-end;
        margin-right: 4px;
    }
}