.google-button{
    width: 100%;
    button{
        width: 100%;
        border: 1px solid black;
        height: 60px;
        color: black;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        font-family: $main_font;
        font-size: 18px;
        border-radius: 0;
        span{
            margin-left: 10px;
        }
        svg{
            width: 16px;
            height: auto;
        }
        
        @include lg{
            height: 82px;
            svg{
                width: 30px;
                height: auto;
            }
        }
    }
    &.modal{
        button{
            height: 60px;
        }
    }
}