.line-button {
    text-align: left;
    button,
    a {
        font-size: 14px;
        font-family: $main_font, $english_font;
        line-height: 1;
        text-decoration: none;
        color: black;
        cursor: pointer;
        span {
            position: relative;
            display: block;
            z-index: 2;
            &::before {
                content: "";
                background-color: $pale-blue;
                position: absolute;
                left: 0;
                bottom: 0;
                height: 4px;
                width: 100%;
                z-index: -1;
            }
        }
        &:hover {
            span {
                &::before {
                    background-color: $pale-grey-two;
                }
            }
        }
    }
}
