.primary-button{
    width: fit-content;
    margin: auto;
    padding-bottom: 13px;
    text-align: center;
    min-width: 120px;
    a, button{
        display: block;
        background-color: white;
        border: 1px solid $bluey-grey;
        box-shadow: 6px 6px 0px black;
        padding: 5px 40px;
        font-family: $main_font, $english_font;
        cursor: pointer;
        font-weight: bold;
        transition: all 0.2s ease-in-out;
        text-decoration: none;
        color: black;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &:hover{
            box-shadow: 3px 3px 0px black;
        }
        &:focus, &:visited, &:active{
            box-shadow: 3px 3px 0px black;
        }
    }
    &.full-width{
        width: calc(100% - 6px);
        margin-left: 0;
        margin-right: auto;
        a, button{
            width: 100%;
            span{
                width: fit-content;
                margin: auto;
                padding-left: 6px;
            }
        }
    }
    &.loading{
        a,button{
            cursor: wait !important;
            box-shadow: 3px 3px 0px black;
        }
    }
}

.button{
    outline: none;
}