.secondary-button{
    border: 1px solid black ;
    border-radius: 0;
    min-width: 120px;
    text-align: center;
    min-height: 28px;
    cursor: pointer;
    display: flex;
    align-items: center;
    a , button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    &.full-width{
        width: calc(100% - 6px);
        margin-left: 0;
        margin-right: auto;
        a, button{
            width: 100%;
            span{
                width: fit-content;
                margin: auto;
                padding-left: 6px;
            }
        }
    }
    &.loading{
        a,button{
            cursor: wait !important;
        }
    }
}