.main-heading{
    h2{
        color: black;
        font-size: 30px;
        font-weight: bold;
    }
    text-align: right;
    &.with-dash{
        width: fit-content;
        margin-left: auto;
        position: relative;
        line-height: 1;
        &::before{
            content: "";
            height: 3px;
            width: 30px;
            background-color: black;
            position: absolute;
            left: 0;
            transform: translateX(-111%);
            top: 25%;
            @include lg{
                height: 4px;
            }
        }
        a{
            text-decoration: none;
        }
    }
}
.sec-heading{
    font-size: 21px;
    color: black;
    &.with-dash{
        width: fit-content;
        margin-left: auto;
        position: relative;
        line-height: 1;
        &::before{
            content: "";
            height: 3px;
            width: 30px;
            background-color: $steel;
            position: absolute;
            left: 0;
            transform: translateX(-111%);
            top: 25%;
            @include lg{
                height: 4px;
            }
        }
    }
    &.breakingNews{
        padding-bottom: 2px;
        background-clip: text !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent;
        background-size: 1100% 100%;
        animation: breaking 1.3s linear infinite;
        background: linear-gradient(88deg, #f43d3d, #e8bdbd);
        background-size: 400% 400%;
        &::before{
            background: #f43d3d;
        }
    }
}
.dal-heading{
    position: relative;
    .dal{
        width: 60px;
        margin-left: auto;
        padding-top: 0.5rem;
        svg{
            fill: rgba(#040505, 0.12)
        }
    }
    h2{
        color: $greyish-brown;
        position: absolute;
        top: 0;
        right: 52px;
        font-size: 30px;
        transform: translateY(-36%);
    }
}
.community-heading{
    text-align: center;
    font-size: 26px;
    color: $greyish-brown;
    font-weight: bold;
}




@-webkit-keyframes breaking {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes breaking {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-o-keyframes breaking {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes breaking { 
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}