.page-title{
    font-size: 20px;
    font-weight: 900;
    &.with-dash{
        width: fit-content;
        margin-left: auto;
        position: relative;
        line-height: 1;
        &::before{
            content: "";
            height: 3px;
            width: 30px;
            background-color: black;
            position: absolute;
            left: 0;
            transform: translateX(-111%);
            top: 25%;
            @include lg{
                height: 4px;
            }
        }
    }
}