/* Webfont: KFGQPCUthmanTahaNaskh-Bold */@font-face {
    font-family: 'KFGQPCUthmanTahaNaskh';
    src: url('muna normal.woff2') format('woff2'), /* Modern Browsers */
         url('muna normal.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

