.post-header{
    text-align: right;
    font-family: $main-font;
    //padding: 0 5%;
    margin-bottom: 20px;
    .post-type{
        color: $steel;
        font-size: 20px;
        font-weight: bold;
        position: relative;
        width: fit-content;
        margin-left: auto;
        margin-bottom: 1rem;
        cursor: pointer;
        a{
            text-decoration: none;
            color: inherit;
        }
        &.laytaha{
            width: fit-content;
            &::before{
                content: "";
                height: 2px;
                width: 30px;
                background-color: $steel;
                position: absolute;
                left: 0;
                transform: translateX(-124%);
                top: 12%;
            }
        }
    }
    .post-title{
        font-size: 26px;
        line-height: 1.4;
        color: black;
        @include md{
            font-size: 32px;
        }
    }
    .post-correspondent{
        font-size: 16px;
        color: $steel;
        margin-top: 1rem;
        span{
            font-weight: bold;
        }
        @include md{
            font-size: 20px;
        }
    }
    .post-date{
        font-size: 16px;
        margin-top: 0.75rem;
        color: black;
        @include md{
            font-size: 18px;
        }
    }
    .post-buttons{
        margin-left: -5vw;
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            width: fit-content;
            margin-right: auto;
            background-color: black;
            padding: 0;
            padding-left: 10px;
            padding-right: 4px;
            li{
                height: 100%;
                display: inline-flex;
                padding: 0;
                height: 40px;
                width: 40px;
                //margin-right: 25px;
                button{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                svg{
                    fill: white;
                    width: auto;
                    height: 19px;
                    
                }
                &:not(:first-child){
                    //margin-left: 4px;
                }
                &.bookmark{
                    button{
                        cursor: pointer;
                    }
                }
                &:last-child{
                    margin-right: 0;
                }
            }
            @include lg{
                padding: 11px 18px 8px 18px
            }
        }
        @include lg{
            margin-left: 0;
        }
    }
    @include lg{
        padding-right:8%;
    }
}