.post_container{
    font-family: $main-font;
    //padding: 0 5%;
    //overflow: hidden;
    section{
        margin: 4rem 0;
    }
    .post-image{
        margin: 0 -5vw;
        margin-bottom: 3rem;
        figure{
            margin: 0;
            padding-bottom: 56%;
            position: relative;
            height: 0;
            picture{
                img{
                    width: 100%;
                    position: absolute;
                    height: 100%;
                    object-fit: cover;
                }
            }
            @include lg{
                padding-bottom: 51.45454545454545%;
            }
        }
        @include lg{
            margin:  0 -9.5%;
            margin-bottom: 3rem;
        }
    }
    .post-content{
        margin: 0;
        p{
            font-size: 18px;
            line-height: 1.7;
            color: $battleship-grey;
            margin-bottom: 2rem;
            line-height: 1.7;
            &:last-child{
                margin-bottom: 0;
            }
            @include lg{
                font-size: 20px;
            }
        }
        h3{
            font-weight: bold;
            color: $battleship-grey;
            margin-left: auto;
            position: relative;
            line-height: 1.2;
            span{
                width: fit-content;
                font-size: 21px;
                position: relative;
                display: inline-block;
                &::before{
                    content: "";
                    position: absolute;
                    height: 43%;
                    width: 100%;
                    // background: url(/Assets/UI_Elements/heading_three_background.svg);
                    background-color: #f0f3f7;
                    z-index: -1;
                    top: 56%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                &::after{
                    content: "";
                    position: absolute;
                    height: 43%;
                    width: 100%;
                    // background: url(/Assets/UI_Elements/heading_three_background.svg);
                    background-color: #f0f3f7;
                    z-index: -1;
                    top: 56%;
                    left: 50%;
                    transform: translate(0%, -50%);
                }
                &:first-child{
                    &::after{
                        content: none;
                    }
                }
            }
            &::before{
                content: "";
                position: absolute;
                height: 100%;
                width: calc(5vw - 2px);
                background-color: white;
                right: 0;
                top: 50%;
                transform: translate(100%, -50%);
            }
            
        }
        .quote{
            text-align: center;
            width: 80%;
            margin: 2rem auto;
            position: relative;
            color: black;
            span{
                position: relative;
                display: inline-block;
                font-size: 23px;
                font-weight: bold;
                color: black;
                &::before{
                    content: "";
                    background-color: $pale-blue;
                    height: 25%;
                    width: 110%;
                    position: absolute;
                    z-index: -1;
                    left: 50%;
                    bottom: 24%;
                    transform: translate(-50%, 0%);
                }
            }
            
            &::before{
                content: "";
                display: block;
                position: absolute;
                width: 40px;
                height: 32px;
                background-image: url(/Assets/UI_Elements/double-dal-icon.svg);
                background-repeat: no-repeat;
                right: 0;
                top: 0;
                transform: translate(100%, -17%);
                background-size: contain;
            }
        }
    }
    .post-extra{
        margin-top: 3rem;
        .post-tags{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            .tags-icon{
                width: 55px;
                margin-left: 1rem;
                svg{
                    fill: $bluey-grey;
                }
            }    
            .tags-list{
                height: fit-content;
                ul{
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    display: flex;
                    flex-direction: row-reverse;
                    flex-wrap: wrap;
                    li{
                        font-size: 18px;
                        padding-left: 1.5rem;
                        color: $bluey-grey;
                        font-family: $main-font;
                    }
                }
            }
        }
        .post-emojis{
            margin-top: 2.5rem;
            .sec-heading{
                text-align: center;
                margin-bottom: 2rem;
            }
        }
        
    }
    .post-comments{
        margin-bottom: 7rem;;
        .dal-heading{
            display: none;
            @include lg{
                display: block;
            }
        }
        .main-heading{
            @include lg{
                display: none;
            }
        }
        .comments{
            @include lg{
                transform: translateY(-10%);
                width: 82%;
            }
        }
        .button{
            @include lg{
                transform: translateY(-100%);
            }
        }
        
    }
    
    @include lg{
        padding: 0 8%;
    }

}