.related-posts{
    .inner{
        display: flex;
        flex-direction: column;
        padding: 0 5%;
        .related-post{
            position: relative;
            display: flex;
            padding: 1.8rem 0;
            .post-image{
                flex-basis: 40%;
                display: block;
                flex-shrink: 0;
                margin-right: 10px;
                figure{
                    padding-bottom: 100%;
                    height: 0;
                    margin: 0;
                    position: relative;
                    picture{
                        display: block;
                        img{
                            display: inline-block;
                            max-width: 100%;
                            width: 100%;
                            height: 100%;
                            transition: opacity .5s;
                            object-fit: cover;
                            position: absolute;
                            object-position: center;
                            @include lg{
                                border-radius: 3px;
                            }
                        }
                    }
                }
                @include md{
                    margin-right: 15px;
                }
                @include lg{
                    margin-right: 0;
                    figure{
                        padding-bottom: 56.25%;
                    }
                }
                
            }
            .post-details{
                text-align: right;
                direction: rtl;
                flex-basis: 100%;
                flex: 1;
                flex-grow: 1;
                display: grid;
                grid-template-rows: 22px auto 24px;
                .post-type{
                    font-size: 13px;
                    line-height: 1;
                    font-weight: bold;
                    @include lg{
                        display: none;
                    }
                }
                .post-title{
                    margin-top: 4px;
                    h2{
                        color: $battleship-grey;
                        font-size: 15px;
                        font-weight: normal;
                        line-height: 1.5;
                        @include lg{
                            font-size: 17px;
                            color: black;
                            font-weight: bold;
                        }
                        a{
                            text-decoration: none;
                            color: unset;
                        }
                    }
                }
                .post-excerpt{
                    display: none;
                    color: $steel;
                    text-decoration: none;
                    font-size: 14px;
                    margin-top: 10px;
                    @include lg{
                        display: block;
                    }
                }
                .post-tags{
                    display: flex;
                    align-items: center;
                    svg{
                        width: 15px;
                        margin-left: 10px;
                        height: auto;
                        fill: $steel;
                    }
                    .post-tag{
                        font-size: 14px;
                        color: $steel;
                        &:not(:last-of-type){
                            margin-left: 10px;
                        }
                    }
                    @include lg{
                        //justify-content: center;
                        margin-top: 20px;
                        svg{
                            fill: $battleship-grey
                        }
                        .post-tag{
                            color: $battleship-grey;
                            font-weight: bold;
                        }
                    }
                }
                @include lg{
                    display: flex;
                    flex-direction: column;
                    margin-top: 10px;
                }
            }
            &::before{
                content: none;
                background-color: $pale-grey;
                height: 60%;
                width: calc(100% + 3rem);
                position: absolute;
                bottom: 0;
                z-index: -1;
                left: -1.5rem;
            }
            &:not(:last-child){
                &::after{
                    content: "";
                    position: absolute;
                    height: 1px;
                    width: 100%;
                    background-color: $pale-blue;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 0;
                }
            }
            &:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)){
                display: none;
            }
            @include md{
                width: calc(50% - 2rem);
                padding: 2rem;
                &::before{
                    width: calc(100% + 6rem);
                    left: -3rem;
                }
            }
            @include lg{
                width: calc(25% - 3rem);
                padding: 0 1.5rem;
                padding-bottom: 3rem;
                flex-direction: column;
                &::before{
                    content: none;
                }
            }

        }
        @include md{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        @include lg{
            max-width: 1450px;
            padding: 0 2%;
            margin: auto;
            justify-content: space-evenly;
        }
    }
    @include lg{
        position: relative;
        margin: 4rem auto;
        margin-top: 10%;
        &::before{
            content: "";
            background-color: $pale-grey;
            height: 80%;
            width: 100%;
            position: absolute;
            bottom: 0;
        }
    }
}