.about-page{
    padding: 2.5rem 0;
    overflow-x: hidden;
    section{
        margin: 4rem auto;
        max-width: 1100px;
        @include lg{
            margin: 4rem auto;
        }
    }
    .section-header{
        text-align: center;
        margin: auto;
        margin-bottom: 1.5rem;
        h2{
            font-size: 25px;
        }
        &::before{
            background-color: black;
        }
    }
    .background-logo{
        position: fixed;
        z-index: -1;
        left: -12%;
        top: 11%;
        svg{
            height: 43vw;
            fill: $pale-grey-three;
            path{
                fill: $pale-grey-three !important;
            }
            @include lg{
                height: 31vw;
            }
        }
        @include lg{
            left: -8%;
        }
    }
    .about-us{
        text-align: center;
        .content{
            color: $battleship-grey;
            direction: rtl;
            margin-bottom: 1rem;
            font-size: 18px;
            @include lg{
                font-size: 21px;
            }
        }
    }
    .press{
        .logos{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .logo{
                width: 50%;
                margin-bottom: 2rem;
                div{
                    top: unset !important;
                    bottom: unset !important;
                    left: unset !important;
                    right: unset !important;
                    position: unset !important;
                    width: 100% !important;
                    text-align: center;
                    img{
                        width: auto !important;
                        height: 50px !important;
                        position: unset !important;
                        min-height: unset !important;
                        min-width: unset !important;
                        display: unset !important;
                        object-fit: contain;
                    }
                }
                &:nth-child(1){
                    order: 1;
                }
                &:nth-child(2){
                    order: 3;
                }
                &:nth-child(3){
                    order: 2;
                }
                &:nth-child(4){
                    order: 4;
                }
                @include md{
                    width: 25%;
                }
            }
        }
    }
    .principles{
        max-width: 1280px;
        margin: auto;
        
        .container-parent{
            position: relative;
            .arrow{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: 100;
                width: 10%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                svg{
                    width: 13px;
                    height: auto;
                    @include md{
                        width: 20px;
                    }
                    @include lg{
                        width: min(5.5vw, 100px);
                    }
                }
                .mobile{
                    @include lg{
                        display: none;
                    }
                }
                .desktop{
                    display: none;
                    position: relative;
                    @include lg{
                        display: block;
    
                    }
                    
                }
                @include md{
                    justify-content: flex-end;
                }
                @include lg{
                    width: fit-content;
                }
            }
            .next{
                left: 0;
                transform: translateY(-50%) scale(-1);
                @include lg{
                    left: -4vw;
                }
                
            }
            .prev{
                right: 0;
                @include lg{
                    right: -4vw;
                }
            }
        }
        .container{
            overflow: visible;
            //margin: 2rem -5vw;
            padding: 4rem 0;
            overflow-x: hidden;
            .swiper-slide{
                height: auto;
            }
            
        }
        .principle{
            max-width: 80%;
            margin: auto;
            border-top: 1px solid black;
            border-right: 1px solid black;
            //padding: 10% 10px;
            position: relative;
            height: 100%;
            display: flex;
            //background-color: white;
            .number{
                position: absolute;
                background-color: black;
                width: 28%;
                padding-bottom: 28%;
                height: 0;
                top: 0;
                right: 0;
                transform: translate(28%, -28%);
                box-shadow: -4px 6px 35px -15px #00000054;
                .dal{
                    width: 13%;
                    position: absolute;
                    top: 13%;
                    right: 13%;
                    svg{
                        fill: white;
                        width: 100%;
                    }
                }
                span{
                    color: white;
                    font-size: 50px;
                    line-height: 1;
                    position: absolute;
                    left: 8px;
                    bottom: 0;
                }
                @include md{
                    width: 23%;
                    padding-bottom: 23%;
                }
                @include lg{
                    width: 21%;
                    padding-bottom: 21%;
                }
            }
            .content{
                text-align: right;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                width: 100%;
                h3{
                    padding-right: 24%;
                    padding-top: 11%;
                    padding-left: 4%;
                    font-size: 18px;
                    font-weight: bold;
                    @include lg{
                        font-size: 22px;
                        padding-right: 20%;
                    }
                }
                p{
                    margin-top: 7%;
                    margin-bottom: 7%;
                    font-size: 12px;
                    padding: 0 5%;
                    @include lg{
                        font-size: 17px;
                    }
                }
            }
            &::before, &::after{
                content: "";
                position: absolute;
                background-color: black;
            }
            &::before{
                height: 85%;
                width: 1px;
                //padding-bottom: 90%;
                left: 0;
                bottom: 0;
            }
            &::after{
                width: 90%;
                height: 1px;
                bottom: 0;
                left: 0;
            }
            @include lg{
                max-width: 85%;
            }
        }
        @include lg{
            //width: 90%;
        }
    }
    .fans-mail{
        text-align: center;
        max-width: 730px;
        margin: auto;
        .header{
            text-align: center;
            position: relative;
            margin: 5rem 0;
            svg{
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%) translateX(100%) !important;
                height: auto !important;
                width: 27% !important;
                path{
                    stroke-width: 8px !important;
                    stroke: $pale-blue !important;
                }
            }
            .section-header{
                position: relative;

            }
        }
        .swiper{
            position: unset;
            .mail-slide{
                position: unset !important;
                .mail{
                    .content{
                        font-family: taha, 'SFProText';
                        font-size: 20px;
                        direction: rtl;
                        color: $steel;
                    }
                    
                }
            }
            @include lg{
                width: 80%;
                margin: auto;
            }
        }
        
        .details{
            position: relative;
            margin-top: 1.5rem;
            .content{
                display: flex;
                flex-direction: row;
                align-items: center;
                .inner{
                    display: flex;
                    align-items: center;
                    svg{
                        height: 13px;
                        width: auto;
                        margin-left: 10px;
                    }
                    .country-swiper{
                        width: var(--country-width);
                        transition: all 0.4s ease-in-out;
                        height: 26px;
                        .country{
                            //position: absolute;
                            white-space: pre;
                            width: fit-content;
                        }
                    }
                }
                
                .line{
                    flex: 1;
                    height: 1px;
                    background-color: $bluey-grey;
                    margin-left: 20px;
                    &.desktop{
                        display: none;
                        margin-left: 0;
                        margin-right: 20px;
                        @include lg{
                            display: block;
                        }
                    }
                }
                
            }
            .pagination{
                position: absolute;
                right: 0;
                top: 40%;
                transform: translateY(100%);
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                justify-content: center;
                height: 10px;
                @include lg{
                    top: unset;
                    bottom: 40%;
                    transform: translateY(-100%);
                    height: 15px;
                }
            }
        }
    }
    .divider{
        height: 200px;
        width: 1px;
        background-color: black;
        margin: 2rem auto;
    }
    .contact-us{
        text-align: center;
        p{
            color: $battleship-grey;
            margin-bottom: 1.5rem;
            font-size: 18px;
            @include lg{
                font-size: 21px;
            }
        }
        a{
            text-decoration: none;
        }
        .email{
            font-family: 'SFProText';
            font-weight: 600;
            font-size: 18px;
            span{
                position: relative;
                color: black;

                &::before{
                    content: "";
                    z-index: -1;
                    width: 106%;
                    height: 6px;
                    background-color: $pale-blue;
                    position: absolute;
                    left: 50%;
                    bottom: 17%;
                    transform: translate(-50%, 0);
                }
            }
        }
    }
}