.editorial-policy-page{
    padding: 3rem 0;
    .content{
        margin-top: 1rem;
        ul{
            direction: rtl;
            list-style: arabic-indic;
            margin-right: 20px;
            li{
                margin-bottom: 20px;
                font-size: 17px;
                @include lg{
                    font-size: 20px;
                }
            }
        }
    }
}