.home-page {
    padding-right: $page-padding-right;
    padding-left: $page-padding-left;
    padding-top: 30px;
    padding-bottom: 4rem;
    overflow: hidden;
    position: relative;
    overflow-x: hidden;
    @include lg {
        display: flex;
        flex-direction: column;
        padding-bottom: 5rem;
        padding-top: 3rem;
        padding-right: $page-padding-right-desktop;
        padding-left: $page-padding-left-desktop;
    }
}

.section {
    margin: 4rem auto;
    width: 100%;
    max-width: 1280px;
    &.stretch {
        margin-left: -$page-padding-left;
        margin-right: -$page-padding-right;
        width: unset;
        @include lg {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
    }
    &.poll {
        margin-top: 0;
    }
    &.mix {
        overflow-y: hidden;
        overflow-x: hidden;
        max-width: unset;
        width: 100vw;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        max-width: 1920px;
        .inner {
            position: relative;
            max-width: 1280px;
            margin: auto;
            .grid {
                position: absolute;
                height: 100%;
                width: auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: -1;
                svg {
                    width: auto;
                    height: 100%;
                }
                @include lg {
                    width: 100vw;
                    height: auto;
                    display: flex;
                    transform: translate(-50%, -50%);
                }
            }
            .visuals {
                @include lg {
                    width: 40%;
                }
            }
            .dorar {
                @include lg {
                    width: 40%;
                }
            }
            @include lg {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
                max-width: 1180px;
                flex-wrap: wrap;
                width: 90%;
            }
        }
        @include lg {
            order: 5;
            overflow-x: hidden;
            margin-top: 5rem;
        }
    }
    &.newsletter {
        @include lg {
            order: 3;
        }
    }
    &.currentAffairs-section {
        @include lg {
            order: 2;
            width: 90%;
            margin: auto;
            max-width: 1180px;
            margin-top: 2rem;
        }
    }
    &.middleEastShit-section {
        @include lg {
            order: 6;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .content {
                width: 50%;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: 100%;
                    background-color: $bluey-grey;
                    right: -16%;
                    top: 0;
                    transform: rotate(10deg) translateX(0%);
                }
            }
            .aaaj {
                width: 35%;
                position: relative;
            }
        }
    }
    &.support-us-section {
        @include lg {
            order: 7;
        }
    }
    &.main-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .main-story {
            @include lg {
                width: 50%;
                padding: 0 2.4%;
                position: relative;
                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: calc(100% + 2rem);
                    background-color: $bluey-grey;
                    top: -2rem;
                }
                &::before {
                    left: 0;
                }
                &::after {
                    right: 0;
                }
            }
        }
        .content-section {
            @include lg {
                width: 25%;
                padding-right: 2.4%;
            }
        }
        .mix {
            @include lg {
                width: 25%;
                padding-left: 2.4%;
                .poll {
                    margin-top: 2rem;
                }
            }
        }
        @include lg {
            order: 1;
            padding-top: 2rem;
        }
    }
    @include lg {
        margin: 2rem auto;
    }
}

.mediaMonitoring-section {
    @include lg {
        order: 4;
        // padding-bottom: 6rem;
        // max-width: 1180px;
        // width: 90%;
        // margin: auto;
        // margin-top: 2rem;
    }
}
