.newsletters-page{
    text-align: center;
    .heading{
        margin-bottom: 3rem;
        h1{
            font-size: 30px;
            font-weight: bold;
        }
        p{
            font-size: 18px;
            color: $battleship-grey;
            line-height: 1.2;
        }
    }
    .background{
        position: fixed;
        width: 114%;
        top: 0;
        left: -9%;
        pointer-events: none;
        user-select: none;
        touch-action: none;
        z-index: -1;
        max-width: 600px;
        @include lg{
            left: -21px;
        }
    }
}