.privacy-policy-page {
    padding: 3rem 0;
    p,
    ul,
    li,
    h3 {
        direction: rtl;
    }
    .content {
        text-align: right;
        ul {
            list-style: disc;
            margin-right: 20px;
            li {
                margin-bottom: 16px;
                line-height: 1.4;
                font-size: 16px;
                @include lg {
                    font-size: 18px;
                }
            }
            &.numbers {
                list-style: arabic-indic;
            }
        }
        div {
            margin: 2rem 0;
            h3 {
                font-weight: bold;
                font-size: 20px;
                @include lg {
                    font-size: 26px;
                }
            }
            p {
                font-size: 17px;
                margin: 20px 0;
                font-family: $main_font, $english_font;
                line-height: 1.5;
                @include lg {
                    font-size: 19px;
                }
            }
        }
    }
    p.important {
        font-size: 20px;
        font-weight: bold;
        color: $steel;
        line-height: 1.5;
        @include lg {
            font-size: 21px !important;
            margin-bottom: 2.4rem !important;
        }
    }
    .email-button {
        display: inline;
        margin-right: 5px;
        button,
        a {
            font-weight: 500;
        }
    }
}
