.profile{
    max-width: 1260px;
    margin: 2rem auto;
    
    position: relative;
    // overflow-x: hidden;
    .profile-header{
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        padding: 0 5%;
        .profile-tabs{
            width: calc(100% + 5vw);
            margin-left: -5vw;
            margin-top: 1rem;
            // margin-bottom: 3rem;
            @include md{
                width: 100%;
                margin-left: 0;
            }
        }
    }
    .profile-slider{
        padding-top: 3rem;
        & > div{
            // height: var(--profile-slider-height) !important;
            min-height: 450px;
        }
        .profile-slider-content{
            padding: 0 4vw;
            height: fit-content !important;
            &.bookmarks{
                direction: ltr !important;
            }
            @include lg{
                padding: 0 30px;
                padding-left: 0;
            }
        }
    }
    .profile-user{
        flex: 1;
        padding: 0 10px;
        direction: rtl;
        text-align: right;
        font-size: 19px;
        font-weight: 900;
        display: flex;
        align-items: center;
        h2{
            line-height: 1;
            position: relative;
            width: fit-content;
            &::before{
                content: "";
                position: absolute;
                left: 0%;
                bottom: 0;
                background-color: $pale-grey-three;
                height: 10px;
                width: 100%;
                z-index: -1;
                @include lg{
                    content: none;
                }
            }
        }
        @include lg{
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            min-height: 92px;
            font-size: 30px;
            margin-top: 30px;
            padding: 0;
            margin-right: 30px;
            h2{
                display: flex;
                flex-direction: row;
                div{
                    margin-right: 10px;
                }
            }
        }
    }
    @include lg{
        display: flex;
        flex-direction: row-reverse;
        padding-right: 5%;
        padding-left: 4%;
        padding-top: 4rem;
        .profile-sections{
            flex: 1;
            width: calc(100% - 200px);
            // position: relative;
        }
        .profile-header{
            width: 200px;
            background-color: $pale-grey-three;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: fit-content;
            padding: 0 10px;
            padding-top: 46px;
            .profile-image{
                width: 140px;
                height: 140px;
                margin-bottom: 2rem;
            }
            .profile-tabs{
                width: 100%;
                margin: 0;
                margin-top: 3rem;
            }
        }
        &::before{
            content: "";
            position: absolute;
            right: 0;
            width: 100%;
            height: 1px;
            background-color: $bluey-grey;
            top: calc(122px + 4rem);
            z-index: -1;
        }
    }
}

