.results-posts{
    // min-height: 80vh;
    padding: 15% 0;
    .posts-block{
        @include lg{
            max-width: 840px;
            margin-right: 0;
            margin-left: auto;
        }
    }
    @include lg{
        padding: 6rem 0;
    }
}
.page-title{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0;
    user-select: none;
    pointer-events: none;
    height: 0;
}
.pagination{
    margin-top: 5rem !important;
}