.page-layout{
    // overflow-x: visible;
    @include xl{
        overflow-x: visible;
    }
}

.supporters-page{
    padding: 3rem 0;
    .content{
        .block{
            margin: 2rem 0;
            p{
                font-size: 17px;
                margin: 20px 0;
                font-family: $main_font, $english_font;
                @include lg{
                    font-size: 19px;
                }
            }
        }
    }
    .supporters{
        position: relative;
        margin: 3rem auto !important;
        width: 90%;
        .grid{
            position: absolute;
            left: 50%;
            width: 100%;
            height: 100%;
            top: 50%;
            transform: translate(-50%, -50%);
            user-select: none;
            touch-action: none;
            pointer-events: none;
            .cols{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                height: 100%;
                .col{
                    height: 100%;
                    width: 1px;
                    background: linear-gradient(to bottom, rgba($bluey-grey, 0.22), $bluey-grey, rgba($bluey-grey, 0.22));
                    &:not(:first-child):not(.last){
                        display: none;
                        @include md{
                            display: block;
                        }
                    }
                }
            }
            .rows{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                height: 100%;
                width: 100vw;
                @include md{
                    display: unset;
                    position: unset;
                    top: unset;
                    left: unset;
                    transform: unset;
                    height: unset;
                    width: unset;
                }
            }
            .row{
                // position: absolute;
                // left: 50%;
                // transform: translateX(-50%);
                // top: 15%;
                height: 1px;
                width: 100vw;
                background: linear-gradient(to right, rgba($bluey-grey, 0.22), $bluey-grey, rgba($bluey-grey, 0.22));;
                &.sec{
                    top: 50%;
                }
                &.third {
                    top: unset;
                    bottom: 15%;
                }
                &:first-child, &:last-child{
                    opacity: 0;
                    @include md{
                        opacity: 1;
                    }
                }
                &:not(:first-child):not(.third):not(.sec){
                    @include md{
                        display: none;
                    }
                    
                }
                @include md{
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 15%;
                    width: 130%;
                }
            }
            @include md{
                height: 140%;
            }
        }
        .logos{
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            justify-content: flex-start;
            .logo{
                width: 100%;
                // height: 300px;
                padding: 12%;
                // border: 1px solid black;
                display: flex;
                align-items: center;
                justify-content: center;
                a{
                    display: flex;
                    align-items: center;
                }
                img{
                    width: 100%;
                    // filter: grayscale(1) contrast(0);
                    transition: all 0.3s ease-in-out;
                    
                    &:hover{
                        filter: opacity(0.7);
                    }
                    @include md{
                        filter: grayscale(1) contrast(0);
                        &.noContrast{
                            filter: grayscale(1);
                        }
                        &:hover{
                            filter: grayscale(0);
                        }
                    }
                }
                @include md{
                    width: 25%;
                    padding: 5%;
                }
            }
        }
        @include md{
            margin: 8rem auto !important;
            width: 95%;
        }
        @include lg{
            width: 90%;
        }
    }
    
}