.account{
    cursor: pointer;
    display: flex;
    align-items: center;
    // margin-right: 10px;
    .image{
        display: flex;
        align-items: center;
        margin-right: 10px;
        img{
            width: 30px;
            height: 30px;
            object-fit: cover;
            border-radius: 50%;
            @include lg{
                width: 40px;
                height: 40px;
            }
        }
        svg{
            width: 30px;
            height: auto;
        }
    }
    .text{
        span{
            font-size: 14px;
            font-weight: bold;
            line-height: 1;
            color: black;
        }
    }
    &.white{
        .image{
            svg{
                fill:  white;
            }
        }
        .text{
            span{
                color: white;
            }
        }
    }
}