.login-button{
    border: 1px solid black;
    background: black;
    padding: 5px 11px;
    padding-bottom: 6px;
    color: white;
    line-height: 1;
    min-width: 92px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    cursor: pointer;
    span{
        font-size: 14px;
        font-weight: bold;
        @include lg{
            font-size: 18px;
        }
    }
    @include lg{
        padding: 6px 18px;
        padding-bottom: 7px;
    }
    &:hover{
        background-color: white;
        color: black;
    }
    &.white{
        border: 1px solid white;
        color: white;
        background-color: unset;
        &:hover{
            background-color: white;
            color: black;
        }
    }
}