.logout-button{
    color: black;
    cursor: pointer;
    display: inline-block;
    span{
        font-size: 14px;
        font-weight: bold;
    }
    &:hover{
        color: rgba(black, 0.6);
    }
    &.white{
        color: white;
        &:hover{
            color: rgba(white, 0.6);
        }
    }
}