.aaaj-editor-block{
    text-align: center;
    .main{
        .image{
            figure{
                position: relative;
                padding-bottom: 72%;
                width: 100%;
                img{
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                @include lg{
                    padding-bottom: 37.36363636363637%;
                }
            }
        }
        .details{
            margin-top: 15px;
            h2{
                font-size: 20px;
                font-weight: bold;
                line-height: 1.1;
                color: black;
            }
            p{
                font-size: 16px;
                margin-top: 7px;
                font-weight: normal;
                color: $steel;
                line-height: 1.2;
            }
        }
        @include lg{
            text-align: right;
            flex: 1;
        }
    }
    .correction{
        margin-top: 7rem;
        .image{
            figure{
                position: relative;
                padding-bottom: 56%;
                width: 100%;
                img{
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
        .details{
            margin-top: 10px;
            h2{
                font-size: 20px;
                font-weight: bold;
                line-height: 1.1;
                color: black;
            }
            p{
                color: $battleship-grey;
                font-size: 14px;
                font-weight: bold;
            }
        }
        @include lg{
            margin-top: 0;
            margin-right: 2rem;
            width: 36%;
        }
    }
    @include lg{
        display: flex;
        flex-direction: row-reverse;
    }
}