.countryProfileBlock{
    //margin: 2.5rem 0 ;
    position: relative;
    .block__inner{
        display: flex;
        flex-wrap: wrap;
        padding: 0 4%;
        padding-top: 20px;
        .block__title{
            width: 100%;
            color: $greyish-brown;
            font-weight: bold;
            font-size: 12px;
        }
        .block__excerpt{
            width: 70.5%;
            font-size: 15px;
            padding-left: 4%;
            color: $greyish-brown;
            line-height: 1.5;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        .block__image{
            width: 29.5%;
            figure{
                height: 0;
                padding-bottom: 100%;
                position: relative;
                picture{
                    img{
                        height: 100%;
                        position: absolute;
                        width: 100%;
                        display: inline-block;
                        max-width: unset;
                        max-height: unset;
                        object-fit: cover;
                    }
                }
            }
        }
        .block__button{
            width: 88%;
            text-align: left;
            cursor: pointer;
            span{
                background: black;
                color: $pale-grey-three;
                width: 54%;
                display: block;
                margin-right: auto;
                padding: 9px 0;
                font-size: 13px;
                text-align: center;
            }
        }
        &::before{
            content: "";
            position: absolute;
            width: 85%;
            height: 100%;
            background-color: $pale-grey-three;
            right: 0;
            top: 0;
            z-index: -1;
        }
    }
    
    &:first-child{
        margin-top: 0;
    }
}