.dictionaryBlock{
    height: 0;
    padding-bottom: 100%;
    width: 100%;
    position: relative;
    .block__inner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background: white;
        margin: auto;
        border: 1px solid #cccccc;
        border-radius: 3px;
        position: absolute;
        height: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        .block_inner_inner{
            display: flex;
            flex-direction: column;
            margin-top: -25px;
            height: calc(100% + 25px);
            .block__letter{
                text-align: center;
                svg{
                    fill: $battleship-grey;
                    height: 50px;
                    width: auto;
                    rect{
                        &[data-name = 'wbg' ]{
                            fill: transparent !important;
                        }
                    }
                    @include lg{
                        height: 60px;
                    }
                    
                }
            }
            .block__details{
                flex: 1;
                text-align: center;
                .block__icon{
                    flex: unset;
                    height: 58%;
                    text-align: center;
                    figure{
                        display: flex;
                        height: 100%;
                        text-align: center;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        img{
                            position: absolute;
                            top: 50%;
                            height: 100%;
                            width: auto;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            max-height: 75px;
                            @include md{
                                // position: unset;
                                top: 0;
                                left: 0;
                                transform: none;
                                max-height: unset;
                                max-width: 100px;
                            }
                            @include lg{
                                left: 50%;
                                transform: translateX(-50%);
                            }
                        }
                        @include md{
                            justify-content: flex-end;
                        }
                    }
                    @include md{
                        flex: 1;
                        height: 70%;
                    }
                    @include lg{
                        width: 50%;
                        flex: unset;
                    }
                }
                .block__title{
                    margin-top: 10px;
                    h2{
                        color: $battleship-grey;
                        font-size: 17px;
                        font-weight: bold;
                        line-height: 1.2;
                        @include md{
                            font-size: 22px;
                        }
                    }
                    @include md{
                        width: 40%;
                        text-align: right;
                    }
                    @include lg{
                        width: 50%;
                    }
                }
                @include md{
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    justify-content: space-between;
                }
            }
            @include md{
                flex-direction: column;
                width: 100%;
                padding: 0 20px;
            }
            @include lg{
                height: calc(100% + 30px);
                margin-top: -30px;
            }
        }
    }
    @include md{
        padding-bottom:  63.4375%;
    }
}