.did-you-know{
    text-align: center;
    margin: 3rem 0;
    position: relative;
    .animated-icon{
        position: absolute;
        z-index: -1;
        top: 50%;
        transform: translateY(-50%);
        svg{
            width: 145% !important;
            height: auto !important;
            transform: translateX(-25.5%) translateY(5%) !important;
            max-width: 600px;
        }
    }
    .titles{
        transition: all 0.4s ease-in-out;
        .title, .hidden-title{
            font-size: 28px;
            color: black;
            font-weight: bold;
            line-height: 1.5;
        }
        .title{
            transform: translateY(100%);
            transition: all 0.7s ease-in-out;
            transition-delay: 1s;
        }
        .hidden-title{
            visibility: hidden;
            opacity: 0;
            user-select: none;
            transition: all 0.3s ease-in-out;
            transition-delay: 1.7s;
        }
    }
    
    .content{
        width: 83%;
        margin: auto;
        font-size: 17px;
        color: $greyish-brown;
        line-height: 1.5;
        
    }
    &.active{
        .title{
            transform: translateY(0);
        }
        .hidden-title{
            visibility: visible;
            opacity: 1;
            user-select: auto;
        }
    }
}