.dorar{
    text-align: right;
    position: relative;
    overflow: hidden;
    margin: 2rem 0;
    .inner{
        overflow: visible;
        .dal{
            padding-right: 16%;
            svg{
                fill: black;
                width: 46px;
                height: auto;
                path{
                    fill: black;
                }
            }
        }
        .animated-icon{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 118%;
            height: 100%;
        }
    }
}