.dorarBlock{
    text-align: center;
    padding: 0 16%;
    .content{
        color: $battleship-grey;
        font-size: 18px;
        margin: auto;
    }
    .post{
        text-align: left;
        font-size: 13px;
        font-weight: bold;
        width: 65%;
        margin-right: auto;
        transform: translateX(-20%);
        margin-top: 1.5rem;
        line-height: 1.2;
        span{
            cursor: pointer;
        }
    }
    .date{
        color: $bluey-grey;
        font-size: 15px;
        text-align: left;
        transform: translateX(-20%);
        width: 65%;
        margin-right: auto;
    }
}