.poll-card{
    position: relative;
    overflow: visible;
    margin-top: 50%;
    .poll-icon{
        position: absolute;
        z-index: 0;
        right: 0;
        top: 0;
        text-align: right;
        transform: translateX(32%);
        top: -51%;
        height: 133%;
        width: auto;
        svg{
            width: auto;
            height: 100%;
        }
        @include lg{
            display: none;
        }
    }
    .poll-question{
        text-align: center;
        color: black;
        font-weight: bold;
        width: 87%;
        margin: auto;
        font-size: 24px;
        margin-bottom: 4%;
        line-height: 1.2;
    }
    .poll-options{
        width: 90%;
        margin: auto;
        .poll-option{
            margin: 24px 0;
            position: relative;
            width: 100%;
            height: 45px;
            background-color: white;
            text-align: center;
            padding: 7px 5px;
            border: 1px solid $bluey-grey;
            cursor: pointer;
            border-radius: 1px;
            animation-fill-mode: both;
            animation-duration: 1.5s;
            .option-content{   
                color: $battleship-grey;
                font-size: 17px;
                font-weight: normal;
                line-height: 1.2;
                //animation-delay: 1s;
                animation-fill-mode: forwards;
                animation-duration: 1.5s;
                animation-direction: normal;
                width: 100%;
                max-width: calc(100% - 30px);
                position: absolute;
                right: 50%;
                top: 50%;
                transform: translate(50%, -50%);
                &::before{
                    content: "";
                    background-image: url(/Assets/UI_Elements/poll-check.svg);
                    position: absolute;
                    left: -10px;
                    top: 50%;
                    transform: translate(-100%,-50%);
                    width: 15px;
                    opacity: 0;
                    visibility: hidden;
                    height: 15px;
                    transition: all 0.4s ease-in-out;
                    transition-delay: 1.2s;
                }
            }
            .option-result{
                font-family: taha;
                font-weight: bold;
                position: absolute;
                visibility: hidden;
                opacity: 0;
                left: 0px;
                top: 50%;
                transform: translateY(-50%);
                transition: all 0.3s ease-in-out;
                transition-delay: 1s;
                font-size: 18px;
            }
            progress{
                position: absolute;
                height: 112%;
                border: none;
                outline: none;
                z-index: 0;
                appearance: none;
                width: 100%;
                direction: rtl;
                top: 50%;
                right: 0;
                border-radius: 10px;
                transform: translateY(-50%);
                z-index: -1;
                &::-moz-progress-bar{
                    background: $pale-blue !important;
                    transition: all 2s ease-in-out;
                }
                &[value]{
                    background: transparent !important;
                    //border-radius: 10px;
                    
                    &::-webkit-progress-bar {
                        background: transparent !important;
                    }
                    &::-webkit-progress-value {
                        background: $pale-blue !important;
                        border-radius: 3px;
                        transition: all 1s ease-in-out;
                    }
                }
                // &:not([value]){
                //     background-color: red;
                // }
            }
            &:first-child{
                margin-top: 0;
            }
        }
        &.voted{
            .poll-option{
                justify-content: flex-start;
                animation-name: optionAnimation;
                
                animation-fill-mode: forwards;
                cursor: auto;
                .option-content{
                    animation-name: fadeInRight;
                }
                .option-result{
                    opacity: 1;
                    visibility: visible;
                }
                &.active{
                    .option-content{
                        &::before{
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
        }
        @include lg{
            width: 100%;
        }
    }
    @include lg{
        margin-top: 0;
    }
}

.skeleton{
    width: 90%;
    margin: auto;
    svg{
        width: 100%;
        height: auto;
    }
}

@keyframes optionAnimation {
    0%{
        opacity: 1;
        border-color: $bluey-grey;

        // margin: auto;
        background-color: white;
    }
    25%{
        opacity: 0;
    }
    50%{
        border-color: transparent;

        // margin-left: auto;
    }
    100%{
        opacity: 1;
        border-color: transparent;

        // margin-left: auto;
        background-color: transparent;
    }
}

@keyframes fadeInRight{
    0%{
        opacity: 1;
        transform: translate(50%, -50%);
    }
    25%{
        opacity: 0;
    }
    50%{
        transform: translate(-30, -50%);
        right: 0px;
    }
    100%{
        opacity: 1;
        transform: translate(0, -50%);
        right: 10px;
    }
}