.post-block {
	display: flex;
	flex-wrap: wrap;
	padding: 5% 0;
	justify-content: flex-end;
	.post-image {
		width: 50%;
		figure {
			position: relative;
			height: 0;
			padding-bottom: 61.946902654867266%;
			.skeleton {
				background: linear-gradient(270deg, #f3f3f3, #ecebeb);
				background-size: 400% 400%;

				-webkit-animation: AnimationName 1s ease infinite;
				-moz-animation: AnimationName 1s ease infinite;
				animation: AnimationName 1s ease infinite;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			picture {
				img {
					width: 100%;
					position: absolute;
					height: 100%;
					object-fit: cover;
					border-radius: 2px;
					cursor: pointer;
					left: 0;
					top: 0;
				}
			}
		}
	}
	.post-content {
		text-align: right;
		display: flex;
		flex-direction: column;
		flex: 1;
		justify-content: space-between;
		.title {
			font-size: 18px;
			font-weight: normal;
			line-height: 1.4;
			a {
				text-decoration: none;
				color: $battleship-grey;
			}
		}
		.excerpt {
			display: none;
			a {
				text-decoration: none;
				color: $steel;
			}
		}
		.contentType {
			font-weight: 900;
			font-size: 12px;
			line-height: 1;
			margin-bottom: 5px;
		}
		.post-extra {
			display: none;
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
			align-items: center;
			.date {
				margin-bottom: 0;
				line-height: 1;
			}
			.post-buttons {
				padding-top: 0;
			}
		}
	}
	.post-extra {
		width: 100%;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;

		.date {
			text-align: right;
			font-weight: bold;
			margin-bottom: 7px;
		}
		.post-buttons {
			padding-top: 15px;
			svg {
				height: 20px;
				width: auto;
			}
		}
	}
	&.white {
		.post-content {
			.title {
				a {
					color: white;
				}
			}
			.contentType {
				color: $bluey-grey;
			}
		}
	}
	&.square-list {
		position: relative;
		width: 100%;
		// max-width: 600px;
		.post-image {
			width: 37%;
			max-width: 200px;
			figure {
				padding-bottom: 100%;
			}
		}
		.post-extra {
			display: none;
		}
		.post-content {
			flex: 1;
			padding-left: 5%;
			justify-content: start;
			.contentType {
				font-size: 12px;
				@include md {
					font-size: 16px;
				}
				@include lg {
					font-size: 13px;
				}
			}
			.title {
				font-size: 17px;
				margin-top: 2%;
				flex: 1;
				line-height: 1.3;
				@include md {
					font-size: 23px;
				}
				@include lg {
					margin-top: 2px;
					font-size: 16px;
				}
			}
			.post-extra {
				display: unset;
			}
		}

		&:not(:last-child):before {
			content: '';
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 1px;
			left: 0;
			background-color: $pale-blue;
		}
	}
	&.pyramid {
		padding: 5% 3%;
		flex-direction: column;
		.post-image {
			width: 100%;
			margin-bottom: 6%;
			figure {
				padding-bottom: 61.946902654867266%;
			}
		}
		.post-content {
			display: flex;
			flex-direction: column;
			text-align: center;
			justify-content: space-between;
			.title {
				order: 1;
				font-weight: normal;
				font-size: 15px;
				line-height: 1.4;
			}
			.contentType {
				order: 2;
				margin-top: 21px;
				font-weight: 900;
				font-size: 12px;
			}
		}
		.post-extra {
			display: none;
		}
		&:first-child {
			width: 87%;
			padding: 5% 0%;
			.post-image {
				width: 72%;
				margin: auto;
				margin-bottom: 5%;
			}
			.post-content {
				.title {
					font-size: 22px;
					font-weight: bold;
				}
				.contentType {
					font-size: 14px;
				}
			}
		}
		&:nth-child(2) {
			padding-right: 0;
		}
		&:nth-child(3) {
			padding-left: 0;
		}
		&:last-child {
			padding-bottom: 5%;
		}
	}
	&.horizontal-scroll {
		width: calc(60vw + 7%);
		//margin-left: 50px;
		padding-left: 7%;
		flex: 0 0 auto;
		flex-direction: column;
		scroll-snap-align: start;
		.post-image {
			width: 100%;
		}
		.post-content {
			flex-direction: column-reverse;
			margin-top: 10%;
			.contentType {
				font-size: 14px;
				margin-top: 6%;
			}
			.title {
				font-size: 21px;
			}
		}
		&:last-child {
			//margin-left: 0;
		}
		@include md {
			width: calc(44vw + 7%);
		}
	}
	&.main-post {
		flex-direction: column;
		text-align: center;
		padding: 0;
		.post-image {
			width: 100%;
			max-width: 500px;
			margin: 0 auto;
			figure {
				padding-bottom: 72%;
				img {
					object-position: center;
				}
				@include lg {
					padding-bottom: 52.35294117647059%;
				}
			}
			@include lg {
				max-width: unset;
			}
		}
		.post-content {
			text-align: center;
			margin-top: 6%;
			.title {
				font-size: 26px;
				@include lg {
					font-weight: 900;
					a {
						color: black;
					}
				}
			}
			.contentType {
				font-size: 14px;
				@include lg {
					color: $steel;
				}
			}
			.excerpt {
				margin-top: 7px;
				display: block;
			}
			.post-extra {
				display: none;
			}
		}
		.post-extra {
			width: fit-content;
			margin: 0 auto;
			margin-top: 2rem;
		}
	}
	&.breaking {
		.post-image {
			figure {
				&::before {
					content: 'عاجل';
					position: absolute;
					top: 0;
					left: 0;
					font-family: $main_font;
					color: white;
					background-color: $orangey-red;
					z-index: 3;
					padding: 8px 8px;
					font-size: 14px;
					border-top-left-radius: 2px;
				}
			}
		}
	}
	&.default {
		flex-direction: column;
		width: 29%;
		align-items: center;
		.post-image {
			width: 100%;
		}
		.post-content {
			text-align: center;
			margin-top: 1rem;
			justify-content: flex-start;
			.title {
				font-size: 20px;
				font-weight: 900;
				a {
					color: black;
				}
			}
			.contentType {
				color: $steel;
				font-weight: bold;
			}
			.excerpt {
				display: block;
				width: 90%;
				margin: 0 auto;
			}
		}
		.post-extra {
			width: fit-content;
			margin: 0 auto;
			margin-top: 10px;
			svg {
				fill: $battleship-grey;
			}
			span {
				color: $battleship-grey;
			}
		}
		@include lg {
			padding: 0;
		}
	}
	&.list-wideImage {
		flex-direction: row-reverse;
		.post-content {
			padding-right: 1rem;
			justify-content: flex-start;
			.title {
				margin-top: 0.5rem;
			}
		}
		.post-image {
			figure {
				padding-bottom: 48.61538461538461%;
			}
		}
	}
	&.grid {
		position: relative;
		.post-content {
			justify-content: unset;
			.title {
				font-weight: bold;
				font-size: 20px;
				a {
					color: black;
				}
			}
			.contentType {
				color: $steel;
				font-weight: bold;
			}
		}

		&:not(:first-child) {
			grid-column-start: 2;
			height: 100%;
			grid-column-end: 3;
			align-self: center;
			align-items: center;
			width: 100%;
			flex-direction: row;
			padding: 0;
			height: 100%;
			padding: 4% 3%;
			// padding-top: 35px;
			display: grid;
			grid-template-columns: min(45%, 280px) auto;
			grid-template-rows: auto auto;
			height: unset;
			.post-content {
				padding-right: 1rem;
			}
			.post-image {
				width: 100%;
				max-width: 280px;
				grid-row-end: 3;
				grid-row-start: 1;
			}
			.post-details {
				margin-left: 4%;
				margin-right: 3%;
				align-self: baseline;
				@include lg {
					.post__title {
						h2 {
							font-size: 22px;
						}
					}
				}
			}
			.post-extra {
				grid-column-start: 2;
				padding-right: 1rem;
				align-self: end;
				direction: ltr;
			}
		}
		&:first-child {
			width: 100%;
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 1;
			grid-row-end: 3;
			flex-direction: row;
			padding: 0;
			position: relative;
			padding: 3%;
			padding-top: 35px;
			border-left: 1px solid black;
			.post-image {
				width: 100%;
				// height: 100%;
				figure {
					padding: 0;
					padding-bottom: 63.55140186915888%;
					height: 100%;
				}
			}
			.post-content {
				position: unset;
				bottom: 0;
				transform: none;
				.expert {
					display: block;
					color: $steel;
				}
				.title {
				}
			}
		}
		&:nth-child(2) {
			// margin-right: 4%;
			// margin-bottom: 2%;
			// border-bottom: 1px solid black;
		}
		&:nth-child(3) {
			// margin-right: 4%;
			// margin-top: 2%;
		}
	}
	&.archive {
		.post-image {
			width: 40%;
			max-width: 320px;
			figure {
				padding-bottom: 63.30769230769231%;
			}
			@include lg {
				width: 30%;
			}
		}
		.post-content {
			padding-left: 15px;
			flex: 1;
			justify-content: unset;
			align-items: flex-end;
			.contentType {
				font-size: 13px;
				color: $steel;
				font-weight: bold;
			}
			.title {
				font-size: 15px;
				a {
					color: black;
				}
				@include lg {
					font-size: 22px;
					font-weight: bold;
					max-width: 90%;
					flex: 1;
				}
			}
			@include lg {
				padding-right: 20px;
				padding-left: 0;
				.post-extra {
					display: flex;
				}
			}
		}
		.post-extra {
			@include lg {
				display: none;
			}
		}
		@include lg {
			flex-direction: row-reverse;
			padding: 35px 0;
		}
	}
	&:last-child {
		padding-bottom: 0;
	}
	&.editors-choice {
		width: calc(69vw + 7%);
		max-width: 400px;
		//margin-left: 50px;
		padding-left: 7%;
		flex: 0 0 auto;
		flex-direction: column;
		scroll-snap-align: start;
		padding-top: 0;
		.post-image {
			width: 100%;
		}
		.post-content {
			flex-direction: column-reverse;
			margin-top: 10px;
			display: block;
			.contentType {
				display: none;
			}
			.title {
				font-size: 20px;
				color: black;
				font-weight: bold;
				line-height: 1.1;
				a {
					color: black;
				}
			}
		}
		&:last-child {
			//margin-left: 0;
		}
		@include md {
			width: calc(44vw + 7%);
		}
		@include lg {
			position: relative;
			max-width: unset;
			border: none;
			.post-content {
				justify-content: unset;
				.title {
					font-weight: bold;
					font-size: 20px;
					a {
						color: black;
					}
				}
				.contentType {
					color: $steel;
					font-weight: bold;
				}
			}
			.post-extra {
				display: none;
			}
			&:not(:first-child) {
				grid-column-start: 2;
				height: 100%;
				grid-column-end: 3;
				align-self: center;
				align-items: center;
				width: 100%;
				flex-direction: row;
				padding: 0;
				height: 100%;
				// padding: 4% 3%;
				// padding-top: 35px;
				height: unset;
				.post-image {
					width: 100%;
					max-width: 280px;
					grid-row-end: 3;
					grid-row-start: 1;
					figure {
						padding-bottom: 63.333333333333336%;
					}
				}
				.post-content {
					padding-right: 1rem;
					// padding: 0;
					margin: 0;
					.title {
						font-size: 22px;
					}
				}
				.post-extra {
					grid-column-start: 2;
					padding-right: 1rem;
					align-self: end;
					direction: ltr;
				}
			}
			&:first-child {
				width: 100%;
				grid-column-start: 1;
				grid-column-end: 2;
				grid-row-start: 1;
				grid-row-end: 3;
				flex-direction: row;
				padding: 0;
				position: relative;
				// padding: 3%;
				// padding-top: 35px;
				border-left: none;
				.post-image {
					width: 100%;
					// height: 100%;
					figure {
						padding: 0;
						padding-bottom: 49.45175438596492%;
						height: 100%;
					}
				}
				.post-content {
					position: absolute;
					bottom: 0;
					transform: translateY(calc(100% + 10px));
					right: 0;
					.title {
						font-size: 25px;
					}
					.excerpt {
						display: block;
						margin-top: 5px;
						color: $steel;
					}
				}
			}

			&:nth-child(2) {
				margin-bottom: 0.5rem;
				margin-right: 1rem;
			}
			&:nth-child(3) {
				margin-top: 0.5rem;
				margin-right: 1rem;
			}
		}
	}
	@include lg {
		padding: 1rem 0;
	}
}

@keyframes AnimationName {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
