.posts-block{
    display: flex;
    &.archive{
        display: block;
        article{
            border-bottom: 1px solid $pale-grey;
            &:first-child{
                padding-top: 0;
            }
            &:last-child{
                border-bottom: none;
            }
        }
    }
    &.square-list{
        flex-direction: column;
        align-items: flex-end;
    }
    &.pyramid{
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: center;
        // margin-left: -$page-padding-left;
        // margin-right: -$page-padding-right;
        article{
            width: 50%;
            &:first-child{
                width: 90%;
                @include lg{
                    width: 50%;
                }
            }
        }
    }
    &.horizontal-scroll{
        overflow-x: scroll;
        overflow-y: hidden;
        flex-direction: row-reverse;
        scroll-snap-type: x mandatory;
        margin-left: -$page-padding-left;
        margin-right: -$page-padding-right;
        padding-right: $page-padding-right;
        @include hide-scrollbar;
    }
    &.default{
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &.grid{
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 45% 55%;
        direction: rtl;
        grid-gap: 0;
        overflow: visible;
        width: 100%;
    }
    &.list-wideImage{
        display: flex;
        flex-direction: column;
    }
    &.editors-choice{
        overflow-x: scroll;
        overflow-y: hidden;
        flex-direction: row-reverse;
        scroll-snap-type: x mandatory;
        // margin-left: -$page-padding-left;
        // margin-right: -$page-padding-right;
        padding-right: $page-padding-right;
        @include hide-scrollbar;
        @include lg{
            overflow: hidden;
            scroll-snap-type: none;
            display: grid;
            grid-template-rows: 50% 50%;
            grid-template-columns: 1fr 1fr;
            direction: rtl;
            grid-gap: 0;
            overflow: visible;
            width: 100%;
        }
    }
}