.street-sound{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 40px;

    .image{
        width: 100px;
        figure{
            padding-bottom: 100%;
            position: relative;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .details{
        flex: 1;
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        svg{
            width: 20px;
        }
        .content{
            margin-bottom: 20px;
            padding-right: 20px;
            font-size: 19px;
            margin-top: -4px;
            padding-left: 40px;
            color: black;
        }
        .name{
            text-align: left;
            color: $bluey-grey;
            font-size: 14px;
            position: relative;
            direction: rtl;
            width: fit-content;
            font-size: 14px;
            line-height: 1;
            align-self: baseline;
            line-height: 1;
            &::before{
                content: "";
                position: absolute;
                width: 10px;
                height: 2px;
                background-color: $bluey-grey;
                right: 0;
                top: 59%;
                transform: translateX(calc(100% + 4px));
            }
        }
    }
    &:last-child{
        margin-bottom: 0;
    }
}