.supportUs{
    text-align: center;
    .icon{
        margin: 10% 0;
        @include lg{
            margin: 2rem 0;
        }
    }
    p{
        width: 90%;
        margin: auto;
        margin-bottom: 2rem;
        font-size: 18px;
        line-height: 1.4;
    }
}