.countries{
    max-width: 1100px;
    margin: auto;
    .country-info{
        .country-map{
            //margin-bottom: var(--map_margin_bottom)px;
            //padding: 0 10%;
            text-align: center;
            z-index: 2;
            position: relative;
            img{
                width: 100%;
                &.tall{
                    height: 77vw;
                    width: auto;
                    @include md{
                        height: 400px;
                    }
                    @include lg{
                        height: 300px;
                    }
                }
                &.wide{
                    height: auto;
                    width: 90%;
                    @include md{
                        width: 550px;
                    }
                    @include lg{
                        width: 300px;
                    }
                }
            }
        }
        .country-info-content{
            background-color: $pale-grey-three;
            padding: 0 8%;
            padding-bottom: 40px;
            padding-top: var(--map_margin_bottom);
            position: relative;
            z-index: 1;
            .info-item{
                display: flex;
                flex-direction: row-reverse;
                flex-wrap: wrap;
                border-bottom: 1px solid $bluey-grey;
                padding: 10px 0;
                .info-title{
                    width: 45%;
                    text-align: right;
                    direction: rtl;
                    font-weight: bold;
                    padding-left: 40px;
                    color: $greyish-brown;
                }
                .info-content{
                    width: 55%;
                    text-align: right;
                    color: $greyish-brown;
                    direction: rtl;
                }
                &:last-child{
                    border-bottom: none;
                }
            }
            @include lg{
                background-color: $pale-grey-three;
                padding: 20px 30px !important;
                padding-right: 10%;
                width: calc(100% + 150px);
                flex: 1;
            }
        }
        &.has-wide{
            @include lg{
                .country-map{
                    margin-left: -150px;
                }
                .country-info-content{
                    padding-right: 170px !important;
                }
            }
        }
        &.has-tall{
            @include lg{
                .country-info-content{
                    padding-right: calc(var(--country-map-aspect) + 20px) !important;
                }
                .country-map{
                    margin-left: calc(calc(300 / var(--country-map-aspect)) / 2);
                    margin-left: calc(var(--country-map-aspect) * -1);
                    // margin-left: var(--country-map-aspect) px;
                }
            }
            
        }
        @include lg{
            display: flex;
            flex-direction: row-reverse;
            justify-content: unset;
            align-items: center;
            position: relative;
        }
    }
    .country-definition{
        text-align: center;
        margin: 3rem 0;
        padding: 0 8%;
        .country-name{
            font-weight: 900;
            color: $greyish-brown;
            font-size: 20px;
            margin-bottom: 10px;
        }
        .country-definition-content{
            color: $greyish-brown;
        }
    }
    .country-about-section{
        padding: 0 8%;
        text-align: center;
        
        .about-accordion{
            .accordion-item{
                box-shadow: none;
                direction: rtl;
                .accordion-title{
                    font-family: $main_font;
                    font-weight: bold;
                    color: $greyish-brown;
                    font-size: 20px;
                    padding-right: 8px;
                    padding-left: 6px;
                    .MuiAccordionSummary-content{
                        margin: 16px 0;
                    }
                    .MuiAccordionSummary-expandIcon{
                        padding-left: 0;
                        svg{
                            fill: black;
                            path{
                                fill: black;
                            }
                        }
                    }
                }
                .accordion-content{
                    padding-right: 0;
                    text-align: right;
                    color: $greyish-brown;
                    font-size: 16px;
                    line-height: 1.5;
                    margin-top: 10px;
                }
                &::before{
                    content: none !important;
                    
                }
                &::after{
                    bottom: 0px;
                    left: 0;
                    right: 0;
                    height: 1px;
                    content: "";
                    opacity: 1;
                    position: absolute;
                    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                    background-color: $bluey-grey;
                }
                &.Mui-expanded{
                    &::before{
                        content: "" !important;
                    }
                }
            }
        }
        .about-sections{
            .info-item{
                text-align: right;
                margin-bottom: 2rem;
                .title{
                    font-weight: bold;
                    font-size: 24px;
                    border-bottom: 1px solid black;
                    padding-bottom: 1rem;
                    margin-bottom: 1rem;
                }
                .content{
                    color: $greyish-brown;
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        .about-title{
            font-weight: bold;
            color: $greyish-brown;
            font-size: 20px;
            margin-bottom: 30px;
            font-weight: 900;
        }
    }
}