

.dictionary{
    .breadcrumbs{
        position: absolute;
        top: auto;
        width: 100%;
        z-index: 3;
        top: 45px;
        @include lg{
            position: unset;
        }
    }
    .letters-index{
        position: absolute;
        width: 100%;
        z-index: 3;
        top: 124px;
        @include lg{
            position: unset;
        }
    }
    .flipbox{
        height: 100vh !important;
        width: 100% !important;
        height: calc(var(--dictionaryHeight, 1vh) * 100);
        padding-top: 0vh;
        z-index: 2;
        @include lg{
            height: unset;
            width: unset;
            
        }
    }
    
    .dictionary-slider{
        display: flex;
        max-width: 1100px;
        margin: 0 auto;
        flex: 1;
        align-items: center;
        width: 100%;
        .inner{
            display: flex;
            flex-direction: row;
            width: 100%;
        }
        .main{
            width: calc(100% - 120px);
            position: relative;
            padding: 0 10%;
            // height: fit-content;
            .arrow{
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%) rotate(90deg);
                &.prev{
                    right: 0;
                    left: unset;
                    transform: translateY(-50%) rotate(90deg) scale(-1);
                }
                svg{
                    width: auto;
                    height: 30px;
                }
            }
        }
        .side{
            width: 120px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            // height: fit-content;
            .letter{
                position: absolute;
                top: 0;
                width: 100%;
            }
            .dictionary-letter{
                img, svg{
                    height: auto;
                    width: 100%;
                    fill: $battleship-grey;
                }
                // svg{
                //     height: 100%;
                // }
            }
            .dictionary-letter-icon{
                display: flex;
                justify-content: center;
                svg{
                    width: 47%;
                    margin-right: 5%;
                    height: 100%;
                    fill: $battleship-grey;
                }
            }
            &::before{
                content: "";
                position: absolute;
                height: 100%;
                width: 1px;
                background-color: $battleship-grey;
                left: 50%;
                top: 0;
                transform: translateX(-50%);
            }
        }
        .slider{
            .slide{
                height: auto !important;
            }
        }
    }
    @include lg{
        display: flex;
        flex-direction: column;
        height: calc(100vh - var(--header-min-height));
    }
}




