.profiles{
    .profile-info{
        max-width: 1000px;
        margin: auto;
        .profile-image{
            margin: auto;
            margin-bottom: -10vh;
            width: 80%;
            max-width: 320px;
            figure{
                height: 0;
                position: relative;
                margin: 0;
                padding-bottom: 100%;
                picture{
                    img{
                        width: 100%;
                        display: inline-block;
                        max-width: 100%;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        position: absolute;
                        object-position: center;
                        border-radius: 3px;
                        box-shadow: 0 6px 16px 0 $bluey-grey;
                    }
                }
            }
        }
        .profile-info-content{
            
            background-color: $pale-grey-three;
            padding: 0 8%;
            padding-bottom: 20px;
            padding-top: 13vh;
            .info-item{
                display: flex;
                flex-direction: row-reverse;
                flex-wrap: wrap;
                border-bottom: 1px solid $bluey-grey;
                padding: 10px 0;
                .info-title{
                    width: 45%;
                    text-align: right;
                    direction: rtl;
                    font-weight: bold;
                    padding-left: 40px;
                    color: $greyish-brown;
                    @include lg{
                        width: 22%;
                    }
                }
                .info-content{
                    width: unset;
                    flex: 1;
                    text-align: right;
                    color: $greyish-brown;
                    direction: rtl;
                    .nickname, .occupation{
                        .dash{
                            padding: 0 4px;
                            padding-left: 7px;
                        }
                        &:last-child{
                            .dash{
                                display: none;
                            }
                        }
                    }
                }
                &:last-child{
                    border-bottom: none;
                }
            }
        }
        @include lg{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            
            .profile-image{
                margin: 0;
                margin-left: -20%;
            }
            .profile-info-content{
                padding-top: 20px;
                padding-bottom: 20px;
                padding-left: 50px;
                padding-right: 24%;
                flex: 1;
            }
        }
        @include xl{
            max-width: 1280px;
        }
    }
    .profile-bio{
        padding: 0 8%;
        text-align: right;
        margin-top: 2.5rem;
        .content{
            direction: rtl;
            color: $greyish-brown
        }
        @include lg{
            text-align: center;
            margin-bottom: 2rem;
        }
    }
    .profile-section{
        text-align: center;
        margin-top: 2.5rem;
        .title{
            color: $greyish-brown;
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 1.5rem;
        }
    }
    .profile-achievements-section{
        max-width: 888px;
        margin: auto;
        .achievements{
            .achievement{
                display: flex;
                flex-wrap: wrap;
                flex-direction: row-reverse;
                align-items: flex-start;
                justify-content: space-between;
                padding: 0 7%;
                margin-bottom: 0.75rem;
                svg{
                    width: 4%;
                    height: auto;
                    margin-top: 9px;
                    fill: black;
                    max-width: 15px;
                    path{
                        fill: black;
                    }
                }
                span{
                    width: unset;
                    flex: 1;
                    margin-right: 10px;
                    text-align: right;
                    direction: rtl;
                    color: $greyish-brown;
                    @include lg{
                        font-size: 20px;
                        margin-right: 15px;
                    }
                }
            }
        }
    }
    .profile-quotes-section{
        .quotes{
            padding: 0 7%;
            .quote{
                width: fit-content;
                margin: auto;
                margin-bottom: 1.5rem;
                color: $greyish-brown;
                max-width: 260px;
                position: relative;
                &::before, &::after{
                    content: "";
                    position: absolute;
                    width: 14px;
                    height: 11px;
                    background-image: url(/Assets/UI_Elements/quote.svg);
                    background-repeat: no-repeat;
                    top: 30%;
                    transform: translateY(-50%);
                }
                &::before{
                    right: -30px;
                    transform: translateY(-50%) scale(-1) ;
                }
                &::after{
                    left: -30px;
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }

}