.modal{
    position: relative;
    background-color: white !important;
    overflow-y: scroll;
    overflow-x: hidden;
    .backdrop{
        background-color: rgba(255, 255, 255, 0.11) !important;
        pointer-events: none;
        touch-action: none;
        user-select: none;
    }
    .modal-content{
        // position: relative;
        // overflow: scroll;
        // overflow-x: hidden;
    }
    .close{
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 5;
        svg{
            width: 25px;
            height: auto;
            cursor: pointer;
        }
    }
    @include lg{
        overflow-y: scroll;
        background-color: rgba($bluey-grey, 0.3) !important;
        height: 100%;
        width: 100%;
        .backdrop{
            pointer-events: auto;
            touch-action: auto;
            user-select: auto;
        }
        .modal-content{
            max-width: 700px;
            margin: auto;
            position: relative;
            // top: 50%;
            //transform: translateY(-50%);
            margin-top: 50px;
            margin-bottom: 100px;
            height: fit-content;
            min-height: 800px;
            z-index: 2;
            transition: all 0.3s ease-in-out;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            &::before{
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 86%;
                height: 26px;
                background-color: black;
                bottom: -26px;
                z-index: -2;
            }
        }
        &.signup{
            .modal-content{
                min-height: 900px;
            }
        }
    }
}