.breadcrumb{
    display: flex;
    flex-direction: row-reverse;
    margin: 0.5rem 0;
    overflow: hidden;
    align-items: center;
    .icon{
        display: flex;
        svg{
            margin-right: -6px;
            width: 80px;
            width: min(11vh, 80px);
            width: min(calc(var(--dictionaryHeight, 1vh) * 11), 80px);;
        }
    }
    .breadcrumb-item{
        padding: 0 15px;
        position: relative;
        color: $greyish-brown;
        font-size: 17px;
        &.link{
            cursor: pointer;
        }
        &:not(:last-child) {
            &::before{
                content: "";
                position: absolute;
                width: 1px;
                height: 150%;
                background-color: $bluey-grey;
                left: 0;
                top: 50%;
                transform: translateY(-50%) translateX(-1px) rotate(21deg);
            }
            
        }
    }
}