.cookie-bar{
    position: fixed;
    bottom: 20px;
    z-index: 10000;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 900px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: $main_font;
    box-shadow: 0px -10px 30px -10px #69696987;
    .text{
        color: white;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        font-size: 14px;
        img{
            width: 18px !important;
            height: auto !important;
            min-width: unset !important;
            min-height: unset !important;
            margin: 0 !important;
            margin-right: 5px !important;
            animation: loop 3s normal linear infinite;
        }
        @include lg{
            font-size: 16px;
        }
    }
    .buttons{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        .accept{
            margin-left: 20px;
            button{
                background-color: white;
                color: black;
                font-size: 12px;
                font-weight: normal;
                line-height: 1;
                height: 20px;
                width: 52px;
                text-align: center;
                font-family: $main_font;
                cursor: pointer;
                @include lg{
                    height: 25px;
                    width: 70px;
                    font-size: 15px;
                }
            }
            @include lg{
                margin-left: 30px;
            }
        }
        .details{
            margin-left: 20px;
            display: flex;
            height: 20px;
            align-items: center;
            span{
                font-size: 12px;
                font-weight: normal;
                height: fit-content;
                line-height: 1;
                color: white;
                padding-bottom: 3px;
                border-bottom: 1px solid white;
                cursor: pointer;
                @include lg{
                    font-family: 15px;
                }
            }
            @include lg{
                margin-left: 30px;
            }
        }
        .close{
            button{
                display: flex;
            }
            svg{
                width: 15px;
                height: auto;
                fill: white;
                stroke: white;
                cursor: pointer;
                path{
                    stroke: white;
                }
                @include lg{
                    width: 15px;
                }
            }
        }
    }
    @include lg{
        height: 55px;
        bottom: 25px;
    }
}


@keyframes loop {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}