.emojis{
    max-width: 500px;
    margin: auto;
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            padding: 0 8%;
            width: fit-content;
            text-align: center;
            display: flex;
            button{
                width: 100%;
                position: relative;
                cursor: pointer;
                .emoji{
                    display: flex;
                    align-items: center;
                    img{
                        width: auto;
                        height: 100%;
                        position: absolute;
                        left: 0%;
                        top: 0%;
                        // transform: translate(-50%, -50%);
                        transform: unset;
                        z-index: 2;
                        opacity: 0;
                        transition: all 0.3s ease-in;
                    }
                    svg{
                        width: auto;
                        height: 100%;
                        z-index: 1;
                        transition: all 0.1s ease-in;
                        opacity: 1;
                        left: 50%;
                        position: relative;
                        transform: translateX(-50%);
                    }
                    img, svg{
                        height: 30px;
                        @include md{
                            height: 40px;
                        }
                    }
                }
                &:hover{
                    @include lg{
                        .emoji{
                            img{
                                opacity: 1;
                            }
                            svg{
                                opacity: 0;
                                visibility: hidden;
                            }
                        }
                    }
                }
                .emoji-counter{
                    position: absolute;
                    top: 3px;
                    right: -9px;
                    background: black;
                    color: white;
                    padding: 2px 6px;
                    border-radius: 2px;
                    transform: translate(72%, -91%);
                    font-size: 12px;
                    line-height: 1;
                    font-family: $main-font, $english_font;
                }
            }
            &.fire{
                img, svg{
                    height: 40px !important;
                    @include md{
                        height: 50px !important;
                    }
                }
            }
            &.active{
                button{
                    .emoji{
                        img{
                            opacity: 1;
                        }
                        svg{
                            opacity: 0;
                        }
                    }
                }
            }
            @include md{
                padding: 0 3.5rem;
            }
        }
        &.reacted{
            li:not(.active){
                button{
                    svg{
                        fill: $bluey-grey;
                    }
                    .emoji-counter{
                        background-color: $bluey-grey;
                    }
                }
            }
        }
    }
}
