.highlight{
    text-align: center;
    padding-bottom: 3rem;
    margin: 2rem 0;
    max-width: 400px;
    margin: 0 auto;
    .profile{
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: flex-end;
        margin-top: 1rem;
        .sonbeleh{
            width: 15%;
            svg{
                width: 100%;
                height: auto;
            }
            &.invert{
                transform: scaleX(-1);
            }
        }
        .content{
            width: 70%;
            text-align: center;
            position: relative;
            .image{
                padding: 0 20%;
                figure{
                    height: 0;
                    padding-bottom: 100%;
                    position: relative;
                    picture{
                        img{
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            left: 0;
                            top: 0;
                            border-radius: 50%;
                            box-shadow: 0 -3px 10px 0 rgba(0, 0, 0, 0.16);
                        }
                    }
                }
            }
            .title{
                color: $battleship-grey;
                font-size: 30px;
                font-weight: bold;
                line-height: 1.2;
                margin-top: 10px;
            }
            .button{
                position: absolute;
                left: 50%;
                bottom: -7px;
                transform: translateX(-50%) translateY(100%);
                cursor: pointer;
                &::before{
                    background-color: $pale-grey;
                    content: "";
                    position: absolute;
                    left: 50%;
                    width: 120%;
                    height: 10px;
                    transform: translateX(-50%);
                    z-index: -1;
                    bottom: 3px;
                }
            }
        }
    }
}