.letters-index{
    display: flex;
    width: 90%;
    margin: auto;
    padding: 30px 0;
    margin: -30px auto;
    position: relative;
    max-width: 1100px;
    .icon{
        width: 58px;
        position: relative;
        height: 30px;
        cursor: pointer;
        z-index: 5;
        svg{
            height: 30px;
            width: auto;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            transition: all 0.6s ease-in-out;
            &.opened{
                opacity: 0;
                visibility: hidden;
            }
            &.closed{
                right: 0;
                left: unset;
            }
        }
    }
    .letters{
        flex: 1;
        overflow: hidden;
        align-items: center;
        display: flex;
        transition: all 0.6s ease-in-out;
        position: relative;
        display: block;
        overflow-x: scroll;
        scroll-behavior: smooth;
        @include hide-scrollbar;
        .letters-inner{
            display: flex;
            transform: translate(calc(-100% + 100px), -50%);
            flex-direction: row;
            padding-right: 10px;
            //position: absolute;
            width: fit-content;
            align-items: center;
            transition: all 0.6s ease-in-out;
            //width: 100%;
            overflow-x: hidden;
            direction: rtl;
            touch-action: auto;
            //touch-action: none;
            // pointer-events: none;
            position: relative;
            top: 50%;
            .letter{
                display: flex;
                // transition-property: opacity;
                // transition-duration: 0.3s;
                // transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
                padding-left: 10px;
                padding-right: 10px;
                margin-left: 15px;
                cursor: pointer;
                // animation-duration: 0.4s;
                // animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
                // animation-fill-mode: forwards;
                //transition: all 0.3s ease-in-out;
                //transform: translateX(-30px);
                opacity: 0;
                svg{
                    height: 20px;
                    width: auto;
                }
                &:is(:nth-child(1), :nth-child(2), :nth-child(3)){
                    opacity: 1;
                    padding: 0;
                    margin-left: 10px;
                    svg{
                        fill: black;
                    }
                }
                &.alive{
                    svg{
                        fill: black !important;
                    }
                }
                &.dead{
                    cursor: default;
                    svg{
                        fill: rgba($bluey-grey, 0.4);
                    }
                }
                &.active{
                    border: 1px solid black;
                    position: relative;
                    svg{
                        
                    }
                    &::before, &::after{
                        content: "";
                        position: absolute;
                        height: 2px;
                        width: 70%;
                        left: 50%;
                        transform: translateX(-50%);
                        background-color: white;
                    }
                    &::before{
                        top: -1px;
                    }
                    &::after{
                        bottom: -1px;
                    }
                }
                @include lg{
                    margin-bottom: 20px;
                }
                
            }
            @include lg{
                overflow: visible;
                width: 100%;
                flex-wrap: wrap;
                justify-content: center;
            }
        }
        &::before{
            //content: "";
            position: absolute;
            background: linear-gradient(to right, white 6%, #ffffff00);
            width: 10%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 10;
            user-select: none;
            touch-action: none;
            pointer-events: none;
        }
    }
    .filtered-letter{
        position: absolute;
        top: 50%;
        left: 75px;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        .letter{
            display: flex;
            align-items: center;
            svg{
                height: 20px;
                width: auto;
            }
        }
        .close-icon{
            display: flex;
            align-items: center;
            margin-left: 17px;
            cursor: pointer;
            svg{
                stroke: $bluey-grey;
                width: 17px;
                height: auto;
                g, path{
                    stroke: $bluey-grey;
                }
            }
        }
        @include lg{
            top: 4px;
            transform: none;
        }
    }
    &.filtered{
        .letters{
            .letter{
                &.active{
                    opacity: 1;
                }
            }
        }
        &:not(.opened){
            .filtered-letter{
                opacity: 1;
                visibility: visible;
                pointer-events: all;
            }
            .letters{
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
            }
        }
    }
    &.opened{
        .icon{
            svg{
                &.opened{
                    opacity: 1;
                    visibility: visible;
                }
                &.closed{
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
        .letters{
            flex: 1;
            .letters-inner{
                transform: translate(0, -50%);
                //touch-action: auto;
                pointer-events: all;
                .letter{
                    opacity: 1 !important;
                    // animation-name: letterFadeIn;
                    &:is(:nth-child(1), :nth-child(2), :nth-child(3)){
                        padding: 0 10px;
                        margin-left: 15px;
                    }
                }
            }
            &::before{
                // content: "";
            }
        }
    }
    @include lg{
        padding: 0;
        margin: 0 auto;
    }
    
}


// @for $i from 1 through 20 {
//     .letter:nth-child(#{($i)}) {
//         animation-delay: #{($i) * 0.1}s;
//     }
// }



// @keyframes letterFadeIn{
//     0%{
//         transform: translateX(-30px);
//         opacity: 0;
//     }
//     100%{
//         transform: translateX(0);
//         opacity: 1;
//     }
// }