.no-results{
    text-align: center;
    overflow: hidden;
    .icon{
        svg{
            width: 100%;
            max-width: 400px;
        }
    }
    .text{
        text-align: center;
        direction: rtl;
        font-family: $main-font, $english_font;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.2;
        margin-top: 10px;
        @include lg{
            font-size: 30px;
            margin-top: 30px;
        }
    }
}