.pagination{
    display: flow-root;
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 210px;
    position: relative;
    margin: 0 auto;
    .item{
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        float: right;
        margin-left: 5px;
        span{
            font-size: 17px;
            margin-right: 10px;
            color: $battleship-grey;
        }
        svg{
            fill: $bluey-grey;
            transform: rotate(-90deg);
            width:  20px;
            height: auto;
        }
        &.next{
            flex-direction: row-reverse;
            margin-left: 0;
            float: left;
            margin-right: 5px;
            span{
                margin-left: 10px;
                margin-right: 0;
            }
            svg{
                transform: rotate(90deg);
            }
        }
    }
    &::before{
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 1px;
        height: 120%;
        background-color: $bluey-grey;
    }
}