.random-bar{
    display: flex;
    flex-direction: row-reverse;
    background-color: #eff3f7;
    padding: 3px 0;
    padding-right: 4%;
    align-items: center;
    position: relative;
    margin-left: -$page-padding-left;
    margin-right: -4vw;
    .title{
        padding-left: 10px;
        position: relative;
        white-space: pre;
        font-family: $main_font;
        font-size: 11px;
        font-weight: bold;
        &::before{
            content: "";
            height: 100%;
            position: absolute;
            width: 1px;
            background-color: $black-two;
            left: 0;
            top: 0;
        }
        @include lg{
            font-size: 15px;
            line-height: 1;
        }
    }
    & > div{
        flex: 1;
        margin-right: 10px;
        width: 100%;
        height: 100% !important;
        // position: absolute !important;
        height: 30px !important;
        & > div{
            //display: flex;
            top: 50%;
            transform: translateY(-50%);
            position: relative;
            height: 100%;
            .posts{
                white-space: nowrap;
                direction: rtl;
                height: 100%;
                .post{
                    //white-space: nowrap;
                    // z-index: 100;
                    // display: flex;
                    // padding: 0px 10px;
                    padding-right: 10px;
                    height: 100%;
                    // flex-direction: row-reverse;
                    align-items: center;
                    display: inline-flex;
                    span{
                        color: $steel;
                        font-weight: normal;
                        height: 100%;
                        cursor: pointer;
                        font-size: 15px;
                    }
                    .dal{
                        display: flex;
                        margin-right: 10px;
                        transform: translateY(10%);
                        svg{
                            height: 10px;
                        }
                    }
                }
            }
           
        }
    }
    @include lg{
        margin-right: -$page-padding-right-desktop;
        max-width: 2000px;
        padding-right: 2rem;
    }
}