.snackbar{
    width: 80%;
    min-width: 330px;
    left: 50% !important;
    right: unset !important;    
    max-width: 350px;
    bottom: 25px !important;
    transform: translate(-50%);
    z-index: 100 !important;
    & > div{
        background-color: black;
        flex-direction: row-reverse;
        border-radius: 0;
        // box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 72%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
        box-shadow: unset !important;
        width: 100%;
        & > div{
            &:first-child{
                flex: 1;
                text-align: center;
                font-family: $main_font, $english_font;
                font-weight: bold;
                font-size: 16px;
                // padding-right: 35px;
            }
        }
        @include lg{
            box-shadow: none;
        }
    }
    &.nav{
        & > div{
            background-color: $orangey-red;
        }
    }
    &.error{
        & > div{
            background-color: $very-light-pink;
            & > div{
                &:first-child{
                    color: $orangey-red;
                }
            }
        }
    }
    &.success{
        & > div{
            background-color: $ice;
            & > div{
                &:first-child{
                    color: $dark-sage;
                }
            }
        }
    }
    &.with-button{
        & > div{
            & > div{
                &:last-child{
                    margin: 0;
                    padding-left: 0;
                    button{
                        &:last-child{
                            // position: absolute;
                            // right: 0;
                            // top: 3px;
                        }
                        &:first-child{
                            color: white;
                            font-family: $main_font;
                            font-weight: bold;
                            font-size: 18px;
                            padding-left: 0;
                        }
                    }
                }
                &:first-child{
                    flex: 1;
                    text-align: right;
                    // padding-right: 35px;
                }
            }
        }
    }
    @include lg{
        position: absolute !important;
        top: 0;
        // transform: none !important;
        bottom: unset !important;
        left: 41% !important;
        transform: translateX(-50%) !important;
        width: 600px;
        max-width: 600px;
    }
}