

.drawer{
    width: 76%;
    max-width: 350px;
    background-color: black !important;
    .side-menu-inner{
        padding: 20px 8%;
        padding-bottom: 0;
        position: relative;
        height: 100%;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        .content{
            flex: 1;
            overflow-y: scroll;
            overflow-x: hidden;
            position: relative;
            @include hide-scrollbar;
            ul{
                margin: 0;
                padding: 0;
                list-style: none;
                text-align: right;
            }
            a{
                text-decoration: none;
            }
            .login-button{
                button{
                    border: 1px solid white;
                    color: white;
                    font-size: 15px;
                    font-weight: normal;
                    outline: none;
                    line-height: 1;
                    padding: 3px 14px;
                    padding-bottom: 6px;
                }
            }
            .close-button{
                position: absolute;
                right: 0px;
                top: 8px;
                display: flex;
                align-items: center;
                display: flex;
                align-items: center;
                padding: 14px;
                top: -5px;
                right: -13px;
                
                svg{
                    width: 17px;
                    height: auto;
                    fill: white;
                    cursor: pointer;
                    g{
                        stroke: white;
                    }
                }
            }
            .search-form{
                position: relative;
                margin-top: 3rem;
                svg{
                    position: absolute;
                    height: 25px;
                    width: auto;
                    fill:  white;
                }
                input{
                    width: 100%;
                    background-color: transparent;
                    outline: none;
                    border: none;
                    border-bottom: 1px solid white;
                    height: 37px;
                    padding: 8px 0;
                    color: white;
                    padding-left: 30px;
                    text-align: right;
                    font-family: $main_font, $english_font;
                    font-size: 16px;
                    border-radius: 0;
                    direction: rtl;
                    &:focus{
                        outline: none;
                        // border: ;
                    }
                }
            }
            .main-list{
                padding: 1.5rem 0;
                ul{
                    li{
                        padding: 20px 0;
                        color: $black-two;
                        font-size: 20px;
                        font-weight: 900;
                        font-family: $main_font, 'specialFont';
                        a{
                            color: white;
                        }
                        span{
                            display: none;
                        }
                    }
                }
            }
            .divider{
                position: relative;
                .dal{
                    padding: 0 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: fit-content;
                    margin: 0;
                    background-color: black;
                    svg{
                        height: 20px;
                        width: auto;
                        fill: white;
                    }
                }
                &::after{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 0.5px;
                    background-color: white;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: -1;
                }
            }
            .sec-list{
                position: relative;
                padding: 15px 0;
                ul{
                    li{
                        padding: 4px 0rem;
                        font-weight: normal;
                        a{
                            color: white;
                            font-size: 18px;
                        }
                    }
                }
                
            }
        }
        .social{
            height: fit-content;
        }
        .social-icons{
            display: flex;
            align-items: center;
            background-color: black;
            padding: 20px 0;
            li{
                width: 25%;
                height: fit-content;
                text-align: center;
                // padding: 17px;
                padding: 0;
                a{
                    display: flex;
                    align-items: center;
                    svg{
                        width: 100%;
                        width: 20px;
                        height: auto;
                        fill: white;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

