// $modalContentDelay: 300ms;
// $linesDelay: 300ms;
// $AnimationDuration: 600ms;

$animation: 400ms;
$menuDelay: $animation + 200ms;

.menu-modal {
    height: calc(100vh - var(--header-height-desktop));
    bottom: 0 !important;
    top: unset !important;
    position: relative;
    .backdrop {
        height: calc(100vh - var(--header-height-desktop));
        bottom: 0 !important;
        top: unset !important;
        background-color: rgba($steel, 0.6) !important;
    }
    .modal-content {
        height: 100%;
        background-color: black;
        max-width: 700px;
        margin: 0 auto;
        animation-name: maskFromTopReverse;
        animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
        animation-duration: $animation;
        animation-delay: 0ms;
        animation-fill-mode: forwards;
        opacity: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        .inner {
            overflow-y: scroll;
            padding-top: 60px;
            padding-bottom: 60px;
            position: relative;
            cursor: url("/Assets/scroll-01.png"), auto;
            .main-list {
                ul {
                    li {
                        color: white;
                        font-size: 30px;
                        font-weight: 900;
                        text-align: center;
                        font-family: $main_font, $english_font;
                        padding: 50px 0;
                        opacity: 0;
                        transition: all 0.3s ease-in-out;
                        animation-name: fadeOut;
                        animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
                        animation-duration: 500ms;
                        animation-delay: 0ms;
                        animation-fill-mode: forwards;
                        position: relative;
                        a {
                            color: inherit;
                            position: relative;
                            font-size: 50px;
                            line-height: 1;
                            font-family: $main_font, "specialFont";
                            &::before {
                                content: "";
                                position: absolute;
                                height: 16px;
                                width: 0%;
                                background-color: $battleship-grey;
                                left: 50%;
                                bottom: 26%;
                                transform: translateX(-50%);
                                z-index: -1;
                                transition: all 0.2s ease-in-out;
                            }
                            &:hover {
                                &::before {
                                    width: calc(100% + 20px);
                                }
                            }
                        }
                        span {
                            display: block;
                            font-size: 20px;
                            color: white;
                            font-weight: normal;
                            font-family: $main_font, "specialFont";
                            cursor: pointer;
                            width: fit-content;
                            margin: 0 auto;
                        }
                        @for $item from 1 through 9 {
                            &:nth-of-type(#{$item}) {
                                animation-delay: $item * 000ms;
                            }
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            transform: translate(-50%, 100%) rotate(-30deg);
                            background-color: white;
                            width: 60px;
                            height: 1px;
                        }
                        &:last-child {
                            &::before {
                                content: none;
                            }
                        }
                    }
                }
            }
            @include hide-scrollbar;
        }
        .social {
            height: 70px;
            background-color: black;
            ul {
                width: 70%;
                margin: 0 auto;
                justify-content: space-between;
                li {
                    svg {
                        fill: white;
                        width: 30px;
                        height: auto;
                        &:hover {
                            fill: rgba(white, 0.6);
                        }
                    }
                }
            }
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 120px;
            left: 0;
            z-index: 5;
        }
        &::before {
            top: 0;
            background: linear-gradient(to bottom, black, rgba(black, 0));
        }
        &::after {
            bottom: 70px;
            background: linear-gradient(to top, black, rgba(black, 0));
        }
    }
    &.sticky {
        height: calc(100vh - var(--header-height-desktop-sticky));
        .backdrop {
            height: calc(100vh - var(--header-height-desktop-sticky));
        }
    }
    &::before,
    &::after {
        content: "";
        position: absolute;
        height: 8px;
        width: 45%;
        background-color: black;
        top: -8px;
        animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
        animation-duration: $animation;
        animation-delay: $animation;
        animation-fill-mode: both;
        opacity: 0;
    }
    &::before {
        left: 5%;
        animation-name: maskFromLeftReverse;
    }
    &::after {
        right: 5%;
        animation-name: maskFromRightReverse;
    }
    &.active {
        .modal-content {
            animation-name: maskFromTop;
            opacity: 0;
            animation-delay: $animation;
            .inner {
                .main-list {
                    ul {
                        li {
                            animation-name: fadeIn;
                            @for $item from 1 through 9 {
                                &:nth-of-type(#{$item}) {
                                    animation-delay: calc((#{$item} * 100ms) + #{$menuDelay});
                                }
                            }
                        }
                    }
                }
            }
        }

        &::before {
            animation-name: maskFromLeft;
            animation-delay: 00ms;
        }
        &::after {
            animation-name: maskFromRight;
            animation-delay: 00ms;
        }
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes maskFromTop {
    0% {
        -webkit-clip-path: inset(0% 0% 100% 0);
        clip-path: inset(0% 0% 100% 0);
        opacity: 1;
    }
    100% {
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }
}

@keyframes maskFromTopReverse {
    0% {
        -webkit-clip-path: inset(0% 0% 0% 0);
        clip-path: inset(0% 0% 0% 0);
        opacity: 1;
    }
    100% {
        -webkit-clip-path: inset(0 0 100% 0);
        clip-path: inset(0 0 100% 0);
        opacity: 1;
    }
}

@keyframes maskFromRight {
    0% {
        -webkit-clip-path: inset(0% 0% 0% 100%);
        clip-path: inset(0% 0% 0% 100%);
        opacity: 1;
    }
    100% {
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }
}

@keyframes maskFromRightReverse {
    0% {
        -webkit-clip-path: inset(0% 0% 0% 0%);
        clip-path: inset(0% 0% 0% 0%);
        opacity: 1;
    }
    100% {
        -webkit-clip-path: inset(0 0 0 100%);
        clip-path: inset(0 0 0 100%);
        opacity: 1;
    }
}

@keyframes maskFromLeft {
    0% {
        -webkit-clip-path: inset(0% 100% 0% 0%);
        clip-path: inset(0% 100% 0% 0%);
        opacity: 1;
    }
    100% {
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }
}

@keyframes maskFromLeftReverse {
    0% {
        -webkit-clip-path: inset(0% 0% 0% 0%);
        clip-path: inset(0% 0% 0% 0%);
        opacity: 1;
    }
    100% {
        -webkit-clip-path: inset(0 100% 0 0);
        clip-path: inset(0 100% 0 0);
        opacity: 1;
    }
}
