$animation: 400ms;


.nav-menu{
    .icon{
        // margin-left: 20px;
        cursor: pointer;
        position: relative;
        svg{
            opacity: 1;
            animation-name: fadeIn;
            animation-duration: 100ms;
            animation-fill-mode: both;
            animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
            animation-delay: 500ms;
        }
        .close-icon{
            position: absolute;
            width: 30px;
            height: 19px;
            pointer-events: none;
            top: 0;
            left: 0;
            &::before, &::after{
                content: "";
                display: block;
                box-sizing: border-box;
                position: absolute;
                width: 100%;
                height: 2px;
                background: currentColor;
                transform: rotate(34deg);
                border-radius: 0px;
                top: 8px;
                left: 1px;
                animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
                animation-duration: 200ms;
                animation-delay: 0;
                animation-fill-mode: both;
                opacity: 0;
            }
            &::before{
                // top: 0;
                // transform: rotate(10deg);
                animation-name: maskFromLeftReverse;
                animation-delay: 200ms;
            }
            &::after{
                transform: rotate(-34deg);
                animation-name: maskFromRightReverse;
                animation-delay: 0ms;
            }
        }
        &.active{
            svg{
                animation-name: fadeOut;
                animation-delay: 0ms;
            }
            .close-icon{
                &::before{
                    animation-name: maskFromLeft;
                    animation-delay: 200ms;
                }
                &::after{
                    animation-name: maskFromRight;
                    animation-delay: 400ms;
                }
            }
        }
    }
}






@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


@keyframes maskFromLeft{
    0% {
        -webkit-clip-path: inset(0% 100% 0% 0%);
        clip-path: inset(0% 100% 0% 0%);
        opacity: 1;
    }
    100% {
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }
}

@keyframes maskFromLeftReverse{
    0% {
        -webkit-clip-path: inset(0% 0% 0% 0%);
        clip-path: inset(0% 0% 0% 0%);
        opacity: 1;
    }
    100% {
        -webkit-clip-path: inset(0 100% 0 0);
        clip-path: inset(0 100% 0 0);
        opacity: 1;
    }
}


@keyframes maskFromRight{
    0% {
        -webkit-clip-path: inset(0% 0% 0% 100%);
        clip-path: inset(0% 0% 0% 100%);
        opacity: 1;
    }
    100% {
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }
}

@keyframes maskFromRightReverse{
    0% {
        -webkit-clip-path: inset(0% 0% 0% 0%);
        clip-path: inset(0% 0% 0% 0%);
        opacity: 1;
    }
    100% {
        -webkit-clip-path: inset(0 0 0 100%);
        clip-path: inset(0 0 0 100%);
        opacity: 1;
    }
}