.correction_temp{
    .post-header{
        position: relative;
        top: 0;
        .post-title{
            display: none;
        }
    }
    .post-info{
        position: absolute;
        width: 100%;
    }
    .post-body{
        background-color: white;
        width: 100%;
        p{
            //margin: 3rem 7%;
            font-size: 19px;
            line-height: 50px; 
            position: relative; // this is very important so can js work
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            //padding: 0 7%;
        }
    }
    .has-correction{
        position: relative;
    }
}

.correction-parent{
    margin: 3rem 7%;
    .comments_bottom{
        span{
            margin-bottom: 1.5rem;
        }
    }
}

.hand-text{
    font-family: $hand_font;
    color: $correction-red;
    line-height: 1;
    color: #0039a6;
}

.floating-comment{
    text-align: center;
    display: block;
    line-height: 1.4;
    color: $correction-red;
    font-size: 18px;
    width: fit-content;
    &:not(:first-of-type){
        margin-top: 30px;
    }
}

.between-lines{
    position: absolute; // this is very important so can js work
    width: fit-content; // this is very important so can js work
    right: 50%;
    transform: translate(50%, -140%);
    border: none;
    white-space: nowrap; // this is very important so can js work
    font-size: 16px;
    color: $correction-red;
}




.arrow {
    pointer-events: none;
    z-index: 2;
}
.arrow__path {
    stroke: #ef25258f;
    fill: transparent;
    stroke-width: 2;
}
.arrow__head line {
    stroke:  #ef25258f;
    stroke-width: 2px;
}
