body{
    font-family: $main_font;
}


html{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}

.swiper-container{
    direction: rtl;
}



.about-page{
    .swiper-pagination-bullet{
        background-color: black !important;
        height: 2px !important;
        width: 2px !important;
        border-radius: 0 !important;
        transition: all 0.3s ease-in-out;
        margin-left: 5px;
        opacity: 1 !important;
        &.swiper-pagination-bullet-active{
            height: 10px !important;
            @include lg{
                height: 15px !important;
            }
        }
        @include lg{
            margin-left: 10px;
            height: 5px !important;
            width: 4px !important;
        }
    }
}

.dorar{
    .swiper-container{
        overflow: visible;
    }
    .swiper-pagination{
        justify-content: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 15px !important;
        bottom: 0px !important;
        .swiper-pagination-bullet{
            border-radius: 0 !important;
            background-color: black !important;
            opacity: 1 !important;
            margin: 0 10px !important;
            width: 4px !important;
            height: 5px !important;
            transition: height 0.25s ease-in-out;
            &.swiper-pagination-bullet-active{
                height: 15px !important;
            }
        }
    }
}



input{
    margin: 0;
    box-sizing: border-box;
}


.remove-desktop{
    @include lg{
        display: none;
    }
}

