body,p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
// html {
//     scroll-behavior: smooth;
// }
*, *::before, *::after{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
  }
p,h1,h2,h3,h4,h5,h6{
    direction: rtl;
}
img{
    user-select: none;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
main{
    // overflow-x: hidden;
}
body{
    overflow-x: hidden;
}
div:focus{
    outline: none ;
}
figure{
    margin: 0;
}
button{
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    font-family: $main_font, $english_font;
}

.ellipsis{
    position: absolute;
    margin-right: 4px;
}
.MuiTooltip-tooltipPlacementLeft{
    white-space: pre;
}
.MuiTooltip-tooltip{
    padding: 6px 15px !important;
    font-size: 12px !important;
    font-family: taha !important;
    background-color: black !important;
}
.MuiTooltip-arrow{
    color: black !important;
}

.swiper-container-fade{
    .swiper-slide{
        opacity: 0 !important;
        &.swiper-slide-active{
            opacity: 1 !important;
        }
    }
}