@font-face {
    font-family: taha;
    font-weight: normal;
    src: url('/Assets/fonts/Muna_Font_fixed/normal/OpenType-TT/muna\ normal.ttf');

}

@font-face {
    font-family: taha;
    font-weight: bold;
    src: url('/Assets/fonts/Muna_Font_fixed/bold/OpenType-TT/muna\ bold.ttf');
}

@font-face {
    font-family: taha;
    font-weight: 900;
    src: url("/Assets/fonts/Muna_Font_fixed/Black/OpenType-TT/muna\ black.ttf");
}




@font-face{
    font-family: massira;
    font-weight: normal;
    src: url('/Assets/fonts/29LTMassira-Pen.ttf') format('ttf'),
        url('/Assets/fonts/29LTMassira-Pen.eot') format(('eot')),
        url('/Assets/fonts/29LTMassira-Pen.woff') format('woff');
}



@font-face{
    font-family: "specialFont";
    font-weight: bold;
    src: url('/Assets/fonts/FontsFree-Net-SFProText-Regular.ttf');
}




@font-face{
    font-family: "SFProText";
    font-weight: normal;
    src: url('/Assets/fonts/FontsFree-Net-SFProText-Regular.ttf');
}

@font-face{
    font-family: "SFProText";
    font-weight: 500;
    src: url('/Assets/fonts/FontsFree-Net-SFProText-Medium-1.ttf');
}

@font-face{
    font-family: "SFProText";
    font-weight: 600;
    src: url('/Assets/fonts/FontsFree-Net-SFProText-Semibold-1.ttf');
}

@font-face{
    font-family: "SFProText";
    font-weight: 700;
    src: url('/Assets/fonts/FontsFree-Net-SFProText-Heavy.ttf');
}