/* Webfont: KFGQPCUthmanTahaNaskh-Bold */@font-face {
    font-family: 'KFGQPCUthmanTahaNaskh';
    src: url('muna bold.eot'); /* IE9 Compat Modes */
    src: url('muna bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('muna bold.woff') format('woff'), /* Modern Browsers */
         url('muna bold.woff2') format('woff2'), /* Modern Browsers */
         url('muna bold.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

