.font-divider{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 20px;
    margin: 1rem 0;
    span{
        width: fit-content;
        margin: auto;
        position: relative;
        line-height: 1.2;
        &::before, &::after{
            content: "";
            position: absolute;
            height: 1px;
            width: 30px;
            background-color: $pale-blue;
            top: 60%;
        }
        &::before{
            left: 0%;
            transform: translate(-130%, 0%);
        }
        &::after{
            right: 0%;
            transform: translate(130% , 0%);
        }
    }
    &:not(.modal){
        @include lg{
            margin: 3rem 0;
            span{
                line-height: 1;
                font-size: 20px;
                &::before, &::after{
                    height: 30px;
                    width: 1px;
                    left: 50%;
                    transform: none;
                    top: unset;
                    right: unset
                }
                &::before{
                    top: 0;
                    transform: translate(-50%, -120%);
                }
                &::after{
                    bottom: 0;
                    transform: translate(-50%, 133%);
                }
            }
        }
    }
    
}