
.form{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
    //padding: 0 4%;
    margin: auto;
    padding-bottom: 4rem;
    .checkbox-field{
        display: flex;
        flex-direction: row-reverse;
        margin-right: 0;
        align-items: center;
        margin-bottom: 0.5rem;
        margin-top: 1.5rem;
        width: 100%;
        input{
            display: none;
        }
        .checkbox{
            padding: 0;
            svg{
                width: 25px;
            }
        }
        .label-text{
            font-size: 14px;
            line-height: 1.2;
            text-align: right;
            margin-right: 0.3rem;
            font-family: $main_font, $english_font;
            @include md{
                font-size: 16px;
            }
            @include lg{
                font-size: 15px;
            }
        }
        a{
            text-decoration: none;
            color: black;
            font-weight: bold;
        }
        // &.small-label{
        //     span{
        //         &:last-child{
        //             width: 80%;
        //             margin-left: auto;
        //             font-size: 12px;
        //             color: $steel;
        //             @include lg{
        //                 font-size: 14px;
        //                 width: 100%;
        //             }
        //         }
        //     }
        // }
        &.error{
            .checkbox{
                svg{
                    fill: red
                }
            }
            span{
                &:last-child{
                    color: red;
                }
            }
        }
    }
    .form-control{
        width: 100%;
        margin-bottom: 20px;
        margin-top: 0;
        &.password{
            margin-top: 0 !important;
            text-align: left;
            display: flex;
            flex-direction: column;
            .forget-password{
                width: fit-content;
                margin-right: auto;
                font-family: $main_font;
                position: relative;
                line-height: 1;
                margin-bottom: 0.4rem;
                font-size: 14px;
                z-index: 4;
                cursor: pointer;
                &::before{
                    content: "";
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    height: 4px;
                    width: 100%;
                    transform: translateX(-50%);
                    background-color: $pale-blue;
                    z-index: -1;
                }
                &::after{
                    content: "";
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    height: 4px;
                    width: 0%;
                    transform: translateX(-50%);
                    background-color: $bluey-grey;
                    z-index: -1;
                    transition: all 0.2s ease-in-out;
                }
                &:hover{
                    &::after{
                        width: 100%;
                        
                    }
                }
                @include lg{
                    margin-top: 0.4rem;
                    margin-bottom: 0;
                    font-size: 16px;
                }
            }
            @include lg{
                flex-direction: column-reverse;
            }
        }
    }
    .field{
        border: 1px solid black;
        height: 60px;
        padding: 0 20px;
        border-radius: 0;
        transition: border-width 0.2s ease-in-out;
        background-color: $pale-grey-three;
        border-color: $pale-grey-three;
        box-sizing: border-box;
        flex-direction: row-reverse;
        input{
            border-radius: 0;
            margin: 0;
            direction: rtl;
            text-align: right;
            font-family: $main_font, 'specialFont';
            font-weight: bold;
            font-size: 18px;
            line-height: 1;
            &::-webkit-input-placeholder { /* Edge */
                color: $steel;
                font-weight: normal;
                font-size: 15px;
            }
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: $steel;
                font-weight: normal;
                font-size: 15px;
            }
            &:-webkit-autofill{
                background-color: red !important;
                &:hover, &:focus, &:active{
                    background-color: red !important;
                }
            }
            &::placeholder {
                color: $steel;
                font-weight: normal;
                font-size: 16px;
            }
            &[type="email"]{
                font-family: 'specialFont', $main_font;
            }
            &[type= "password"]{
                font-weight: normal;
                font-family: 'specialFont', $main_font;
                &::-ms-reveal, &::-ms-clear{
                    display: none;
                }
            }
            
        }
        input:-webkit-autofill,
        input:-webkit-autofill:hover, 
        input:-webkit-autofill:focus,
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover,
        textarea:-webkit-autofill:focus,
        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus {
            border:none;
            -webkit-box-shadow: 0 0 0px 1000px $pale-grey-three inset;
            transition: background-color 5000s ease-in-out 0s;
        }
        svg{
            width: 20px;
        }
        &.email{
            input{
                font-family: 'specialFont', $main_font;
            }
        }
        .progress{
            display: flex;
            width: 20px !important;
            height: 20px !important;
            svg{
                width: 100%;
                circle{
                    stroke: black !important;
                }
            }
        }
        &.error{
            background-color: rgba($orangey-red, 0.1);
            border-color: rgba($orangey-red, 0.01);
            input{
                color: $orangey-red ;
                &:focus{
                    color: black;
                }
            }
        }
        &.password{
            input{
                font-family: 'specialFont', $main_font;
            }
        }
        &:hover{
            background-color: $pale-blue;
            input:-webkit-autofill,
            input:-webkit-autofill:hover, 
            input:-webkit-autofill:focus,
            textarea:-webkit-autofill,
            textarea:-webkit-autofill:hover,
            textarea:-webkit-autofill:focus,
            select:-webkit-autofill,
            select:-webkit-autofill:hover,
            select:-webkit-autofill:focus {
                border:none;
                -webkit-box-shadow: 0 0 0px 1000px $pale-blue inset;
                transition: background-color 5000s ease-in-out 0s;
            }
        }
        &:focus-within{
            border-right-width: 10px;
            background-color: white;
            border-color: black;
            input:-webkit-autofill,
            input:-webkit-autofill:hover, 
            input:-webkit-autofill:focus,
            textarea:-webkit-autofill,
            textarea:-webkit-autofill:hover,
            textarea:-webkit-autofill:focus,
            select:-webkit-autofill,
            select:-webkit-autofill:hover,
            select:-webkit-autofill:focus {
                border:none;
                -webkit-box-shadow: 0 0 0px 1000px white inset;
                transition: background-color 5000s ease-in-out 0s;
            }
            @include lg{
                border-right-width: 16px;
            }
        }
        &.withIcon{
            padding-left: 10px;
            input{
                padding-left: 20px;
            }
            .icon{
                cursor: pointer;
                svg{
                    cursor: pointer;
                    width: 20px;
                }
            }
        }
        
        @include lg{
            height: 72px;
        }
    }
    .submit-button{
        a, button{
            height: 54px;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include lg{
                height: 76px;
                font-size: 23px;
            }
        }
        &.disabled{
            button{
                opacity: 0.6;
                user-select: none;
                pointer-events: none;
                touch-action: none;
                cursor: default;
                &:hover{
                    box-shadow: 6px 6px 0px black !important;
                }
            }
        }
    }
    .change-form{
        text-align: center;
        width: 100%;
        margin-top: 2rem;
        p{
            color: $steel;
            font-size: 18px;
            line-height: 1;
        }
        .change-form-button{
            line-height: 1;
            position: relative;
            cursor: pointer;
            width: fit-content;
            margin: auto;
            margin-top: 10px;
            button{
                font-size: 18px;
                font-weight: bold;
                line-height: 1;
            }
            &::before{
                content: "";
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
                width: 110%;
                height: 8px;
                background-color: $pale-blue;
                z-index: -1;
            }
        }
    }
    &.desktop{
        .form-control{
            &.half{
                width: 48%;
            }
        }
    }
    &.modal{
        .field{
            height: 60px;
        }
        .form-control{
            width: 100%;
            margin-bottom: 20px;
            margin-top: 0;
            &.password{
                @include lg{
                    flex-direction: column;
                    .forget-password{
                        margin-bottom: 0.4rem;
                        margin-top: 0;
                    }
                }
            }
        }
        .change-form:not(.forget-password){
            position: absolute;
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: center;
            margin: 0;
            top: 15px;
            left: 10px;
            @include lg{
                left: 25px;
                width: fit-content;
                top: 25px;
            }
            p{
                font-size: 16px;
                @include lg{
                    font-size: 19px;
                }
            }
            .change-form-button{
                margin-top: 0;
                margin-right: 6px;
                margin-left: 0;
                button{
                    font-size: 16px;
                    font-weight: bold;
                    @include lg{
                        font-size: 19px;
                    }
                }
                @include lg{
                    margin-right: 13px;
                }
            }
        }
        .submit-button{
            a, button{
                height: 54px;
            }
        }
        @include lg{
            padding-bottom: 0;
            
        }
    }
}

.errors{
    // min-height: 48px;
    margin: 15px 0;
    text-align: right;
    transition: height 0.1s ease-in-out;
    transition-delay: 0s;
    p{
        color: $orangey-red;
        font-size: 14px;
        direction: rtl;
        transition: all 0.3s ease-in-out;
        div{
            display: inline-block;
        }
        span{
            line-height: 1;
            font-size: 14px;
        }
    }
}
.back-button{
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    svg{
        width: 25px;
        @include lg{
            width: 35px;
        }
    }
}

.error-button{
    display: inline-block;
    margin-right: 6px;
}

.form-heading{
    margin-bottom: 2rem;
    
}

.text{
    font-size: 18px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 1rem;
    color: $steel;
    line-height: 1.3;
}



