.post-buttons{
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        width: fit-content;
        margin-right: auto;
        background-color: black;
        padding: 0;
        padding-left: 10px;
        padding-right: 4px;
        li{
            height: 100%;
            display: inline-flex;
            padding: 0;
            height: 40px;
            width: 40px;
            //margin-right: 25px;
            button{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            svg{
                fill: white;
                width: auto;
                height: 19px;
                
            }
            &:not(:first-child){
                //margin-left: 4px;
            }
            &.bookmark{
                button{
                    cursor: pointer;
                }
            }
            &:last-child{
                margin-right: 0;
            }
        }
        @include lg{
            padding: 11px 18px 8px 18px
        }
    }
    &.box{
        ul{
            
        }
    }
}