.post-tags{
    display:flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: flex-start;
    svg{
        width: 15px;
        height: auto;
        fill: $steel;
        margin-left: 8px;
        margin-top: 2px;
    }
    .tag{
        padding-left: 15px;
        cursor: pointer;
        color: $steel;
        font-size: 15px;
        line-height: 1;
        &:last-child{
            padding-left: 0;
        }
    }
}