footer.footer{
    background-color: black;
    text-align: center;
    padding: 4rem 0;
    padding-left: $page-padding-left;
    padding-right: $page-padding-right;
    color: white;
    z-index: var(--footer-index);
    position: relative;
    .footer-inner{
        display: flex;
        flex-direction: column;
        h2{
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
            white-space: nowrap;
            word-wrap: normal;
        }
        .footer-section{
            width: 100%;
            h3{
                margin-bottom: 1.5rem;
                font-size: 24px;
            }
            @include lg{
                h3{
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 3rem;
                }
            }
        }
        .footer-about{
            .alhudood-logo{
                text-align: center;
                svg{
                    height: 40px;
                    width: auto;
                    margin: auto;
                    @include lg{
                        width: 50px;
                        height: auto;
                    }
                }
            }
            p{
                color: white;
                font-size: 15px;
                margin-top: 1rem;
            }
            .dal{
                margin: 2rem 0;
                svg{
                    fill: white;
                    width: 15px;
                }
            }
            .newsletter{
                width: 100%;
                margin: auto;
                @include md{
                    width: 80%;
                }
            }
            @include lg{
                order: 2;
                width: 60%;
                text-align: center;
                margin: 0 2%;
                position: relative;
                padding: 0 2%;
                padding-bottom: 4rem;
                &::before, &::after{
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: 90%;
                    bottom: 0;
                    background-color: $slate-grey;
                }
                &::before{
                    left: 0;
                }
                &::after{
                    right: 0;
                }
            }
        }
        .footer-social{
            .inner{
                ul{
                    display: grid;
                    grid-template-columns: auto auto;
                    list-style: none;
                    padding:0;
                    margin: 0;
                    max-width: 240px;
                    margin: auto;
                    gap: 35px;
                    li{
                        align-self: center;
                        padding: 0;
                        a{
                            display: inherit;
                        }
                        svg{
                            width: 26px;
                            height: auto;
                            fill: white;
                            @include lg{
                                width: 38.3px;
                            }
                        }
                        &:hover{
                            svg{
                                fill: $bluey-grey;
                            }
                        }
                    }
                    @include lg{
                        gap: 45px;
                    }
                }
                @include lg{
                    width: fit-content;
                }
            }
            @include lg{
                order: 3;
                width: 15%;
            }
        }
        .footer-menu{
            ul{
                list-style: none;
                margin: 0;
                padding: 0 ;
                li{
                    line-height: 1;
                    padding-bottom: 1rem;
                    a{
                        color: $bluey-grey;
                        text-decoration: none;
                        transition: all 0.2s ease-in-out;
                        &:hover{
                            color: white;
                        }
                    }
                    &:last-child{
                        padding-bottom: 0;
                    }
                }
            }
            @include lg{
                order: 1;
                text-align: right;
                width: 15%;
            }
        }
        .footer-social, .footer-menu{
            padding-top: 3rem;
        }
        @include lg{
            max-width: 1500px;
            margin: auto;
            width: 85%;
            flex-direction: row-reverse;
            justify-content: space-between;
            display: flex;
            flex-wrap: wrap;
            padding: 0 1rem;
        }
    }
    .footer-copyright{
        width: fit-content;
        margin: auto;
        margin-top: 2rem;
        .short-bio{
            color: $steel;
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            font-weight: normal;
            font-size: 14px;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                width: 84%;
                height: 1px;
                background-color: $pale-grey;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                @include lg{
                    width: 130%;
                    background-color: $slate-grey;
                }
            }
        }
        .copyright-symbol{
            font-family: $english_font;
            font-weight: normal;
        }
        @include lg{
            margin-top: 0rem;
        }
    }
    @include lg{
        padding: 4rem 0rem;
    }
}