.header{
    position: relative;
    top: 0;
    // min-height: var(--header-min-height);
    height: var(--header-height-mobile);
    z-index: 200;
    background: var(--header-background-color);
    .container{
        display: flex;
        height: 100%;
        padding: 0.5rem 1rem;
        justify-content: space-between;
        flex-wrap: wrap;
        .list{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            .search{
                display: none;
                align-items: center;
                svg{
                    width: 20px;
                }
                @include lg{
                    display: flex;
                    padding: 0 1rem
                }
            }
            
            .hidden-icon{
                transform: translateX(5.5px);
                opacity: 0;
                touch-action: none;
                pointer-events: none;
                user-select: none;
                svg{
                    // fill: red;
                }
            }
            .nav-menu{
                position: fixed;
                right: 10px;
                top: 20px;
            }
            .user-status{
                margin-right: 18px;
                display: flex;
                align-items: center;
            }
        }
        .site-logo{
            max-width: 60px;
            width: 100%;
            position: relative;
            // .dal{
            //     display: none;
            // }
            .logo{
                // z-index: 2;
                width: 60px;
                position: relative;
                transition: width ease-in-out; 
                path{
                    &.dal{
                        fill: transparent ;
                    }
                }
                &.fixed{
                    position: fixed;
                    // z-index: 1;
                    top: 8px;
                    path{
                        fill: transparent;
                        &.dal{
                            fill: black;
                        }
                    }
                }
            }
        }
        .line{
            position: fixed;
            top: var(--header-height-mobile);
            width: 90%;
            left: 50%;
            transform: translateX(-50%);
            height: 1px;
            background-color: $pale-blue;
            &.hidden-line{
                position: relative;
                top: 0.5rem;
                opacity: 0;
                width: 90vw;
            }
        }
        @include lg{
            flex-direction: row-reverse;
            max-width: 1500px;
            width: 85%;
            margin: auto;
        }
    }
    .buttons{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        button{
            // margin-left: 20px;
            // cursor: pointer;
        }
    }
    &.sticky{
        &::after{
            box-shadow: 0px 20px 20px -10px #00000012;
        }
    }
    &::before{
        // content: "";
        position: fixed;
        top: var(--header-height-mobile);
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        background-color: $pale-blue;
        @include lg{
            width: 95%;
        }
    }
    &::after{
        content: "";
        position: fixed;
        top: 0;
        width: 100%;
        left: 0%;
        height: var(--header-height-mobile);
        // background-color: var(--header-background-color);
        background-color: white;
        z-index: -1;
    }
    &.reverse:not(.compact){
        .line{
            opacity: 0;
            &.hidden-line{
                opacity: 1;
            }
        }
        .site-logo{
            .logo{                
                path{
                    &.dal{
                        fill: black ;
                    }
                }
                &.fixed{
                    opacity: 0;
                    position: fixed;
                    // z-index: 1;
                    top: 8px;
                    path{
                        fill: transparent;
                        &.dal{
                            fill: black;
                        }
                    }
                }
            }
        }
        .nav-menu{
            opacity: 0;
        }
        .hidden-icon{
            opacity: 1 !important;
        }
    }
    &.compact{
        align-items: center;
        // min-height: 42px;
        // padding-top: 10px;
        height: 50px;
        .container{
            align-content: center;
            align-items: center;
            .list{
                .nav-menu{
                    position: unset;
                    right: 10px;
                    top: 20px;
                }
                .user-status{
                    display: none;
                }
            }
            .site-logo{
                .logo{
                    position: absolute;
                    path{
                        fill: transparent;
                        &.dal{
                            fill: transparent;
                        }
                    }
                    &.fixed{
                        position: unset !important;
                        // z-index: 1;
                        width: 70px !important;
                        top: -8px !important;
                        transform: translateY(-8px);
                        path{
                            fill: transparent;
                            &.dal{
                                fill: black;
                            }
                        }
                    }
                }
            }
            .line{
                width: 70% !important;
                position: absolute;
                top: 50% !important;
                left: 50%;
                transform: translate(-52%, -50%);
                &.hidden{
                    display: none;
                }
            }
            
        }
        &::after{
            content: none;
            // height: 50px;
        }
        
        &::before{
            content: none;
        }
    }

    @include lg{
        position: fixed;
        width: 100%;
        height: var(--header-height-desktop);
        transition: all 0.3s ease-in-out;
        .container{
            .site-logo{
                max-width: 100px;
                display: flex;
                align-items: center;
                .logo{
                    width: var(--header-logo-width-desktop);
                    transition: all 0.3s ease-in-out;
                    path{
                        &.dal{
                            fill: black !important;
                        }
                        
                    }
                    &.fixed{
                        display: none;
                    }
                }
            }
            .list{
                .nav-menu{
                    position: unset;
                }
            }
            .line{
                position: absolute;
                top: unset !important;
                width: 90vw !important;
                bottom: 0;
                &.hidden-line{
                    display: none;
                }
            }
        }
        &::after{
            content: none;
        }
        &.sticky{
            height: var(--header-height-desktop-sticky);
            .container{
                .site-logo{
                    .logo{
                        width: var(--header-logo-width-desktop-sticky);
                    }
                }
            }
        }
    }
}