.content-blocks{
    .category-name{
        margin-bottom: 2rem;
    }
    .posts{
        display: flex;
    }
    .more{
        margin-top: 4%;
        @include lg{
            margin-top: 1rem;
        }
    }
    &.horizontal-scroll{
        .more{
            margin-top: 7%;
            margin-left: calc(3vw - #{$page-padding-left});
        }
    }

    &.grid{
        position: relative;
        .more{
            @include lg{
                display: none;
            }
        }
        &::before{
            content: "";
            width: 55%;
            height: 1px;
            background-color: black;
            left: 0;
            top: 50%;
            position: absolute;
            transform: translateY(-50%);
        }
    }
}