section{
    .inner{
        position: relative;
        overflow: hidden;
        padding-bottom: 3%;
        .contentType-name{
            padding-left: 6%;
            padding-right: $page-padding-right;
            margin-bottom: 6%;
            width: fit-content;
            margin-left: auto;
            position: relative;
            svg{
                position: absolute;
                right: 0;
                width: 100%;
                top: 58%;
                z-index: -1;
                @include lg{
                    right: -30%;
                    width: 135%;
                    height: auto;
                }
            }
            @include lg{
                padding-right: 10px;
            }
        }
        .content{
            padding-left: calc(#{$page-padding-left} - 2.5vw);
            padding-right: calc(#{$page-padding-right} - 2.5vw);
            display: flex;
            position: relative;
            z-index: 2;
            img{
                width: 100%;
                height: 100%;
            }
            .images {
                height: 360px;
                overflow-x: hidden;
                direction: rtl;
                overflow: hidden;
                margin-left: -$page-padding-left;
                margin-right: -$page-padding-right;
                display: flex;
                overflow: scroll;
                @include hide-scrollbar;
                .scroll-image{
                    //overflow: scroll;
                    height: 100%;
                    padding-left: 10px;
                    figure{
                        height: 100%;
                        //overflow-x: scroll;
                        overflow-y: hidden;
                        display: flex;
                        img{
                            height: 100%;
                            width: auto;
                            // padding-left: 40px;
                            // padding-right: 25px;
                        }
                    }
                    &:first-child{
                        padding-right: 25px;
                    }
                    &:last-child{
                        padding-left: 40px;
                    }
                }
            }
            .wide-image{
                height: 360px;
                overflow-x: hidden;
                direction: rtl;
                overflow: hidden;
                margin-left: -$page-padding-left;
                margin-right: -$page-padding-right;
                figure{
                    height: 100%;
                    overflow-x: scroll;
                    overflow-y: hidden;
                    display: flex;
                    @include hide-scrollbar;
                    img{
                        height: 100%;
                        width: auto;
                        padding-left: 40px;
                        padding-right: 25px;
                    }
                }
            }
            .slider{
                height: var(--comic-slider-height);
                .slide{
                    width: fit-content !important;
                    img{
                        width: auto;
                    }
                }
            }
            &::before{
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                width: 1px;
                height: 115%;
                background-color: black;
                transform: translate(-50%,-50%);
                z-index: -1;
            }
            @include lg{
                padding: 0;
            }
        }
        .author{
            padding-left: calc(#{$page-padding-left} - 2.5vw);
            padding-right: calc(#{$page-padding-right} - 2.5vw);
            margin-top: 2%;
            span{
                font-weight: 900;
                font-size: 14px;
                position: relative;
                svg{
                    position: absolute;
                    left: -5px;
                    bottom: 8%;
                    z-index: -1;
                    width: 100%;
                    height: auto;
                    @include lg{
                        
                    }
                }
                @include lg{
                    font-size: 17px;
                }
            }
            @include lg{
                padding: 0;
            }
        }
        @include lg{
            overflow: visible;
        }
    }
}