$mobile-width: 375px;
$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-large-width: 1280px;
$custom-width: 1300px;


@mixin sm {
  @media (min-width: #{$mobile-width}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin lg {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin xl {
    @media (min-width: #{$desktop-large-width}) {
        @content;
    }
}

@mixin custom {
  @media (min-width: #{$custom-width}) {
    @content;
  }
}



@mixin hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar{
    display: none;
  }
}