:root {  

    // you should give the header fixed height, not min height


    //box template
    --pageBackground: white;
    --boxBackground: #{$pale-grey-three};
    --title-box-marin-error: 30px;
    --featured_image_height: 74vw;
    --post_body_width: 95vw;
    --post_body_padding: 6%;
    --post_body_max_width: 1100px;

    @include md{
        --featured_image_height: 50vw;
    }
    @include lg{
        --featured_image_height: 42vw;
        --post-body_width: 70%;
    }
    @include xl{
        --featured_image_height: min(32vw, 400px);
    }



    // header
    --header-min-height: 65px;
    --header-height-mobile: 62px;
    --header-height-desktop: 120px;
    --header-height-desktop-sticky: 76px;
    --header-logo-width-desktop: 100px;
    --header-logo-width-desktop-sticky: 70px;
    --header-background-color: #ffffffeb;


    // z-index
    --footer-index: 40;
    --socialShare-index: 35;


    // aaaj voting buttons

    --button-width-height: 40px;



    //about page
    --country-width: 100px;


    //profile
    --profile-slider-height: 200px;


    //comic section
    --comic-slider-height: 360px;


    //AlhudoodPedia countries
    --country-map-aspect: 0px;


    // media monitoring - type: files
    --file-padding-bottom: 2rem;
    --file-padding-top: 1rem;
    --timeline-right: 20.5%;
    --timeline-pin-width: 17px;
    --timeline-pin-height: 17px;
    --timeline-margin-error: 2px;
    --timeline-pin-position: 0px;
    --window-height: 0px;


    //colors
    --brown-grey: #{$brown-grey};
    --brown-grey-two: #{$brown-grey-two};
    --very-light-pink: #{$very-light-pink};
    --very-light-pink-two: #{$very-light-pink-two};
    --steel: #{$steel};
    --light-peach: #{$light-peach};
    --light-grey: #{$light-grey};
    --battleship-grey: #65727d;
    --bluey-grey: #{$bluey-grey};
    --pale-blue: #{$pale-blue};
    --pale-grey: #{$pale-grey};
    --ice-blue: #{$ice-blue};
    --pale-grey-two: #{$pale-grey-two};
    --pale-grey-three: #{$pale-grey-three};
    --greyish-brown: #{$greyish-brown};
    --brownish-grey: #{$brownish-grey};
}