@import './mixins.scss';


$brown-grey: #a2a2a2;
$brown-grey-two: #888888;
$very-light-pink: #e8e8e8;
$very-light-pink-two: #cccccc;
$greyish-brown: #3c3c3c;
$steel: #878d96;
$light-peach: #edc6c6;
$light-grey: #f5f5f5;
$battleship-grey: #65727d;
$bluey-grey: #afb7c4;
$pale-blue: #dfe4ea;
$pale-grey: #e8edf3;
$ice-blue: #ecf0f5;
$pale-grey-two: #eef3f9;
$pale-grey-three: #eff3f7;
$brownish-grey: #707070;
$correction-red: #EF2525;
$black-two: #262626;
$orangey-red: #f43d3d;
$black-three: #191919;
$slate-grey: #64686f;
$pale-grey-four: #f6fafe;
$pale-turquoise: #ace5d1;
$very-light-pink: #feebeb;
$ice: #ebfeec;
$dark-sage: #5c915f;

$page-padding-right: 7vw;
$page-padding-left: 7vw;
$page-padding-top: 3rem;
$page-padding-bottom: 3rem;
$dictionary-page-padding-right: 4.6vw;
$dictionary-page-padding-left: 4.6vw;

$page-padding-right-desktop: 4vw;
$page-padding-left-desktop: 4vw;












$main_font: "taha";
$hand_font: "massira";
$naksh: "test";
$english_font: 'SFProText';