.aaaj-source{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    .logo{
        display: flex;
        img{
            height: 40px;
            width: auto;
        }
    }
    .source{
        display: flex;
        flex-direction: row-reverse;
        color: $battleship-grey;
        font-size: 16px;
        margin-right: 5px;
        .country{
            direction: rtl;
        }
    }
}