.aaaj-type{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 1rem;
    .type{
        font-size: 20px;
        font-weight: bold;
        margin: 0 4px;
    }
    .icon{
        display: flex;
        svg{
            fill: $bluey-grey;
            width: 20px;
            height: auto;
            path{
                fill: $bluey-grey
            }
        }
    }
    .reverse{
        transform: scaleX(-1);
    }
}