.card{
    position: absolute;
    width: 100%;
    height: 100%;
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .inner{
        width: 100%;
        height: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 25px;
        padding-bottom: 0;
        border: 1px solid $pale-grey;
        //border-top: 11px solid $bluey-grey;
        opacity: 0;
        transition: all 4s ease-in-out;
        position: relative;
        .content{
            text-align: center;
            height: 100%;
            width: 100%;
            .tax{
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                margin-bottom: 5%;
                .type{
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    span{
                        font-size: 16px;
                        font-weight: 900;
                        margin: 0 3px;
                    }
                    .icon{
                        display: flex;
                        svg{
                            fill: $battleship-grey;
                            width: 20px;
                            height: auto;
                            path{
                                fill: $battleship-grey
                            }
                        }
                    }
                    .reverse{
                        transform: scaleX(-1);
                    }
                }
                .source{
                    display: flex;
                    flex-direction: row-reverse;
                    .logo{
                        img{
                            width: 20px;
                            pointer-events: none;
                        }
                    }
                }
            }
            .image{
                width: 85%;
                margin: 0 auto;
                // max-width: 300px;
                figure{
                    position: relative;
                    padding-bottom: 51%;
                    picture{
                        img{
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            pointer-events: none;
                        }
                    }
                }
            }
            .details{
                margin-top: 4%;
                h2{
                    line-height: 1.3;
                    font-size: 20px;
                    font-weight: bold;
                    position: relative;
                    max-height: 52px;
                    direction: rtl;
                    overflow-y: hidden;
                    span{
                        word-break: break-word;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        line-height: 1.3; /* fallback */
                        max-height: 52px; /* fallback */
                        -webkit-line-clamp: 2; /* number of lines to show */
                        -webkit-box-orient: vertical;
                    }
                    // overflow: hidden;
                    // span{
                    //     position: absolute;
                    //     font-size: 12px;
                    //     left: -8px;
                    //     bottom: 3px;
                    // }
                }
                .excerpt{
                    font-size: 14px;
                    font-weight: normal;
                    color: $steel;
                    margin-top: 3%;
                    position: relative;
                    // direction: rtl;
                    // span{
                    //     word-break: break-word;
                    //     overflow: hidden;
                    //     text-overflow: ellipsis;
                    //     display: -webkit-box;
                    //     line-height: 1.3; /* fallback */
                    //     max-height: 52px; /* fallback */
                    //     -webkit-line-clamp: 2; /* number of lines to show */
                    //     -webkit-box-orient: vertical;
                    //     &::after{
                    //         content: " ";
                    //         display: block;
                    //         width: 0;
                    //         height: 0;
                    //         line-height: 0;
                    //     }
                    // }
                    span{
                        display: -webkit-box;
                        text-align: center;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;  
                        overflow: hidden;
                        direction: rtl;
                    }
                }
            }
            
        }
        .buttons{
            transform: translateY(calc(50% - 2px));
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            width: 88%;
            margin: 0 auto;
            .button{
                width: 46px;
                height: 46px;
                display: flex;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                border: 2px solid $bluey-grey;
                background-color: white;
                cursor: pointer;
                button{
                    font-family: $main_font;
                    font-weight: 900;
                    font-size: 16px;
                    line-height: 1;
                }
                &.yes{
                    border-color: $pale-turquoise;
                }
            }
        }
        &::before{
            content: "";
            position: absolute;
            top: 0px;
            width: 100%;
            height: 10px;
            background-color: $pale-grey;
            left: 0;
            transition: all 0.04s ease-in-out;
        }
    }
    &.active{
        .inner{
            background-color: white;
            border: 1px solid $pale-grey;
            opacity: 1;
            &::before{
                opacity: 0;
            }
        }
    }
    &.second{
        .inner{
            opacity: 1;
            border-color: #f4f7fa;
            border-top-color: transparent;
            &::before{
                background-color: #f4f7fa;
            }
        }
    }
    &.third{
        .inner{
            opacity: 1;
            border-color: #f9fafc;
            border-top-color: transparent;
            &::before{
                background-color: #f9fafc;
            }
        }
    }
}