.deck{
    height: 430px;
    height: 96vw;
    min-height: 400px;
    max-height: 510px;
    position: relative;
    width: 95%;
    margin: 10rem auto;
    max-width: 600px;
    @include md{
        height: 70vw;
        max-height: 600px;
    }
}