
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    --button-attr: 40px;
    .button{
        width: var(--button-width-height);
        height: var(--button-width-height);
        display: flex;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        background-color: $bluey-grey;
        position: relative;
        cursor: pointer;
        //border: 2px solid $bluey-grey;
        .spring-spinner{
            height: var(--button-width-height);
            width: var(--button-width-height);
            .spring-spinner-part{
                overflow: hidden;
                height: calc(var(--button-width-height) / 2);
                width: var(--button-width-height);
                &.bottom{
                    transform: rotate(180deg) scale(-1, 1);
                }
                .spring-spinner-rotator{
                    width: var(--button-width-height);
                    height: var(--button-width-height);
                    border: 2px solid transparent;
                    border-right-color: $bluey-grey;
                    border-top-color: $bluey-grey;
                    border-radius: 50%;
                    box-sizing: border-box;
                    animation: spring-spinner-animation 3s ease-in-out infinite;
                    transform: rotate(-200deg);
                }
            }
        }
        .progress{
            position: absolute;
            height: calc(100% + 6px);
            width: calc(100% + 6px);
            opacity: 0;
            visibility: hidden;
            user-select: none;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            direction: rtl;
            & > div{
                width: 100% !important;
                height: 100% !important;
                left: 0;
                circle{
                    stroke-width: 4px !important;
                    stroke: $bluey-grey;
                }
            }
            .text-box{
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                .text{
                    color: black;
                    font-size: 18px;
                    font-family: $main_font;
                    font-weight: bold;
                }
            }
        }
        button{
            font-family: $main_font;
            font-weight: 900;
            font-size: 16px;
            line-height: 1;
            color: white;
            cursor: pointer;
        }
        &.yes{
            background-color: $pale-turquoise;
            .spring-spinner-rotator{
                border-right-color: $pale-turquoise !important;
                border-top-color: $pale-turquoise !important;
            }
            .progress{
                circle{
                    stroke: $pale-turquoise;
                }
            }
        }
        &.loading{
            border-color: transparent  !important;
            background-color: white !important;
            user-select: none;
            cursor: wait;
            button{
                cursor: wait;
            }
        }
        &.disabled{
            user-select: none;
            // pointer-events: none;
            cursor: wait;
            button{
                cursor: wait;
            }
        }
        &.results{
            background-color: white !important;
            border: 1px solid $pale-grey !important;
            cursor: default;
            .progress{
                opacity: 1;
                visibility: visible;
            }
            button{
                display: none;
            }
            .spring-spinner{
                display: none;
            }
        }
    }
    .question{
        font-size: 16px;
        font-weight: bold;
        color: black;
        @include lg{
            font-size: 30px;
        }
    }
    &.card{
        .question{
            display: none;
        }
        .button{
            border: 2px solid $bluey-grey;
            background-color: white;
            button{
                color: black;
            }
            &.yes{
                border-color: $pale-turquoise;
            }
        }
    }
    &.slider{
        .question{
            display: none;
        }
        --button-width-height: 71px;
        .button{
            width: 71px;
            height: 71px;
        }
    }
    &.post{
        flex-direction: row-reverse;
        @include lg{
            --button-width-height: 71px
        }
    }
}




@keyframes spring-spinner-animation {
    50% {
        transform: rotate(115deg);
      //border-width: calc(60px / 7);
    }
}