.voting-slider{
    display: flex;
    flex-wrap: wrap;
    margin: 6rem 0;
    padding: 0 60px;
    max-width: 1222px;
    position: relative;
    margin: 6rem auto;
    .main{
        flex: 1;
        width: 100%;
        margin-top: 100px;
        position: relative;
        .arrow{
            position: absolute;
            top: 50%;
            right: 23%;
            transform: translateX(50%);
            z-index: 10;
            cursor: pointer;
            svg{
                width: 80px;
                height: auto;
            }
            &.next{
                left: 0;
                right: unset;
                transform: translateX(-50%) scale(-1);
            }
        }
        .slider{
            width: 77% !important;
            margin-right: auto !important;
            margin-left: 0 !important;
            .slide{
                height: auto !important;
                margin-bottom: 50px;
            }
        }
    }
    .info{
        width: 55%;
        height: 250px;
        margin-left: -25%;
        background-color: $pale-grey;
        position: absolute;
        right: 20px;
        top: 0;
    }
}