.main-slide{
    background-color: white;
    border: 2px solid $pale-grey;
    text-align: center;
    padding: 0 6%;
    padding-top: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .content{
        .image{
            width: 90%;
            margin: 0 auto;
            figure{
                padding-bottom: 31.45478374836173%;
                position: relative;
                picture{
                    img{
                        width: 100%;
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        object-fit: cover;
                        object-position: top;
                        pointer-events: none;
                    }
                }
            }
        }
        .details{
            margin: 0 auto;
            margin-top: 20px;
            width: 90%;
            h2{
                font-size: 30px;
                line-height: 1.3;
                direction: rtl;
            }
            .excerpt{
                margin-top: 15px;
                font-size: 18px;
                font-weight: normal;
                color: $steel;
                direction: rtl;
                line-height: 1.3;
            }
        }
    }
    .buttons{
        transform: translateY(calc(50% - 2px));
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 88%;
        margin: 0 auto;
        z-index: 4;
        .button{
            width: 71px;
            height: 71px;
            display: flex;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            background-color: $bluey-grey;
            cursor: pointer;
            //border: 2px solid $bluey-grey;
            button{
                font-family: $main_font;
                font-weight: 900;
                font-size: 16px;
                line-height: 1;
                color: white;
            }
            &.yes{
                background-color: $pale-turquoise;
            }
        }
    }
}


.info-slide{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-right: 40px;
    .col{
        width: 50%;
        .source{
            .logo{
                img{
                    pointer-events: none;
                    height: 50px;
                    width: auto;
                }
            }
            .name{
                margin-top: 15px;
                font-size: 22px;
                font-weight: bold;
                color: black;
                line-height: 1;
            }
            .country{
                font-size: 18px;
                margin-top: 10px;
                font-weight: normal;
                color: black;
                line-height: 1;
            }
        }
    }
    .type-col{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        .type{
            display: flex;
            align-items: center;
            span{
                font-size: 22px;
                font-weight: 900;
                color: black;
                margin: 0 8px;
            }
            .icon{
                display: flex;
                margin-top: 4px;
                svg{
                    width: 30px;
                    height: auto;
                    fill: $battleship-grey;
                    path{
                        fill: $battleship-grey;
                    }
                }
                &.reverse{
                    transform: scaleX(-1);
                }
            }
        }
    }
}