.tag-page{
    // padding-top: 3rem;
    // padding-left: $page-padding-left;
    // padding-right: $page-padding-right;
    // padding-bottom: 3rem;
    .tag-info{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
            svg{
                height: 34px;
                width: auto;
                @include lg{
                    height: 55px;
                }
            }
        .title{
            background: black;
            
            color: white;
            padding: 0 20px;
            height: 34px;
            font-weight: bold;
            padding-right: 10px;
            font-size: 20px;
            padding-bottom: 0px;
            display: flex;
            align-items: center;
            align-self: center;
            margin-right: -1px;
            @include lg{
                height: 55px;
                padding-bottom: 0;
                padding-left: 30px;
            }
        }
    }
    .tag-posts{
        padding: 15% 0;
        @include lg{
            max-width: 840px;
            margin-left: auto;
            padding: 6rem 0;
        }
    }
}

.pagination{
    margin-top: 5rem !important;
}